---
layout: default
title: The Netlify Blog. All about static web-tech and netlify.
---
<div class="l-wrap bg-light-muted-2">
  <div class="l-wrap-inner l-wrap-inner--main-left">
    
    <div class="l-main l-main--left" role="main">
      {% for post in site.posts %}
      <article class="post">
        <header class="post-hd">
          <h1 class="post-title">
            {{post.title}}
          </h1>
          <p class="post-meta">By {{post.author}}, {{post.date | date: "%B %-d %Y" }}</p>
        </header>
        <div class="post-img">
          <img src="{{post.image}}">
        </div>
        <div class="post-bd">
          {{post.excerpt}}
        </div>
        <div class="post-jumpline"><a href="{{post.url}}" class="link-more">More</a></div>
      </article>
      {% endfor %}
      
      <div class="banner" role="complementary">
        <p>Made for web developers <a href="/"><strong>Netlify</strong></a> is the default entry point to the world of static</p>
      </div>
    </div>
    
    <div class="l-aside l-aside--right inverse blog-aside" role="complementary">
      <h1 class="blog-aside-title">More Articles</h1>
      {% for post in site.posts %}
        <article class="blurb">
          <header class="blurb-hd">
            <div class="media">
              <div class="media-img optional">
                {% author_img post.author%}
              </div>
              <div class="media-bd">
                <h1 class="blurb-title">{% if post.short_title %}{{post.short_title}}{% else %}{{post.title}}{% endif %}</h1>
                <p class="blurb-meta"><a href="{{post.url}}" class="link">by {{post.author}}</a></p>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="small muted">{{post.description}}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>