---
layout: default
title: The Netlify Blog. All about static web-tech and Netlify.
---
<div class="wrap bg-light-muted-3">
  <div class="wrap-inner wrap-inner--main-left">
    <div class="main main--left">
    {% for post in site.posts %}
      <article class="post">
        <header class="post-hd">
          <a href="{{post.url}}">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-meta">By {{post.author}}, {{post.date | date: "%B %-d %Y" }}</p>
          </a>
        </header>
        {% if post.image %}
        <figure class="post-img">
          <img data-src="{{post.image}}" class="lazyload">
          {% if post.image_caption %}
            <figcaption>{{ post.image_caption | markdownify}}</figcaption>
          {% endif %}
        </figure>
        {% else %}
        <div class="post-img"></div>
        {% endif %}
        <div class="post-bd text">
          {{post.excerpt}}
        </div>
        <div class="post-jumpline content--xnarrow"><a href="{{post.url}}" class="link-more">More</a></div>
      </article>
    {% endfor %}

    {% include post-banner.html %}

    </div>

    <section class="sidebar sidebar--right inverse">
      <h1 class="sidebar-title">More Articles</h1>
      <ul class="grid grid--spacing">
        {% for post in site.posts %}
        <li class="col">
          {% include post-blurb.html %}
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</div>
