---
layout: default
title: The Netlify Blog. All about static web-tech and netlify.
---
<div class="l-wrap bg-white">
  <div class="l-wrap-inner l-wrap-inner--main-left">

    <section class="l-main l-main--left" role="main">
      {% for post in site.posts %}
      <article class="post">
        <header class="post-hd">
          <h1 class="post-title">
            <a href="{{post.url}}" class="dark">{{post.title}}</a>
          </h1>
          <p class="post-meta">By {{post.author}}, {{post.date | date: "%B %-d %Y" }}</p>
        </header>
        <div class="post-img">
          {% if post.image %}
          {% image_tag src=post.image width="730" %}
          {% endif %}
        </div>
        <div class="post-bd text">
          {{post.excerpt}}
        </div>
        <div class="post-jumpline"><a href="{{post.url}}" class="link-more">More</a></div>
      </article>
      {% endfor %}

      <aside class="banner" role="complementary">
        <p>Made for web developers <a href="/"><strong>Netlify</strong></a> is the default entry point to the world of static</p>
      </aside>
    </section>

    <section class="l-aside l-aside--right inverse blog-aside" role="complementary">
      <h1 class="blog-aside-title">More Articles</h1>
      {% for post in site.posts %}
        {% include post-blurb.html %}
      {% endfor %}
    </section>
  </div>
</div>
