---
layout: default
title: Features
content-width: narrow
---

{% assign sections = site.features | sort: 'position' %}

<article>

  <nav class="inverse bg-dark-muted bb bb--large">

    <div class="content">

      <header class="text-center mt-80 mb-n20 bb hide-for-large">
        <h1 class="mega mb-60">Features</h1>
      </header>

      <div class="l-arrange mt-80 mb-60">
        <div class="l-arrange-fit v-middle optional">
          <div class="callout callout--large callout--outline mr-60 ml-n20">
            <svg width="276" height="276" class="callout--large">
              <use xlink:href="#icon-polyhedron"></use>
            </svg>
          </div>
        </div>
        <div class="l-arrange-fill">
          <div class="l-2-col-auto">
          {% for section in sections %}
            <a href="#{{section.title | slugify}}" class="blurb break-inside-avoid">
              <h2 class="blurb-title medium highlight">
                {{ section.title }}
              </h2>
              <p class="x-small loud">
                {{ section.description }}
              </p>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="bg-light-muted-2">

    <div class="content content--{{page.content-width}}">

      {% for section in sections %}
        <section class="mt-40 mb-40 bb bb--muted" id="{{ section.title | slugify }}">
          <header class="text-center mb-40">
            <svg width="120" height="120" class="highlight">
              <use xlink:href="#polyhedron" />
            </svg>
            <h2 class="gamma highlight mt-n10">{{ section.title }}</h2>
          </header>
          <div class="l-2-col-auto mb-40">
            {% for feature in section.features %}
            <div class="blurb break-inside-avoid">
              <h3 class="blurb-title zeta">{{ feature.title }}</h3>
              <div class="blurb-text">
              {{ feature.body | markdownify }}
              </div>
            </div>
            {% endfor %}
          </div>
        </section>

      {% endfor %}

      {% include pricing-footer.html %}
    </div>
  </div>
</article>
