---
layout: default
title: Features
content-width: narrow
---
<article class="bg-light muted">
  <div class="content content--{{page.content-width}}">
    <h1 class="tera text-center mt-80 mb-30">{{page.title}}</h1>

    <hr class="bb bb--muted mt-40 mb-40">

    {% assign sections = site.features | sort: 'position' %}

    {% for section in sections %}

      <section>
        <header class="text-center mb-40">
          <svg width="120" height="120" class="highlight">
            <use xlink:href="#polyhedron" />
          </svg>
          <h2 class="gamma highlight mt-n10">{{ section.title }}</h2>
        </header>
        <div class="l-2-col-auto">
          {% for feature in section.features %}
          <div class="blurb break-inside-avoid">
            <h3 class="blurb-title zeta">{{ feature.title }}</h3>
            <div class="blurb-text">
            {{ feature.body | markdownify }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <hr class="bb bb--muted mt-40 mb-40">

    {% endfor %}

    {% include pricing-footer.html %}
  </div>
  </div>
</article>
