---
layout: default
---

<!-- Hero -->
<section class="bg-light">
  <div class="content content--wide">
    <div class="media media--wide">
      
      <!-- Video -->
      <div class="media-img">
        <a href="#" class="button-video">
          <img src="/img/video.png">
          <div class="callout">
            <p class="callout-text">
              <span class="zeta">It’s pretty</span>
              <strong class="delta semibold">Simple</strong>
            </p>
          </div>
        </a>
      </div> <!-- end media-img -->
      
      <!-- Blurb -->
      <div class="media-bd">
        <div class="blurb w-355 center">
          <h1 class="huge overloud mt-0">
            <span class="block ml-n5">netlify</span>
            <small class="alpha highlight block">Builds, deploys &amp; hosts your static site or app</small>
          </h1>
          <p>
            <a href="#" class="button button--large">
              <svg class="button-icon" width="68" height="68">
                <use xlink:href="#icon-arrow" />
              </svg>
              <span class="button-label">START HERE</span>
            </a>
          </p>
          <p class="small-2 overloud text-right">Basic packages <strong class="highlight">free forever</strong> – no credit card required</p>
        </div>
      </div> <!-- end media-bd -->
    </div><!-- end media -->
  </div><!-- end content -->
</section>
<!-- end Hero -->

<!-- Pull Quote -->
<section class="bg-white muted text-center bb bb--large">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <a href="#" class="button-video mt-60 mb-50 center show-med">
      <img src="/img/video.png">
      <div class="callout">
        <p class="callout-text">
          <span class="zeta">It’s pretty</span>
          <strong class="delta semibold">Simple</strong>
        </p>
      </div>
    </a>
    <p class="pullquote delta thin p--wide mt-40 mb-40">Made for web developers <strong class="highlight">Netlify</strong> is the default entry point to the world of static</p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

<!-- Products -->
<section class="bg-dark inverse bb bb--large">
  <div class="content">

    <div class="l-container mt-115 mb-100 ml-n10">

      <!-- Callout -->
      <div class="l-third optional">
        <div class="callout callout--large mt-70 ml-n20">
          <p class="callout-text"><span class="beta">Choose between</span></p>
        </div>
      </div><!-- end -third -->
    
      <!-- Full Monty -->
      <div class="l-third l-half-med">
        <section class="blurb">
          <header class="blurb-hd">
            <div class="media media--bleed">
              <div class="media-img">
                <svg width="108" height="108">
                  <use xlink:href="#icon-polyhedron" />
                </svg>
              </div>
              <div class="media-bd">
                <h1 class="alpha bold w-0 mt-15 mb-20">Full Monty</h1>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="zeta">Builds, deploys, configuration, hosting and maintenance rolled into one</p>
            <p class="small">This is a short descriptive text about the Full Monty Package. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus.</p>
            <p class="cta">
              <a href="#" class="button">
                <svg class="button-icon" width="50" height="50">
                  <use xlink:href="#icon-arrow" />
                </svg>
                <span class="button-label">Get started now</span>
              </a>
            </p>
          </div>
        </section>
      </div><!-- end l-third -->

      <!-- Hosting only -->
      <div class="l-third l-half-med">
        <section class="blurb">
          <header class="blurb-hd">
            <div class="media media--bleed">
              <div class="media-img">
                <svg width="108" height="108">
                  <use xlink:href="#icon-cube" />
                </svg>
              </div>
              <div class="media-bd">
                <h1 class="beta bold w-0 mt-25 mb-20">Hosting only</h1>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="zeta">The market’s most fully-featured static site CDN hosting</p>
            <p class="small">This is a short descriptive text about the Hosting only Package. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus.</p>
            <p class="cta">
              <a href="#" class="button">
                <svg class="button-icon" width="50" height="50">
                  <use xlink:href="#icon-arrow" />
                </svg>
                <span class="button-label">Get started now</span>
              </a>
            </p>
          </div>
        </section>
      </div><!-- end l-third -->
    </div><!-- end l-container -->
  </div><!-- end content -->
</section>
</div><!-- end fullscreen -->

<!-- Newsletter, Testimonials and Client Logos -->
<section class="bg-light-muted muted text-center bb bb--large">
  <div class="content content--narrow">
    
    <!-- Newsletter -->
    <section class="bb bb--muted mt-90 mb-40">
      <header>
        <h1 class="alpha mb-30">Sign up for our newsletter and stay tuned on all that’s static</h1>
        <p class="zeta p--wide">Sign up for our awesome newsletter, if you want to hear about exciting things happening in the world of static websites, and of new Netlify features that are around the corner.</p>
      </header>
      <form class="form form--fancy mt-25">
        <p class="form-group">
            <label class="visuallyhidden" for="input-email">Email</label>
            <input type="email" name="email" id="input-email" placeholder="your@email.com">
        </p>
        <p class="form-group">
          <label class="visuallyhidden" for="input-name">Name</label>
          <input type="text" name="name" placeholder="Name">
        </p>
        <button type="submit" class="form-button">Sign up</button>
      </form>
      <p class="x-small mt-30 mb-30 p--full-w">We send out aprox. twice a month. Go ahead, we won’t give away your address or anything, and each email is handwritten (on a keyboard).</p>
    </section>

    <!-- Testimonials -->
    <section class="bb bb--muted mt-40 mb-40">
      <h1 class="alpha">What our clients say</h1>
      <div class="l-container mt-40 mb-40">
        {% for i in (1..3) %}
        <div class="l-third">
          <section class="blurb">
            <header class="blurb-hd">
              <img src="http://placehold.it/120x90" srcset="http://placehold.it/120x90 1x, http://placehold.it/240x180 2x, http://placehold.it/360x270 3x" height="90">
            </header>
            <div class="blurb-bd">
              <blockquote>
                <p>“Netlify is absolutely amazing. Before I believed in God and Humanity. Now only Netlify. All Hail Netlify. Amen.”</p>
                <cite>Shane Shaw CEO, Vice Media Network Ltmd.</cite>
              </blockquote>
            </div>
          </section>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Client logos -->
    <section class="mt-55 mb-85">
      <h1 class="alpha">A selection of our clients</h1>
      <div class="mt-40">
        <img src="http://placehold.it/80x40" width="80" height="40" class="mr-40">
        <img src="http://placehold.it/110x45" width="110" height="45" class="mr-40">
        <img src="http://placehold.it/50x50" width="50" height="50" class="mr-40">
        <img src="http://placehold.it/55x50" width="55" height="50" class="mr-40">
        <img src="http://placehold.it/55x40" width="55" height="40" class="mr-40">
        <img src="http://placehold.it/55x35" width="55" height="35" class="mr-40">
      </div>
    </section>
    
  </div><!-- end content -->
</section>

<!-- Blog and Social Links -->
<section class="bg-dark-muted inverse bb bb--large">
  <div class="content">

    <!-- Blog -->
    <section>
      <header class="text-center mt-90 mb-50">
        <h1 class="kilo highlight mb-35">Visit our static blog</h1>
        <p class="zeta muted p--wide">This is a short copy about the Netlify blog and what kind of topics and tricks you can learn from it.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
      </header>
      <div class="l-container">
        {% for i in (1..3) %}
        <div class="l-third">
          <article class="blurb">
            <header class="blurb-hd">
              <div class="media">
                <div class="media-img optional">
                  <img src="http://placehold.it/80x80" srcset="http://placehold.it/80x80 1x, http://placehold.it/160x160 2x, http://placehold.it/240x240" alt="Mathias Biilmann" width="80" height="80">
                </div>
                <div class="media-bd">
                  <h1 class="blurb-title">5 reasons to go static</h1>
                  <p class="blurb-meta"><a href="#" class="link">by Mathias Biilmann</a></p>
                </div>
              </div>
            </header>
            <div class="blurb-bd">
              <p class="small muted">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </section>
    
    <!-- Social links -->
    <section class="text-center mt-30 mb-80">
      <h1 class="gamma highlight inline-block v-middle mr-40">Socialize @</h1>
      
      <p class="inline-block v-middle">
        {% for social in site.social-links %}
        <a href="{{social.link}}" class="icon-link--round icon-link--{{social.name}}">
          <svg width="36" height="36" class="icon-{{social.name}}--round">
            <use xlink:href="#icon-{{social.name}}-round">
          </svg>
        </a>
        {% endfor %}
      </p>
    </section>
    
  </div><!-- end content-->
</section>

<!-- Pricing -->
<section class="bg-light-muted-2 muted text-center">
  <div class="content">
    <h1 class="tera mt-120">Pricing</h1>

    <!-- Hosting -->
    <section class="mt-20">
      <header>
        <svg width="100" height="100" class="highlight">
          <use xlink:href="#cube" />
        </svg>
        <h1 class="gamma highlight mt-n10 mb-20">Static Hosting</h1>
      </header>
      <div class="l-container">
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Free</h3>
            <ul class="tbody">
              <li class="td">Custom Domain</li>
              <li class="td">Netlify callout</li>
              <li class="td">100 MB Storage</li>
              <li class="td">1 GB Bandwidth</li>
              <li class="th">Free</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Basic</h3>
            <ul class="tbody">
              <li class="td">Custom Domain, Basic SSL</li>
              <li class="td">No Netlify Branding</li>
              <li class="td">1 GB Storage</li>
              <li class="td">1 GB Bandwidth</li>
              <li class="th">$9/month</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Pro</h3>
            <ul class="tbody">
              <li class="td">Custom Domain, Full SSL</li>
              <li class="td">No Netlify Branding</li>
              <li class="td">100 GB Storage</li>
              <li class="td">1 TB Bandwidth</li>
              <li class="th">$29/month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Continuous Deployment -->
    <section class="mt-20">
      <header>
        <svg width="110" height="110" class="highlight">
          <use xlink:href="#polyhedron" />
        </svg>
        <h1 class="gamma highlight mt-n10 mb-0">Continuous Deployment</h1>
        <p class="small-2 mt-10 mb-30">Run your builds on our servers for a flat fee every month</p>
      </header>
      <div class="l-container">
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Free</h3>
            <ul class="tbody">
              <li class="td">Open Source Projects</li>
              <li class="td">50 Monthly Builds</li>
              <li class="td">1 Concurrent Build</li>
              <li class="th">Free</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Basic</h3>
            <ul class="tbody">
              <li class="td">Private Repositories</li>
              <li class="td">200 Monthly Builds</li>
              <li class="td">2 Concurrent Builds</li>
              <li class="th">$29/month</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Pro</h3>
            <ul class="tbody">
              <li class="td">Private Repositories</li>
              <li class="td">500 Monthly Builds</li>
              <li class="td">5 Concurrent Builds</li>
              <li class="th">$49/month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Support -->
    <section class="mt-40 mb-100">
      <header>
        <h1 class="gamma highlight mt-0 mb-0">Support</h2>
        <p class="small p--wide loose mt-10 mb-30">Support is available to all Netlify users through our in-app support widget. Support tickets are prioritized based on both severity (i.e. application outages vs bug reports) as well as overall account spend. We're fanatical about giving extraordinary support, but for guaranteed response within 1-hour, 1-on-1 technical consulting, or your own dedicated account manager, please upgrade to a premium support plan.</p>
      </header>
      <div class="l-container">
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Standard</h3>
            <ul class="tbody">
              <li class="td">Support within business hours</li>
              <li class="td">9am–5pm PST</li>
              <li class="th">Free</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Premium</h3>
            <ul class="tbody">
              <li class="td">24/7 support</li>
              <li class="td">1 hour response SLA</li>
              <li class="th">$1,000/month</li>
            </ul>
          </div>
        </div>
        <div class="l-third">
          <div class="table">
            <h3 class="th th--highlight">Account Manager</h3>
            <ul class="tbody">
              <li class="td">Includes Premium Support</li>
              <li class="td">Dedicated Technical Consulting</li>
              <li class="th">$2,000/month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

