---
layout: default
title: Continuous Deployment for Static Sites
---

<!-- Hero -->
<section class="bg-light">
  <div class="content content--wide">
    <div class="media media--wide">

      <!-- Video -->
      <div class="media-img">
        <a href="#" class="button-video" data-video-id="G7pCcE3vm5k">
          <img src="/img/video.png">
          <div class="play-button"></div>
          <div class="callout">
            <p class="callout-text">
              <span class="zeta">Never Wait for your</span>
              <strong class="delta semibold">CDN</strong>
            </p>
          </div>
        </a>
      </div> <!-- end media-img -->

      <!-- Blurb -->
      <div class="media-bd">
        <div class="blurb w-380 center">
          <h1 class="huge overloud mt-0">
            <span class="block ml-n5">netlify</span>
            <small class="alpha highlight block">
              CDN Hosting with instant cache invalidation
            </small>
          </h1>
          <p>
            <a href="https://app.netlify.com" class="button button--large js-swipe">
              <svg class="button-icon" width="68" height="68">
                <use xlink:href="#icon-arrow" />
              </svg>
              <span class="button-label">START HERE</span>
            </a>
          </p>
          <p class="small-2 overloud text-right">Basic packages <strong class="highlight">free forever</strong> – no credit card required</p>
        </div>
      </div> <!-- end media-bd -->
    </div><!-- end media -->
  </div><!-- end content -->
</section>
<!-- end Hero -->

<!-- Pull Quote -->
<section class="bg-white muted text-center bb bb--large">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <a href="#" class="button-video mt-60 mb-50 center show-med" data-video-id="G7pCcE3vm5k">
      <img src="/img/video.png">
      <div class="callout">
        <p class="callout-text">
          <span class="zeta">It’s pretty</span>
          <strong class="delta semibold">Simple</strong>
        </p>
      </div>
    </a>
    <p class="pullquote delta thin p--wide mt-40 mb-40">
      <strong class="highlight">Fastest</strong> time-to-first-byte, incredible <strong class="highlight">cache hit rate</strong> with <strong class="highlight">no wait</strong> when you deploy.
    </p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

<!-- Products -->
<section class="bg-dark-cover inverse bb bb--large">
  <div class="content">

    <div class="l-container mt-115 mb-0 ml-n10">

      <!-- Callout -->
      <div class="l-third optional">
        <div class="callout callout--large mt-70 ml-n20">
          <p class="callout-text"><span class="beta">
            Don't Settle<br>
            For Anything<br>
            Less
          </span></p>
        </div>
      </div><!-- end -third -->

      <!-- Hosting only -->
      <div class="l-third l-half-med">
        <section class="blurb">
          <header class="blurb-hd">
            <div class="media media--bleed">
              <div class="media-bd">
                <h1 class="beta bold w-0 mt-25 mb-20">Full hosting</h1>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="zeta">The market’s most fully-featured static site CDN hosting</p>
            <p class="small">To really get the full potential of your static site it’s a must to place it on a CDN. One that does proper cache invalidation as well. Netlify provides the fastest, most full-featured CDN hosting solution on the market. Try us out. We guarantee you won’t be disappointed.</p>
          </div>
        </section>
      </div><!-- end l-third -->

      <!-- Full Monty -->
      <div class="l-third l-half-med">
        <section class="blurb">
          <header class="blurb-hd">
            <div class="media media--bleed">
              <div class="media-bd">
                <h1 class="beta bold w-0 mt-25 mb-20">Full automation</h1>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="zeta">Builds, deploys, configuration, hosting and maintenance rolled into one</p>
            <p class="small">Let netlify automate your whole static workflow. With our automation software, you simply login, choose your favourite static site generator and press Start. Your site is then automatically built &amp; deployed. When you push to  Github / Bitbucket, your site updates.</p>

          </div>
        </section>
      </div><!-- end l-third -->
    </div><!-- end l-container -->
    <div class="l-container mt-0 mb-100 ml-n10">
      <div class="l-third l-half-med center">
        <p class="cta">
          <a href="https://app.netlify.com" class="button js-swipe">
            <svg class="button-icon" width="50" height="50">
              <use xlink:href="#icon-arrow" />
            </svg>
            <span class="button-label">Get started now</span>
          </a>
        </p>
      </div>
    </div>
  </div><!-- end content -->
</section>
</div><!-- end fullscreen -->

<!-- Pull Quote -->
<section class="bg-white muted text-center">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <p class="pullquote delta thin p--wide mt-40 mb-40">
      <strong class="highlight">15,000+</strong> Developers •
      <strong class="highlight">35,000+</strong> Web Sites •
      <strong class="highlight">150,000+</strong> Deploys
    </p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

<!-- Newsletter, Testimonials and Client Logos -->
<section class="bg-light-muted muted text-center bb bb--large">
  <div class="content content--narrow">

    <!-- Newsletter -->
    <section class="bb bb--muted mt-90 mb-40">
      <header>
        <h1 class="alpha mb-30">Sign up for our newsletter and stay tuned on all that’s static</h1>
        <p class="zeta p--wide">Sign up for our awesome newsletter, if you want to hear about exciting things happening in the world of static websites, and of new Netlify features that are around the corner.</p>
      </header>
      {% include newsletter-form.html %}
      <p class="x-small mt-30 mb-30 p--full-w">{% include newsletter-copy.html %}</p>
    </section>

    {% include testimonials.html %}
  </div><!-- end content -->
</section>

<!-- Blog and Social Links -->
<section class="bg-dark-muted-cover inverse bb bb--large">
  <div class="content">

    <!-- Blog -->
    <section>
      <header class="text-center mt-90 mb-50">
        <h1 class="kilo highlight mb-35"><a href="/blog">Visit our blog</a></h1>
        <p class="zeta muted p--wide">See the blog for tons of articles, tips, tricks and opinions on all that is related to static web-tech.</p>
      </header>
      <div class="l-container">
        {% for post in site.posts | limit:3 %}
        <div class="l-third">
          <article class="blurb">
            <header class="blurb-hd">
              <div class="media">
                <div class="media-img optional">
                  {% image_tag src=post.thumbnail width="80" %}
                </div>
                <div class="media-bd">
                  <h1 class="blurb-title">
                    <a href="{{post.url}}" class="light">{% if post.short_title %}{{post.short_title}}{% else %}{{post.title}}{% endif %}</a>
                  </h1>
                  <p class="blurb-meta"><a href="{{post.url}}" class="link">by {{post.author}}</a></p>
                </div>
              </div>
            </header>
            <div class="blurb-bd">
              <p class="small muted">{{post.description}}</p>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Social links -->
    <section class="text-center mt-30 mb-80">
      <h1 class="gamma highlight inline-block v-middle mr-40">Socialize @</h1>

      <p class="inline-block v-middle">
        {% for link in site.social-links %}
        <a href="{{link[1]}}" class="icon-link--round icon-link--{{link[0]}}">
          <svg width="36" height="36" class="icon-{{link[0]}}--round">
            <use xlink:href="#icon-{{link[0]}}-round">
          </svg>
        </a>
        {% endfor %}
      </p>
    </section>

  </div><!-- end content-->
</section>
