---
layout: default
title: Newsletter Signup
---
<section class="bg-dark-muted inverse">
  <div class="content text-center">
    <section class="mt-90 mt-120 mb-120">
      <header>
        <h1 class="alpha mb-30 muted">Sign up for our newsletter and stay tuned on all that’s static</h1>
        <p class="zeta p--wide muted">Sign up for our awesome newsletter, if you want to hear about exciting things happening in the world of static websites, and of new Netlify features that are around the corner.</p>
      </header>
      {% include newsletter-form.html %}
      <p class="x-small mt-30 mb-30 p--full-w muted">{% include newsletter-copy.html %}</p>
    </section>
  </div>
</section>
