---
layout: default
title: Plans & Pricing
---
<section class="bg-dark-muted inverse bb bb--large">
  <div class="content">
    <header>
      <h1 class="alpha mt-80 mb-80 text-center">Use netlify to automate your entire static site workflow, or only use the hosting service.</h1>
    </header>

    <div class="bb bb--mega mb-100 text-center-med">
      <header class="bb mb-40">
        <h2 class="alpha bold mb-20">Static Hosting</h2>
      </header>

      <div class="l-container mb-80">
        <div class="l-third mb-30">
          <svg width="200" height="200">
            <use xlink:href="#icon-cube" />
          </svg>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Global Network</h5>
              <p>Sites hosted on netlify are served straight out of our CDN nodes around the world with incredibly low latency.</p>

              <h5 class="medium bold highlight mt-40 mb-0">Instant Cache Invalidation</h5>

              <p>No need to wait for your CDN to update. The new version of your Site is live the moment your deploy is done.</p>

              <h5 class="medium bold highlight mt-40 mb-0">Atomic Deploys</h5>

              <p>No inconsistent state while you're uploading. Your deploy only goes live when all changes have been uploaded.</p>

            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Drag'n Drop interface</h5>
              <p>If you just need to host your static site just drag your site folder onto your browser and in seconds you're live accross a lightning fast, global CDN.</p>

              <h5 class="medium bold highlight mt-40 mb-0">...And much more like:</h5>

              <p>- API proxying<br>
              - SSL for custom domains<br>
              - Handle form submissions<br>
              - Redirect & Rewrite Rules<br>
              - Control over custom headers<br>
              - Inject JS snippets into all pages<br>
              - Manage production/staging environments<br>
              - Built in versioning with instant rollbacks
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="bb bb--mega mb-100 text-center-med">
      <header class="bb mb-40">
        <h2 class="alpha bold mb-20">Continuous Deployment</h2>
      </header>

      <div class="l-container mb-80">
        <div class="l-third mb-30">
          <svg width="200" height="200">
            <use xlink:href="#icon-polyhedron" />
          </svg>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Link to Github or Bitbucket</h5>

              <p>Easily link a Netlify site to a Github or Bitbucket repo. Whenever you push to Github we run your build and deploy the result.</p>

              <h5 class="medium bold highlight mt-40 mb-0">Secure Environment</h5>

              <p>We never store any Github tokens on our servers and your builds are run in a completely locked down environment.</p>
            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Cached Dependencies</h5>

              <p>Dependencies (rubygems, npm, etc) are automatically installed and cached between builds to keep build time down.</p>

              <h5 class="medium bold highlight mt-40 mb-0">Webhooks &amp; notifications</h5>

              <p>Whether you need to trigger a build &amp; deploy through a webhook or receive notifications on new deploys, netlify got you covered.</p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <header class="text-center mb-80">
      <h3>
        Besides making everything as full featured, fast and cheap as possible, <span class="highlight">Developer Friendliness</span> is super close to heart for us. Here are but a few of the things we made to make your coding life simpler and 13,7 % healthier:
      </h3>
    </header>

    <div class="l-container mb-120 text-center-med">
      <div class="l-third">
        <div class="blurb">
          <div class="blurb-bd small">
            <h5 class="medium bold highlight mb-0">Command line tools</h5>

            <p>
            All of Netlify's functionality can be accessed directly from the terminal, it's just an "npm install netlify-cli" away.</p>
          </div>
        </div>
      </div>
      <div class="l-third">
        <div class="blurb">
          <div class="blurb-bd small">
            <h5 class="medium bold highlight mb-0">Rest API</h5>

            <p>Netlify's own UI is an Angular app built on top of a powerful REST API. Full access to all of this from your programming language of choice.</p>
          </div>
        </div>
      </div>
      <div class="l-third">
        <div class="blurb">
          <div class="blurb-bd small">
            <h5 class="medium bold highlight mb-0">Share your setup</h5>

            <p>You can share preconfigured projects and earn affiliate fees. Got the perfect Gulp + Angular + Foundation setup? Share it with the World!</p>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end content -->
</section>
</div>

<!-- Pricing -->
<section class="bg-light-muted-2 muted text-center">
  <div class="content">
    <h1 class="tera mt-120">Pricing</h1>

    <div class="bb bb--muted">
    {% include plans.html %}
    </div>

    {% include testimonials.html %}
  </div>
</section>
