---
layout: default
title: Plans & Pricing
content-width: default
---


<!-- Pricing -->
<section class="bg-light-muted-2 text-center">
  <div class="content">

    <header class="mt-110 mb-55">
      <h1 class="tera">Pricing</h1>
      <p class="epsilon">
        <a href="/features.html">
          See Features for a full feature list<svg width="20" height="20" class="append"><use xlink:href="#icon-arrow" class="light" /></svg>
        </a>
      </p>
    </header>

    <table class="pricing-table">
      <thead>
        <tr>
          <th class="td plan--features-th">
            <div class="plan--features-icon">
              <svg width="96" height="96">
                <use xlink:href="#icon-polyhedron" />
              </svg>
            </div>
            <h3 class="large bold highlight mt-15 mb-0">Features</h3>
            <p class="x-small muted mt-5">All plans include free SSL</p>
          </th>
          {% for plan in site.data.plans.plans %}
          <th class="plan--th">
            <div class="plan--price th--highlight">
              <span class="plan--amount">{{ plan.price}}</span>
              <span class="plan--period">
                month
                <small class="x-small block">per site</small>
              </span>
            </div>
            <div class="plan--title large {% cycle 'bg-tint1', 'bg-tint2', 'bg-tint3', 'bg-highlight' %}">{{ plan.title }}</div>
            <div class="td plan--note highlight">{{ plan.price_note | newline_to_br }}</div>
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for attribute in site.data.plans.attributes %}
          <tr>
            <td class="plan--feature">
              <span class="plan--feature-title">{{ attribute.title }}</span>
            </td>
            {% for detail in attribute.details %}
            <td>
              <div class="plan--feature-plan">{{ site.data.plans.plans[forloop.index0].title }}: </div>
              <div class="plan--feature-attr">
                {% if detail == "Yes" %}
                <span class="icon icon-yes"></span>
                {% elsif detail == "No" %}
                <span class="icon icon-no"></span>
                {% else %}
                {{ detail }}
                {% endif %}
              </div>
            </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="mobile-pricing-table">
      <p class="small loud">– All plans include free SSL –</p>
      {% for plan in site.data.plans.plans %}
        {% assign index = forloop.index0 %}
        {% capture color %}{% cycle 'bg-tint1', 'bg-tint2', 'bg-tint3', 'bg-highlight' %}{% endcapture %}
          <div class="table">
            <h3 class="plan--title {{color}}">{{plan.title}}</h3>
            <ul class="tbody">
              {% for attribute in site.data.plans.attributes %}
                {% assign detail = attribute.details[index] %}
                {% if detail != 'No' and detail != "0" %}
                  <li class="td">
                    {% if detail != "Yes" and detail != "Netlify Callout" %}{{detail}}{% endif %}
                    {% if detail == "Netlify Callout" %}Custom Domain with Callout{% endif %}
                    {% if attribute.postfix %}{{attribute.postfix}}{% else %}{{attribute.title}}{% endif %}
                  </li>
                {% endif %}
              {% endfor %}
              <li class="plan--price th--highlight">
                <span class="plan--amount l-half">{{ plan.price}}</span>
                <span class="plan--period l-half">
                  month
                  <small class="x-small block">per site</small>
                </span>
              </li>
              <li class="x-small mt-10">{{ plan.price_note }}</li>
            </ul>
          </div>
      {% endfor %}
    </div>

    {% include pricing-footer.html %}

  </div>
</section>
