---
layout: default
title: Plans & Pricing
---
<section class="bg-dark-muted inverse bb bb--large">
  <div class="content">
    <header>
      <h1 class="alpha mt-80 mb-80 text-center">Netlify is the premium hosting solution for static websites and apps.</h1>
    </header>

    <div class="bb bb-mega mb-100 text-center-med">
      <header class="bb mb-40">
        <h2 class="alpha bold mb-20">What sets netlify apart from the rest</h2>
      </header>

      <div class="l-container">
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Full-featured</h5>
              <p>Netlify is by far the most full-featured hosting service on the static site market, with 40+ distinct features rolled out.</p>
            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Fastest</h5>
              <p>Netlify is more than twice as fast than any competitor. Please don’t just take our word for it. Try out a free plan and see for yourself!</p>
            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Integrated Continuous Deployment</h5>
              <p>Netlify is the only static hosting service that runs your build and deploys site whenever you push to Git.</p>
            </div>
          </section>
        </div>
      </div>

      <div class="l-container mt-40 mb-20">
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Instant cache invalidation</h5>
              <p>
                It might sound like just a technical detail but it’s a very defining part of netlify.
                When you upload a new version of your site, you don’t have to wait 10-120 minutes as with the other services. Here you can instantly see your changes live!
              </p>
            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">The 4 packages</h5>
              <p>
                The free package alone offers more features than most others do in their paid plans.
                All packages contain netlify key features, but with things like storage, bandwith, no. of deploys, and support plans increasing which each level.
              </p>
            </div>
          </section>
        </div>
        <div class="l-third">
          <section class="blurb blurb--wide">
            <div class="blurb-bd small">
              <h5 class="medium bold highlight mt-0 mb-0">Enterprise</h5>
              <p>The enterprise features are high-end and caters large international clients, with millions of hits on a daily basis. Geo ip, language based redirects, custom SLAs, and more. See a feature list below.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div><!-- end content -->
</section>
</div>

<!-- Pricing -->
<section class="bg-light-muted-2 muted text-center">
  <div class="content">
    <h1 class="tera mt-120">Pricing</h1>

    <div class="bb bb--muted">
    {% include plans.html pricing2="yes" %}
    </div>

    {% include testimonials.html %}
  </div>
</section>
