---
permalink: /index.html
---

{% assign open_incidents = site.incidents | where: "resolved", nil | sort: "date:desc" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netlify Status: {% if open_incidents == empty %} OK {% else %} Houston, we have a problem {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'>
    <link rel="stylesheet" href="/css/status.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="page-status">
  
  {% include svg-defs.html %}

  <!-- Site Header -->

  <header class="site-header bb bb--medium inverse" role="banner">
    <div class="content content--wide">
      
      <!-- Branding -->
 
      <section class="brand left mt-20 mb-20">
        <a href="https://www.netlify.com" class="loud">
          <svg class="brand-logo" width="180" height="70">
            <use xlink:href="#netlify-logo" />
          </svg>
        </a>
      </section>


      <!-- Social Links -->
 
      <nav class="top-nav right mt-20 optional">
        <ul class="nav nav--social">
          {% for link in site.social-links %}
          <li>
            <a href="{{link[1]}}" class="icon-link--square icon-link--{{link[0]}}" title="Contact us on {{ link[0] | capitalize }}">
              <svg width="16" height="16" class="icon-{{link[0]}}--square">
                <use xlink:href="#icon-{{link[0]}}"/>
              </svg>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      
    </div>
  </header><!-- end Site Header -->

  
  <!-- Page Body -->
  
  <main>

    <!-- Current Status Banner -->

    <div class="inverse bg-dark-muted-cover bb bb--large">
      <div class="content">

      {% case open_incidents.size %}
      
      {% when 0 %}

        <!-- No Incidents -->
        
        <header class="mt-100 mb-100 text-center">
          <h1 class="mega">
            All Systems Operational
          </h1>
          <p class="epsilon muted">
            If you are experiencing any issues please <a href="mailto:support@netlify.com" id="btn-open-ticket">open a support ticket<svg class="append" width="16" height="16"><use xlink:href="#icon-link" /></svg></a>
          </p>
        </header>
        
      {% when 1 %}
        
        <!-- One Incident -->
        
        <header class="mt-100 mb-100 text-center">
          <h1 class="mega">
            {{ open_incidents.first.title }}
          </h1>
          <div class="epsilon highlight">
            {{ open_incidents.first.description | markdownify }}
          </div>
        </header>
        
      {% else %}
        
        <!-- Several Incidents -->
        
        <header>
          <div class="bb">
            <h1 class="alpha mt-60 mb-60 text-center">Netlify Is Experiencing Some Issues</h1>
          </div>

          <section class="media mt-60 mb-60">
            <div class="media-img optional ml-50 mr-50">
              <svg width="220" height="220"><use xlink:href="#icon-polyhedron"></use></svg>
            </div>
            <div class="media-bd">
              {% for incident in open_incidents %}
                <article class="blurb center mb-40">
                  <h1 class="blurb-title highlight">{{ incident.title }}</h1>
                  {{ incident.description | markdownify }}
                </article>
              {% endfor %}
            </div>
          </section>
        </header>

      {% endcase %}

      </div><!-- end content -->
      
    </div><!-- end Current Status Banner -->


    <!-- Status Details: Services and History -->
    
    <div class="bg-light-muted-2 muted">

      <div class="content">
        
        <div class="md-flex md-flex--row-reverse mb-60">


          <!-- Services Section -->
        
          <section id="services" class="blurb center mt-50 mb-50">
            <div class="blurb-hd">
              <h2 class="blurb-title left">Services</h2>
            </div>
            <div class="blurb-bd">
              <ul>
              {% for service in site.services %}

                {% assign running = true %}
                {% assign status  = "ok" %}
              
                {% for incident in open_incidents %}
                  {% if incident.services contains service %}
                
                    {% assign running = false %}
                    {% assign status  = incident.severity %}
                  
                    {% if status == "fatal" %}
                      {% break %}
                    {% endif %}
                  
                  {% endif %}
                {% endfor %}
              
                <li class="{{ running | if: 'loud', 'muted' }}">
                  <svg class="prepend {{ running | if: 'highlight', 'muted' }}" width="16" height="16">
                    <use xlink:href="#icon-{{ status }}" />
                  </svg>
                  {{service}}
                </li>
              
              {% endfor %}
              </ul>
            </div>
          </section>
          
          <!-- end Services Section -->


          
          <!-- Status History Section-->
          
          {% assign today = site.time | to_date %}          
          
          <section id="history" class="blurb center mt-50 mb-50">
            <header class="blurb-hd">
              <h2 class="blurb-title left">Status History</h1>
              <div class="blurb-meta dropdown-container right">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Last 30 days
                </a>
                <ul class="dropdown-menu">
                
                {% assign oldest_incident = site.incidents.last %}
                {% assign first_year   = oldest_incident | if: oldest_incident.date , today | date: '%Y' %}
                {% assign current_year = today | date: '%Y' %}

                  <li class="selected">
                    <a href="/">Last 30 days</a>
                  </li>
                
                {% for y in (first_year..current_year) reverse %}
                  <li><a id="js-history-link-{{y}}" href="/?year={{y}}">All {{y}}</a></li>
                {% endfor %}

                </ul>
              </div>
            </header>
            <div class="blurb-bd">
              <ul id="js-history-container">
                
                <!-- Incidents in the past 30 days -->
                
              {% for i in (0..30) %}
              
                {% assign date = today | subtract_days: i %}
                {% assign incidents = site.incidents | where: "date", date %}

                {% if incidents == empty %}

                  <li class="no-incidents">
                    <time class="x-small">{{ date | date: '%Y-%m-%d' }}</time>
                  </li>

                {% else %}

                  <li class="incidents">

                  {% for incident in incidents %}

                    {% assign counter = counter | plus: 1 %}

                    <article id="incident-{{ counter }}" class="incident text">

                      <header>
                        <h1 class="incident-title delta mb-0">{{ incident.title}}</h1>
                        <time class="incident-date x-small">{{ incident.date | date: '%Y-%m-%d' }}</time>
                        {% if incident.resolved == nil %}
                          <a class="incident-status" title="This issue is still open">
                            <svg class="append muted" width="16" height="16">
                              <use xlink:href="#icon-{{ incident.severity }}" />
                            </svg>
                          </a>
                        {% endif %}
                      </header>

                      {{ incident.description | markdownify }}

                      {% if incident.details != nil and incident.details != empty %}
                      <div class="details" id="incident-details-{{ counter }}">
                        <a class="details-more small block" href="#incident-details-{{ counter }}">
                            Show Details<svg width="16" height="16" class="append"><use xlink:href="#icon-more" /></svg>
                        </a>
                        <div class="details-bd">
                          <div class="incident-details">
                            {{ incident.details | markdownify }}
                          </div>
                          <a class="details-less small block" href="#incident-{{ counter }}">
                            Hide Details<svg width="16" height="16" class="append"><use xlink:href="#icon-less" /></svg>
                          </a>
                        </div>
                      </div>
                      {% endif %}

                    </article>

                  {% endfor %}

                  </li>

                {% endif %}

              {% endfor %}
              </ul>
            </div>
          </section><!-- end Status History -->

        </div><!-- end flex -->
        
      </div><!-- end content -->

    </div><!-- end Status details-->
    
  </main><!-- end Page Body -->
  
  
  <!-- Site Footer -->
  
  {% include site-footer.html %}
  
  
  <!-- Templates to be used from javascript -->
  {% raw %}

  <script id="js-template-incident" type="template">
    <li class="incidents">
    {{#incidents}}
      <article class="incident text">
      
         <header>
           <h1 class="delta mb-0">{{ incident.title}}</h1>
           <time class="x-small">{{ incident.date }}</time>
           {{#open }}
           <a title="This issue is still open">
             <svg class="append muted" width="16" height="16">
               <use xlink:href="#icon-{{ incident.severity }}" />
             </svg>
           </a>
            {{/open}}
         </header>
       
         {{{ description }}}
         
         {{#hasDetails}}
         <div class="details" id="incident-details-{{ counter }}">
           <a class="details-more small block" href="#incident-details-{{ counter }}">
               Show Details<svg width="16" height="16" class="append"><use xlink:href="#icon-more" /></svg>
           </a>
           <div class="details-bd">
             {{{ details }}}
             <a class="details-less small block" href="#incident-{{ counter }}">
               Hide Details<svg width="16" height="16" class="append"><use xlink:href="#icon-less" /></svg>
             </a>
           </div>
         </div>
         {{/hasDetails}}
       </article>
      {{/incidents}}
  </script>
  <script id="js-template-no-incident" type="template">
     <li class="no-incidents">
       <time class="x-small">{{ date }}</time>
     </li>
   </script>

   {% endraw %}
  
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
  
  <!-- Help Scout beacon -->
  <script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!1,baseUrl:""},contact:{enabled:!0,formId:"e1b3a46d-c543-11e5-9e75-0a7d6919297d"}};var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>
  
  <script src="/js/vendor/bootstrap-dropdown-min.js"></script>
  <script src="/js/status.js"></script>

</body>
</html>
