---
---

{% assign latest_incident = site.incidents | where: "resolved", nil | sort: "date:desc" | last %}
{% assign is_ok = latest_incident | if: latest_incident.resolved, true %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netlify Status: {{ is_ok | if: "OK", "Problems" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'>
    <link rel="stylesheet" href="/css/status.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="page-status">

  {% include svg-defs.html %}

  <!-- Site Header -->
  <header class="site-header bb bb--medium inverse" role="banner">
    <div class="content content--wide">
      <!-- Branding: logo & claim -->
      <section class="brand left mt-20 mb-20">
        <a href="/" class="loud">
          <svg class="brand-logo" width="180" height="70">
            <use xlink:href="#netlify-logo" />
          </svg>
        </a>
      </section>

      <nav class="top-nav right mt-20 optional">
        <ul class="nav nav--social">
          {% for link in site.social-links %}
          <li>
            <a href="{{link[1]}}" class="icon-link--square icon-link--{{link[0]}}">
              <svg width="16" height="16" class="icon-{{link[0]}}--square">
                <use xlink:href="#icon-{{link[0]}}"/>
              </svg>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <!-- end Site Header -->

  <!-- Page Body -->
  <main>

    <!-- Current Status Banner -->
    <div class="inverse bg-dark-muted-cover bb bb--large">
      <div class="content">
        <header class="text-center mt-100 mb-100">      
        {% if is_ok %}
          <h1 class="mega">
            All Systems Operational
          </h1>
          <p class="epsilon muted">
            If you are experiencing any issues please <a href="#">open a support ticket<svg class="append" width="16" height="16"><use xlink:href="#icon-link" /></svg></a>
          </p>
        {% else %}
           <h1 class="mega mt-110">
             {{ latest_incident.title }}
           </h1>
           <div class="epsilon highlight">
             {{ latest_incident.description | markdownify }}
           </div>
        {% endif %}
        </header>
      </div>
    </div>

    <!-- Status Details: Services and History -->
    <div class="bg-light-muted-2 muted">

      <div class="content mt-50 mb-100 md-flex md-flex--row-reverse md-flex--space-between">

        <!-- Services -->
        <section class="blurb center mb-50">
          <div class="blurb-hd">
            <h2 class="blurb-title left">Services</h2>
          </div>
          <div class="blurb-bd">
            <ul>
              {% for service in site.services %}
              <li>
                <svg class="highlight prepend" width="16" height="16"><use xlink:href="#icon-ok" /></svg>{{service}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>


        <!-- Status History -->
        {% assign day     = site.time | date: '%d' %}
        {% assign month   = site.time | date: '%m' %}
        {% assign year    = site.time | date: '%Y' %}
        {% assign counter = 0 %}

        <section class="blurb center mb-50">
          <header class="blurb-hd">
            <h2 class="blurb-title left">Status History</h1>
            <div class="blurb-meta right">
              <ul class="dropdown">
              {% assign oldest_incident = site.incidents.last %}
              {% assign first_year = oldest_incident | if: oldest_incident.date , site.time | date: '%Y' %}

              <li class="selected"><a href="#">This month</a></li>
              {% for y in (first_year..year) reverse %}
              <li><a href="#">All {{y}}</a></li>  
              {% endfor %}
              </ul>
            </div>
          </header>
          <div class="blurb-bd">
            <ul>
            {% for d in (1..day) reversed %}

              {% capture date_string %}{{ year }}-{{ month }}-{{ d }}{% endcapture %}
              {% assign date = date_string | parse_date %}
              {% assign incidents = site.incidents | where: "date", date %}

              <li>

              {% if incidents == empty %}

                <!-- No incidents on this date -->
                <time class="x-small">{{ date | date: '%Y-%m-%d' }}</time>

              {% else %}

                {% for incident in incidents %}

                  {% assign counter = counter | plus: 1 %}

                    <article id="incident-{{ counter }}" class="text mb-30">

                      <header>
                        <h1 class="delta mb-0">{{ incident.title}}</h1>
                        <time class="x-small">{{ incident.date | date: '%Y-%m-%d' }}</time>
                        {% if incident.resolved == nil %}
                          <a title="This issue is still open">
                            <svg class="append muted" width="16" height="16">
                              <use xlink:href="#icon-warning" />
                            </svg>
                          </a>
                        {% endif %}
                      </header>

                      {{ incident.description | markdownify }}
                      
                      {% if incident.details != nil and incident.details != empty %}
                      <div class="details" id="incident-details-{{ counter }}">
                        <div class="details-more bb bb--dashed">
                          <p>
                            <a class="small block" href="#incident-details-{{ counter }}">
                              Show Details<svg width="16" height="16" class="append"><use xlink:href="#icon-more" /></svg>
                            </a>
                          </p>
                        </div>
                        <div class="details-bd bb bb--muted">
                          {{ incident.details | markdownify }}
                          <p>
                            <a class="small block" href="#incident-{{ counter }}">
                              Hide Details<svg width="16" height="16" class="append"><use xlink:href="#icon-less" /></svg>
                            </a>
                          </p>
                        </div>
                      </div>
                      {% else %}
                      <div class="bb bb--muted"></div>
                      {% endif %}

                    </article>

                {% endfor %}
              
              {% endif %}

              </li>

            {% endfor %}
            </ul>
          </div>
        </section><!-- end Status History -->

      </div><!-- end Content -->

    </div><!-- end Status details-->
  </main>

  {% include site-footer.html %}
</body>
</html>