---
layout: default
title: Style Guide
---
<style>

  .heading {
    color: #999;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 2;
    text-transform: uppercase;
    border-bottom: 1px dotted;
  }

  .box {
    border: 1px dotted #bbb;
    padding: 20px;
    margin: 50px 0;
  }

  .example {
    margin: 50px 0;
  }

  [data-annotate] [class]{
    position: relative;
  }

  [data-annotate] [class]:not(code)::after {
    content: "."attr(class);
    font: normal bold 12px/1.5 monospace;
    color: #777;
    letter-spacing: normal;
    position: absolute;
    width: 10em;
    text-transform: none;
    top: 0;
    right: -10.5em;
    white-space: nowrap;
  }

  .example.weights {
    font-size: 28px;
    margin: 80px 0;
    white-space: nowrap;
  }

  .example.colors span {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 120px;
    margin-bottom: 40px;
  }

  .example.colors .color-bg {
    border: 1px dotted #bbb;
  }

  .example.cards div {
    font-size: 21px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .example.cards p {
    margin: 0;
  }

  .example.inverse {
    padding: 1px 80px 80px;
    margin: 50px -80px;
  }

  .example.text {
    max-width: 40em;
    margin: 50px auto;
  }

  .nav-examples .example {
    margin: 20px 0;
    border: 1px dotted rgba(0,0,0,0.1);
  }

  .nav-examples.inverse .example {
    border-color: rgba(255,2555,255,0.1);
  }

  .nav-examples h2.heading {
    margin-bottom: 0;
  }

</style>

<header class="section inverse bg-dark">
  <div class="content">
    <h1 class="mega">Style Guide</h1>
    <p class="epsilon">A work in progress. At the moment it's sort of an Inventory / Non-Automated CSS Test Suite</p>
  </div>
</header>

<section class="content">

  <h1 class="heading">Typography</h1>

  <div class="example" data-annotate>
    <h1><code>h1</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h2><code>h2</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h2>
    <h3><code>h3</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h3>
    <h4><code>h4</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h4>
    <h5><code>h5</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h5>
    <h6><code>h6</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h6>
    <p><code>p</code> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p><small><code>small</code> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</small></p>
    <div><strong><code>strong</code> Grumpy wizards make toxic brew for the evil Queen and Jack.</strong></div>
    <div><em><code>em</code> Grumpy wizards make toxic brew for the evil Queen and Jack.</em></div>
    <ul>
      <li><code>ul li</code> Item 1</li>
      <li><code>ul li</code> Item 2</li>
      <li><code>ul li</code> Item 3</li>
    </ul>
    <ol>
      <li><code>ol li</code> Item 1</li>
      <li><code>ol li</code> Item 2</li>
      <li><code>ol li</code> Item 3</li>
    </ol>
    <blockquote>
      <p>
        The <code>blockquote</code> element represents content that
        is quoted from another source, optionally
        with a citation which must be within a
        <code/>footer</code> or <code>cite</code> element,
        and optionally with in-line changes such as
        annotations and abbreviations.
        <cite><a href="https://w3c.github.io/html/grouping-content.html#the-blockquote-element">4.4.4 the Blockquote element</a> , Faulkner et al. 2016 </cite>
      </p>
    </blockquote>
  </div>

  <div class="example" data-annotate>
    <h1 class="tera">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="giga">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="mega">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="kilo">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="alpha">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="beta">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <h1 class="gamma">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
    <p class="delta">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="epsilon">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="zeta">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="medium">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="x-small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="xx-small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p class="intro">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>

    <p class="x-large">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    <p class="large">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
  </div>

  <div class="example weights" data-annotate>
    <div class="thin">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
    <div class="normal">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
    <div class="book">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
    <div class="semibold">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
    <div class="bold">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
  </div>

</section>

<section class="content">
  <h1 class="heading">Colors</h1>

  <div class="example colors" data-annotate>
    <span class="inverse"></span>
    <span class="bg-neutral"></span>
    <span class="bg-white"></span>
    <span class="bg-highlight"></span>
    <br>
    <span class="bg-tint0"></span>
    <span class="bg-tint1"></span>
    <span class="bg-tint2"></span>
    <span class="bg-tint3"></span>


    <div class="muted">
      <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    </div>
    <div class="quiet">
      <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    </div>
    <div class="loud">
      <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    </div>
    <div class="highlight">
      <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    </div>

  </div>

  <div class="example cards" data-annotate>
    <div class="card--color-100">
      <p>Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="card-text">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    </div>
    <div class="card--color-200">
      <p>Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="card-text">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    </div>
    <div class="card--color-300">
      <p>Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="card-text">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    </div>
    <div class="card--color-400">
      <p>Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="card-text">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    </div>
    <div class="card--color-500">
      <p>Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="card-text">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
    </div>
  </div>
</section>

<section class="inverse">
  <div class="content">
    <h1 class="heading">Inverse</h1>

    <div class="example" data-annotate>
      <h1><code>h1</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h2><code>h2</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h2>
      <h3><code>h3</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h3>
      <h4><code>h4</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h4>
      <h5><code>h5</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h5>
      <h6><code>h6</code> Grumpy wizards make toxic brew for the evil Queen and Jack</h6>
      <p><code>p</code> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p><small><code>small</code> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</small></p>
      <div><strong><code>strong</code> Grumpy wizards make toxic brew for the evil Queen and Jack.</strong></div>
      <div><em><code>em</code> Grumpy wizards make toxic brew for the evil Queen and Jack.</em></div>
      <ul>
        <li><code>ul li</code> Item 1</li>
        <li><code>ul li</code> Item 2</li>
        <li><code>ul li</code> Item 3</li>
      </ul>
      <ol>
        <li><code>ol li</code> Item 1</li>
        <li><code>ol li</code> Item 2</li>
        <li><code>ol li</code> Item 3</li>
      </ol>
      <blockquote>
        <p>
          The <code>blockquote</code> element represents content that
          is quoted from another source, optionally
          with a citation which must be within a
          <code/>footer</code> or <code>cite</code> element,
          and optionally with in-line changes such as
          annotations and abbreviations.
          <cite><a href="https://w3c.github.io/html/grouping-content.html#the-blockquote-element">4.4.4 the Blockquote element</a> , Faulkner et al. 2016 </cite>
        </p>
      </blockquote>
    </div>

    <div class="example" data-annotate>
      <h1 class="tera">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="giga">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="mega">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="kilo">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="alpha">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="beta">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <h1 class="gamma">Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
      <p class="delta">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="epsilon">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="zeta">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="medium">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="x-small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="xx-small">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      <p class="intro">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>

      <p class="x-large">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <p class="large">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    </div>

    <div class="example weights" data-annotate>
      <div class="thin">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
      <div class="normal">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
      <div class="book">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
      <div class="semibold">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
      <div class="bold">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
    </div>

    <div class="example colors" data-annotate>
      <div class="muted">
        <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      </div>
      <div class="quiet">
        <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      </div>
      <div class="loud">
        <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      </div>
      <div class="highlight">
        <h1>Grumpy wizards make toxic brew for the evil Queen and Jack</h1>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <h1 class="heading">SVG defs</h1>
  {% assign svg_defs = "netlify-img netlify-text netlify-logo icon-menu polyhedron cube icon-cube icon-polyhedron icon-features icon-arrow icon-arrow-light icon-link icon-keyhole icon-plus icon-close icon-ok icon-fatal icon-warning icon-more icon-less icon-github icon-github-round icon-linkedin icon-linkedin-round icon-gitter icon-gitter-round icon-facebook icon-facebook-round icon-twitter icon-twitter-round feature-netlify-cdn feature-one-click-ssl feature-continuous-deployment feature-gradual-migration feature-infinite-scale feature-prerendering feature-atomic-deploys feature-instant-cache-invalidation feature-cli feature-instant-rollbacks feature-programmable-api feature-instant-passwords" | split: " " %}

  <div class="example">
    <ul class="grid grid--spacing">
      {% for svg_id in svg_defs %}
      <li class="col size-1-3">
        <svg><use xlink:href="#{{svg_id}}" /></svg>
        <small class="block text-center">{{svg_id}}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section>
  <div class="content">
    <h1 class="heading">Links</h1>

    <div class="example" data-annotate>
      <ul>
        <li><a href="#">A plain link</a></li>
        <li><a href="#" class="link">A link with a callout</a></li>
        <li><a href="#" class="link-more">More</a></li>
      </ul>
    </div>

</section>

<section class="nav-examples content">
  <h1 class="heading">Nav</h1>

  <div class="example" data-annotate>
    <ul class="nav">
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
      <li class="active"><a>Active Item 3</a></li>
    </ul>
    <ul class="nav nav--secondary">
      <li><a>Secondary Item 1</a></li>
      <li><a>Secondary Item 2</a></li>
      <li class="active"><a>Active Secondary Item 3</a></li>
    </ul>
  </div>

  <div class="example">
    <p class="sidenote"><code>.nav--inline</code></p>
    <ul class="nav nav--inline">
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
      <li class="active"><a>Active Item 3</a></li>
    </ul>
    <ul class="nav nav--inline nav--secondary">
      <li><a>Secondary Item 1</a></li>
      <li><a>Secondary Item 2</a></li>
      <li class="active"><a>Active Secondary Item 3</a></li>
    </ul>
  </div>

  <h2 class="heading">Nav Sidebar</h2>

  <div class="example" data-annotate>
    <nav class="side-nav">
      <ul class="nav">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="active"><a>Active Item 3</a></li>
      </ul>
      <ul class="nav nav--secondary">
        <li><a>Secondary Item 1</a></li>
        <li><a>Secondary Item 2</a></li>
        <li class="active"><a>Active Secondary Item 3</a></li>
      </ul>
      <ul class="nav nav--inline nav--secondary">
        <li><a>Secondary Item 1</a></li>
        <li><a>Secondary Item 2</a></li>
        <li><a>Secondary Item 3</a></li>
      </ul>
    </nav>
  </div>
</section>

<section class="nav-examples inverse">
  <div class="content">

    <h1 class="heading">Nav Inverse</h1>

    <div class="example" data-annotate>
      <ul class="nav">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="active"><a>Active Item</a></li>
      </ul>
      <ul class="nav nav--primary">
        <li><a>Primary Item 1</a></li>
        <li><a>Primary Item 2</a></li>
        <li class="active"><a>Active Item</a></li>
      </ul>
      <ul class="nav nav--secondary">
        <li><a>Secondary Item 1</a></li>
        <li><a>Secondary Item 2</a></li>
        <li class="active"><a>Active Item</a></li>
      </ul>
    </div>

    <div class="example">
      <p class="sidenote"><code>.nav--inline</code></p>
      <ul class="nav nav--inline">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="active"><a>Active</a></li>
      </ul>
      <ul class="nav nav--inline nav--primary">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="active"><a>Active</a></li>
      </ul>
      <ul class="nav nav--inline nav--secondary">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="active"><a>Active</a></li>
      </ul>
    </div>

    <h2 class="heading">Nav Sidebar</h2>

    <div class="example" data-annotate>
      <nav class="side-nav">
        <ul class="nav">
          <li><a>Item 1</a></li>
          <li class="active"><a>Active Item</a></li>
          <li><a>Item 3</a></li>
        </ul>
        <ul class="nav nav--primary">
          <li><a>Primary Item 1</a></li>
          <li class="active"><a>Active Item</a></li>
          <li><a>Primary Item 3</a></li>
        </ul>
        <ul class="nav nav--secondary">
          <li><a>Secondary Item 1</a></li>
          <li class="active"><a>Active Item</a></li>
          <li><a>Secondary Item 3</a></li>
        </ul>
      </nav>
    </div>

    <h2 class="heading">Nested Side Nav</h2>

    <div class="example" data-annotate>
      <nav class="side-nav">
        <ul class="nav nav--nested">
          <li><a>Primary Item 1</a></li>
          <li class="active">
            <a>Active Primary Item</a>
            <ul class="nav">
              <li><a>Secondary Item 1</a></li>
              <li class="active"><a>Active Item</a></li>
              <li><a>Secondary Item 2</a></li>
            </ul>
          </li>
          <li><a>Primary Item 3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="content">

  <h1 class="heading">Tables</h1>

  <p class="box sidenote">
    In the following examples, <code>table</code> and
   <code>.table</code> should look the same (on desktop). If they don't, something is wrong.
 </p>

  <p>This is a <code>table</code></p>

  <table>
    <thead>
      <tr>
        <th>Free</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Custom Domain</td></tr>
      <tr><td>Netlify Badge</td></tr>
      <tr><td>100 MB Storage</td></tr>
      <tr><td>1 GB Bandwidth</td></tr>
      <tr><th>Free</th></tr>
    </tbody>
  </table>

  <p>This is a <code>.table</code> (looks like a table, but is not a <code>table</code>)</p>

  <div class="table">
    <h3 class="th">Free</h3>
    <ul class="tbody">
      <li class="td">Custom Domain</li>
      <li class="td">Netlify Badge</li>
      <li class="td">100 MB Storage</li>
      <li class="td">1 GB Bandwidth</li>
      <li class="th">Free</li>
    </ul>
  </div>

  <p>This is a <code>table</code> with multiple columns</p>

  <table>
    <thead>
      <tr>
        <th>Free</th>
        <th>Free</th>
        <th>Free</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Custom Domain</td><td>Custom Domain</td><td>Custom Domain</td></tr>
      <tr><td>Netlify Badge</td><td>Netlify Badge</td><td>Netlify Badge</td></tr>
      <tr><td>100 MB Storage</td><td>100 MB Storage</td><td>100 MB Storage</td></tr>
      <tr><td>1 GB Bandwidth</td><td>1 GB Bandwidth</td><td>1 GB Bandwidth</td></tr>
      <tr><th>Free</th><th>Free</th><th>Free</th></tr>
    </tbody>
  </table>

  <p>This is a <code>.table</code> in a <code>.grid</code></p>

  <div class="grid">
    <div class="col size-1-3">
      <div class="table">
        <h3 class="th">Free</h3>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
    <div class="col size-1-3">
      <div class="table">
        <h3 class="th">Free</h3>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
    <div class="col size-1-3">
      <div class="table">
        <h3 class="th">Free</h3>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
  </div>

  <p>This is a compact <code>table</code></p>

  <table class="compact">
    <thead>
      <tr>
        <th>Free</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Custom Domain</td></tr>
      <tr><td>Netlify Badge</td></tr>
      <tr><td>100 MB Storage</td></tr>
      <tr><td>1 GB Bandwidth</td></tr>
      <tr><th>Free</th></tr>
    </tbody>
  </table>

  <p>This is a compact <code>.table</code></p>

  <div class="table compact">
    <h3 class="th">Free</h3>
    <ul class="tbody">
      <li class="td">Custom Domain</li>
      <li class="td">Netlify Badge</li>
      <li class="td">100 MB Storage</li>
      <li class="td">1 GB Bandwidth</li>
      <li class="th">Free</li>
    </ul>
  </div>

  <p>This is a customized <code>table</code> using utility classes</p>

  <table class="text-center">
    <thead>
      <tr>
        <th class="x-large">Free</th>
        <th class="x-large">Free</th>
        <th class="x-large">Free</th>
      </tr>
      <tr>
        <th class="bg-tint1 loud">Free</th>
        <th class="bg-tint2 loud">Free</th>
        <th class="bg-tint3 loud">Free</th>
      </tr>
      <tr class="compact">
        <th class="td xx-small highlight">Free forever<br>No credit card needed</th>
        <th class="td xx-small highlight">Free forever<br>No credit card needed</th>
        <th class="td xx-small highlight">Free forever<br>No credit card needed</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Custom Domain</td><td>Custom Domain</td><td>Custom Domain</td></tr>
      <tr><td>Netlify Badge</td><td>Netlify Badge</td><td>Netlify Badge</td></tr>
      <tr><td>100 MB Storage</td><td>100 MB Storage</td><td>100 MB Storage</td></tr>
      <tr><td>1 GB Bandwidth</td><td>1 GB Bandwidth</td><td>1 GB Bandwidth</td></tr>
      <tr><th class="td highlight semibold">Free</th><th class="td highlight semibold">Free</th><th class="td highlight semibold">Free</th></tr>
    </tbody>
  </table>

  <p>This is a customized <code>.table</code> using utility classes</p>

  <div class="grid">
    <div class="col size-1-3">
      <div class="table text-center">
        <h2 class="th x-large">Free</h3>
        <h3 class="cell large bg-tint1 loud">Free</h3>
        <p class="td highlight xx-small compact">Free forever<br>No credit card needed</p>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="td highlight semibold">Free</li>
        </ul>
      </div>
    </div>
    <div class="col size-1-3">
      <div class="table text-center">
        <h2 class="th x-large">Free</h3>
        <h3 class="cell large bg-tint2 loud">Free</h3>
        <p class="td highlight xx-small compact">Free forever<br>No credit card needed</p>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="td highlight semibold">Free</li>
        </ul>
      </div>
    </div>
    <div class="col size-1-3">
      <div class="table text-center">
        <h2 class="th x-large">Free</h3>
        <h3 class="cell large bg-tint3 loud">Free</h3>
        <p class="td highlight xx-small compact">Free forever<br>No credit card needed</p>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify Badge</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="td highlight semibold">Free</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <h1 class="heading">Text</h1>
  <div class="example text">
    {% capture example %}{% include example-text.md %}{% endcapture %}
    {{ example | markdownify }}
  </div>
</section>
