<!-- Support -->
<section class="mt-40 mb-40">
  <h3 class="th th--highlight mb-0">All netlify plans include the following</h3>
  <div class="l-container">
    {% for attribute in site.data.plans.all %}
    {% assign mod = forloop.index0 | modulo:5 %}
    {% if mod == 0 %}
    <div class="l-fourth">
      <div class="table">
        <ul class="tbody">
    {% endif %}
          <li class="th th--medium">
            {{ attribute.title }}
            {% include help-box.html attribute=attribute %}
          </li>
    {% assign mod = forloop.index | modulo:5 %}
    {% if mod == 0 %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>


<!-- Hosting -->
<section class="mb-40">
  <div class="l-container">
    <table class="full-width">
      <thead>
        <tr>
          <th class="hidden-cell"></th>
          {% for plan in site.data.plans.plans %}
          <th class="plan--header">
            <div class="plan--title">{{ plan.title }}</div>
            <div class="plan--price">
              <span class="plan--currency">$</span><span class="plan--amount">{{ plan.price}}</span><span class="plan--period">/month</span>
            </div>
            <div class="plan--note">{{ plan.price_note }}</div>
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for attribute in site.data.plans.attributes %}
          <tr>
            <td class="th th--medium">
              {{ attribute.title }}
              {% include help-box.html attribute=attribute %}
            </td>
            {% for detail in attribute.details %}
            <td>{{ detail }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>


<!-- Support -->
<section class="mt-40 mb-100">
  <header>
    <h1 class="gamma highlight mt-0 mb-0">Enterprise</h2>
    <p class="small p--wide loose mt-10 mb-30">netlify is the hosting service that truly caters the professionals, and our enterprise offerings are extensive.</p>
  </header>
  <div class="l-container">
    {% for attribute in site.data.plans.enterprise %}
    {% assign mod = forloop.index0 | modulo:3 %}
    {% if mod == 0 %}
    <div class="l-fourth">
      <div class="table">
        <ul class="tbody">
    {% endif %}
          <li class="th th--medium">
            {{ attribute.title }}
            {% include help-box.html attribute=attribute %}
          </li>
    {% assign mod = forloop.index | modulo:3 %}
    {% if mod == 0 %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
