<!-- Hosting -->
<section class="mt-20">
  <header>
    <svg width="100" height="100" class="highlight">
      <use xlink:href="#cube" />
    </svg>
    <h1 class="gamma highlight mt-n10 mb-20">Static Hosting</h1>
  </header>
  <div class="l-container">
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Free</h3>
        <ul class="tbody">
          <li class="td">Custom Domain</li>
          <li class="td">Netlify callout</li>
          <li class="td">100 MB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Basic</h3>
        <ul class="tbody">
          <li class="td">Custom Domain, Basic SSL</li>
          <li class="td">No Netlify Branding</li>
          <li class="td">1 GB Storage</li>
          <li class="td">1 GB Bandwidth</li>
          <li class="th">$9/month</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Pro</h3>
        <ul class="tbody">
          <li class="td">Custom Domain, Full SSL</li>
          <li class="td">No Netlify Branding</li>
          <li class="td">100 GB Storage</li>
          <li class="td">1 TB Bandwidth</li>
          <li class="th">$29/month</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Continuous Deployment -->
<section class="mt-20">
  <header>
    <svg width="110" height="110" class="highlight">
      <use xlink:href="#polyhedron" />
    </svg>
    <h1 class="gamma highlight mt-n10 mb-0">Continuous Deployment</h1>
    <p class="small-2 mt-10 mb-30">Run your builds on our servers for a flat fee every month</p>
  </header>
  <div class="l-container">
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Free</h3>
        <ul class="tbody">
          <li class="td">Open Source Projects</li>
          <li class="td">50 Monthly Builds</li>
          <li class="td">1 Concurrent Build</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Basic</h3>
        <ul class="tbody">
          <li class="td">Private Repositories</li>
          <li class="td">200 Monthly Builds</li>
          <li class="td">2 Concurrent Builds</li>
          <li class="th">$29/month</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Pro</h3>
        <ul class="tbody">
          <li class="td">Private Repositories</li>
          <li class="td">500 Monthly Builds</li>
          <li class="td">5 Concurrent Builds</li>
          <li class="th">$49/month</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Support -->
<section class="mt-40 mb-100">
  <header>
    <h1 class="gamma highlight mt-0 mb-0">Support</h2>
    <p class="small p--wide loose mt-10 mb-30">Support is available to all Netlify users through our in-app support widget. Support tickets are prioritized based on both severity (i.e. application outages vs bug reports) as well as overall account spend. We're fanatical about giving extraordinary support, but for guaranteed response within 1-hour, 1-on-1 technical consulting, or your own dedicated account manager, please upgrade to a premium support plan.</p>
  </header>
  <div class="l-container">
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Standard</h3>
        <ul class="tbody">
          <li class="td">Support within business hours</li>
          <li class="td">9am–5pm PST</li>
          <li class="th">Free</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Premium</h3>
        <ul class="tbody">
          <li class="td">24/7 support</li>
          <li class="td">1 hour response SLA</li>
          <li class="th">$1,000/month</li>
        </ul>
      </div>
    </div>
    <div class="l-third">
      <div class="table">
        <h3 class="th th--highlight">Account Manager</h3>
        <ul class="tbody">
          <li class="td">Includes Premium Support</li>
          <li class="td">Dedicated Technical Consulting</li>
          <li class="th">$2,000/month</li>
        </ul>
      </div>
    </div>
  </div>
</section>