<a href="{{post.url}}">
  <article class="blurb">
    <header class="blurb-hd media">
      <div class="media-img grayscale thumbnail">
        {% image_tag src=post.thumbnail height="80" %}
      </div>
      <div class="media-bd">
        <h1 class="blurb-title">
          {% if post.short_title %}{{post.short_title}}{% else %}{{post.title}}{% endif %}
        </h1>
        <p class="blurb-meta link">by {{post.author}}</p>
      </div>
    </header>
    <div class="blurb-bd small">
      <p class="muted">{{post.description}}</p>
    </div>
  </article>
</a>
