<div class="text-center">
  <p>
    <a href="https://app.netlify.com" class="button button--pill button--center">
      <span class="button-container">
        <span class="button-label epsilon"><strong>Sign Up Now</strong></span>
      </span>
    </a>
  </p>

  <p class="epsilon">
    Need enterprise features?
    <a href="/contact.html">
      <strong>Get in touch for a custom quote<svg width="20" height="20" class="append"><use xlink:href="#icon-arrow" class="light" /></svg></strong>
    </a>
  </p>
</div>
