<footer class="mt-55 mb-100">
  <div class="text-center mb-55 bb bb--muted">
    <a href="https://app.netlify.com" class="button button--pill button--center mb-55">
      <span class="button-container">
        <span class="button-label gamma">Sign Up Now</span>
      </span>
    </a>
  </div>

  <div class="text-center mb-55">
    <div class="loud large mb-10">Need enterprise features?</div>
    <a href="/contact.html" class="gamma semibold">
      Get in touch for a custom quote
      <svg width="25" height="25">
        <use xlink:href="#icon-arrow" class="light" />
      </svg>
    </a>
  </div>
</footer>
