<footer class="mt-50 mb-55 text-center">
  <p>
    <a href="https://app.netlify.com" class="button button--pill button--center">
      <span class="button-container">
        <span class="button-label epsilon"><strong>Sign Up Now</strong></span>
      </span>
    </a>
  </p>

  <hr class="bb bb--muted mt-50 mb-50">

  <p class="epsilon">
    <span class="muted">Need enterprise features?</span>
    <a href="/contact.html">
      <strong>Get in touch for a custom quote<svg width="20" height="20" class="append"><use xlink:href="#icon-arrow" class="light" /></svg></strong>
    </a>
  </p>
</footer>
