<div class="l-container mb-40 mt-40">
  <div class="l-half">
    <a href="https://app.netlify.com" class="button button--large button--signup">
      <span class="button-container">
        <svg class="button-icon" width="68" height="68"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use></svg>
        <span class="button-label gamma">Sign Up Now</span>
        <svg class="button-icon r-180" width="68" height="68"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use></svg>
    </a>
  </div>
  <div class="l-half text-right signup--extra-info">
    <h3>Still not convinced? Keep Scrolling!</h3>
  </div>
</div>
