{% assign fragments = page.url | replace: '.html', '' | split: '/' %}
{% assign current = fragments[1] %}

<nav id="navigation" class="side-nav inverse off-canvas-menu" role="navigation">

  <a href="#page" class="icon exit-off-canvas">
    <svg class="icon-close" width="10" height="10"><use xlink:href="#icon-close"></use></svg>
  </a>

  <div class="ml-40 mt-10">
    <ul class="nav nav--primary">
      <li><a href="/"{% if current == '' %} class="current"{% endif %}>Home</a></li>
      <li><a href="/features.html"{% if current == 'features' %} class="current"{% endif %}>Features</a></li>
      <li><a href="/pricing.html"{% if current == 'pricing' %} class="current"{% endif %}>Pricing</a></li>
      <li><a href="/docs.html"{% if current == 'docs' %} class="current"{% endif %}>Docs</a></li>
      <li><a href="/blog.html"{% if current == 'blog' %} class="current"{% endif %}>Blog</a></li>
    </ul>

    <ul class="nav nav--secondary">
      <li><a href="/about.html"{% if current == 'about' %}class="current"{% endif %}>About</a></li>
      <li><a href="/contact.html"{% if current == 'contact' %} class="current"{% endif %}>Contact</a></li>
      <li><a href="/tos.html"{% if current == 'tos' %} class="current"{% endif %}>Terms &amp; Conditions</a></li>
      <li><a href="/privacy.html"{% if current == 'privacy' %} class="current"{% endif %}>Privacy</a></li>
    </ul>

    <ul class="nav nav--social nav--inline">
      {% for link in site.social-links %}
      <li>
        <a href="{{link[1]}}" class="icon-link--square icon-link--{{link[0]}}">
          <svg width="16" height="16" class="icon-{{link[0]}}--square">
            <use xlink:href="#icon-{{link[0]}}"/>
          </svg>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
