{% assign fragments = page.url | replace: '.html', '' | split: '/' %}
{% assign active = fragments[1] %}
{% assign page_names = 'features,pricing,docs,blog,about,contact' | split: ',' %}

<!-- Site Header -->
<header class="site-header bb bb--medium inverse" role="banner">
  <div class="content content--full-width">

    <!-- Branding: logo & claim -->
    <section class="brand left mt-20 mb-20">
      <a href="/" class="loud">
        <svg class="brand-logo" width="180" height="70">
          <use xlink:href="#netlify-logo" />
        </svg>
      </a>
    </section>

    <nav class="top-nav show-for-large right mt-35">

      <ul class="nav nav--primary inline">
        {% for page_name in page_names %}
        <li{% if active == page_name %} class="active"{% endif %}>
          <a href="/{{page_name}}.html">{{page_name | capitalize}}</a>
        </li>
        {% endfor %}
        <li>
          <a href="https://app.netlify.com" class="button button--pill button--small button--inline">
          <span class="button-container">
            <span class="button-label">Log In</span>
          </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="top-nav hide-for-large right mt-35">
      <!-- Login icon -->
      <a href="https://app.netlify.com" class="button button--inline button--small button--muted mr-40">
        <svg class="button-icon" width="30" height="30"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyhole"></use></svg>
        <span class="button-label">Log In</span>
      </a>

      <!-- Menu icon -->
      <a href="#navigation" class="icon button-nav off-canvas-toggle">
        <svg class="button-nav-icon" width="37" height="26">
          <use xlink:href="#icon-menu" />
        </svg>
      </a>
    </nav>
  </div>
</header>
<!-- end Site Header -->
