<!-- Site Header -->
<header class="site-header bb bb--medium inverse" role="banner">
  <div class="content content--wide">

    <!-- Branding: logo & claim -->
    <section class="brand left mt-20 mb-20">
      <a href="/" class="loud">
        <svg class="brand-logo" width="180" height="70">
          <use xlink:href="#netlify-logo" />
        </svg>
      </a>
    </section>

    <nav class="show-for-large right mt-35 mr-25">

      <ul class="nav nav--primary inline">
        <li><a href="/features.html" class="{% if page.url == '/features.html' %}current{% endif %}">Features</a></li>
        <li><a href="/pricing.html" class="{% if page.url == '/pricing.html' %}current{% endif %}">Pricing</a></li>
        <li><a href="/docs.html" class="{% if page.url == '/docs.html' %}current{% endif %}">Docs</a></li>
        <li><a href="/blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Blog</a></li>
        <li><a href="/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
        <li><a href="/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
      </ul>
      <a href="https://app.netlify.com" class="button button--pill button--small button--inline">
        <span class="button-container">
          <span class="button-label">Log In</span>
        </span>
      </a>
    </nav>

    <nav class="top-nav hide-for-large right mt-35">
      <!-- Login icon -->
      <a href="https://app.netlify.com" class="button button--inline button--small button--muted mr-40">
        <svg class="button-icon" width="30" height="30"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyhole"></use></svg>
        <span class="button-label">Log In</span>
      </a>

      <!-- Menu icon -->
      <a href="#navigation" class="button-nav off-canvas-toggle">
        <svg class="button-nav-icon" width="37" height="26">
          <use xlink:href="#icon-menu" />
        </svg>
      </a>
    </nav>
  </div>
</header>
<!-- end Site Header -->
