<footer class="site-footer bg-white" role="contentinfo">
  <div class="content content--{{page.content-width | default: 'full-width'}}">
    <div class="mt-20 mb-20 clearfix">
      <!-- Logo -->
      <svg class="brand-logo loud left" width="224" height="80">
        <use xlink:href="#netlify-logo" />
      </svg>
      <!-- Address -->
      <div class="vcard right x-small mt-35" itemscope itemtype="http://schema.org/Organization">
        <strong class="fn org" itemprop="brand">Netlify</strong><br>
        <span class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span class="street-address" itemprop="streetAddress">610 22nd Street, <span class="nowrap">Suite 315</span></span>,<br>
          <span class="locality" itemprop="addressLocality">San Francisco</span>,
          <span class="region" itemprop="addressRegion">CA</span>
          <span class="postal-code" itemprop="postalCode">94107</span>
        </span><br>
        <a href="/tos.html">Terms &amp; Privacy</a>
      </div>
    </div>
  </div>
</footer>
