<!-- Site Header -->
<header class="site-header bb bb--medium inverse" role="banner">
  <div class="content content--wide">

    <!-- Branding: logo & claim -->
    <section class="brand left mt-20 mb-20">
      <a href="/" class="loud">
        <svg class="brand-logo" width="180" height="70">
          <use xlink:href="#netlify-logo" />
        </svg>
      </a>
      <p class="brand-claim x-small inline-block ml-25 optional">Because static sites are safer, faster, cheaper &amp; simpler</p>
    </section>

    <!-- Quick links: login & menu icon -->
    <nav class="top-nav right mt-35">

      <a href="#" class="button button--inline button--small button--muted mr-40">
        <svg class="button-icon" width="30" height="30">
          <use xlink:href="#icon-keyhole" />
        </svg>
        <span class="button-label">your@mail.com</span>
      </a>

      <!-- Menu icon -->
      <a href="#navigation" class="button-nav off-canvas-toggle">
        <svg class="button-nav-icon" width="37" height="26">
          <use xlink:href="#icon-menu" />
        </svg>
      </a>
    </nav>
  </div>
</header>
<!-- end Site Header -->