<!-- Testimonials -->
<section class="bb bb--muted">
  <h1 class="alpha">What our clients say</h1>
  <ul class="l-container mt-50 mb-20">
    {% for testimonial in site.data.testimonials.quotes %}
    <li class="l-third">
      <section class="blurb">
        <header class="blurb-hd">
          <img src="{{testimonial.photo}}" alt="Photo of {{testimonial.cite}}" height="90">
        </header>
        <div class="blurb-bd">
          <blockquote>
            <p>“{{testimonial.quote}}”</p>
            <cite><a class="loud" href="{{testimonial.link}}" target="_blank">{{testimonial.cite}}</a></cite>
          </blockquote>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Client logos -->
<section class="mb-40">
  <h1 class="alpha mb-40">A selection of our clients</h1>
  <div class="mobile-stack-images">
    {% image_tag src="/img/logos/sequoia.png" width="100" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/we-work.png" width="119" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/instrument.png" width="70" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/carrott.png" width="110" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/scripted.png" width="100" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/malala-fund.png" width="50" class="mr-40 mb-40" %}
  </div>
  <div class="mobile-stack-images">
    {% image_tag src="/img/logos/vice.png" width="82" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/app-io.png" width="119" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/nbc.png" width="66" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/openstack.png" width="120" class="mr-40 mb-40" %}
    {% image_tag src="/img/logos/baccardi.png" width="120" class="mr-40 mb-40" %}
  </div>
</section>
