.post {
  margin: ($base-spacing * 2) 0 $base-spacing;
}

.post-hd {
  margin: ($baseline * 2em) 0;
  text-align: center;
}

.post-title {
  @extend .giga;
  color: $color-dark;
}

.post-meta {
  @extend .zeta;
  color: $color-highlight;
}

.post-img {
  margin: ($base-spacing + $media-spacing) 0;

  figure {
    margin: 0;
  }

  figcaption {
    @extend .xx-small;
    @extend .semibold;
    margin: 1em 0;

    p {
      margin: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  &:empty,
  img {
    border-bottom: 7px solid $color-highlight-lighter;
    margin-bottom: -7px;
    margin-top: -5px;
  }
}

.post-bd {
  margin: ($baseline * 2em) auto;

  p:first-child {
    @extend .intro;
    color: $color-darker;
    margin: ($base-spacing * $baseline) 0;
  }

  em {
    @extend .sidenote;
  }

  br {
    display: none;
  }
}

.post-jumpline {
  border-bottom: 1px dashed $color-highlight;
  font-size: 14px;
  margin: 30px auto;
  padding: 0 0 40px;
}

.blog-aside-title {
  @include font-weight(thin);
  font-size: 44px;
  line-height: 55px;
  margin-bottom: 100px;
  margin-top: 110px;
  white-space: nowrap;
}

.blog-aside-footer {
  margin-bottom: 60px;
}

.post-banner {
  @extend %cf;
  @extend .zeta;
  @extend .thin;
  background: $color-neutral;
  margin: 60px auto;
  padding: 20px;
  text-align: center;

  p {
    max-width: none;
  }
}

.post-bd,
.post-jumpline,
.post-banner,
.disqus {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}
