/* Layout */
.ul-blocks {
  text-align: left;

  li {
    min-height: 160px;
    background-color: lighten($teal, 10%);
    padding: 1rem;
    width: 31%;
    float: left;
    margin: 1%;
  }

  h5 {
    font-size: 22px;
    color: white;
    font-weight: 300;
  }

  a {
    color: darken($teal, 20%);
    font-size: 14px;

    &:hover {
      color: white;
    }
  }

}
