$card-spacing: 8px;

.card-grid {
  margin-left: - $card-spacing;
  overflow: hidden;

  > li {
    float: left;
    margin: auto;
    padding-bottom: $card-spacing;
    padding-left: $card-spacing;
    width: 33.3333%;

    @media (max-width: $bp-med) {
      width: 50%;

      &:last-child {
        float: none;
      }
    }

    @media (max-width: $bp-small) {
      float: none;
      max-width: 350px;
      width: 100%;
    }
  }
}

.card {
  @extend .block;
  @include font-weight(light);
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
}

.card-title {
  @extend .epsilon;
  line-height: 1;
  margin: 0;
}

.card-text {
  margin: auto 0 3px;
}

.card--contact {
  @extend .x-small;
  animation-duration: .3s;
  animation-fill-mode: both;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 180px;
  text-align: left;
  transition: .3s ease;

  .no-touch &:hover {
    box-shadow: 0 0 0 3px transparentize($color-lightest, .13) inset;
  }
}

.card--color-100 {
  background-color: $color-tint-100;
  color: $color-tint-400;

  .card-text {
    color: $color-tint-600;
  }
}

.card--color-200 {
  background-color: $color-tint-200;
  color: $color-tint-500;

  .card-text {
    color: $color-tint-600;
  }
}

.card--color-300 {
  background-color: $color-tint-300;
  color: $color-lightest;

  .card-text {
    color: $color-tint-600;
  }
}

.card--color-400 {
  background-color: $color-tint-400;
  color: $color-lightest;

  .card-text {
    color: $color-tint-600;
  }
}

.card--color-500 {
  background-color: $color-tint-500;
  color: $color-lightest;

  .card-text {
    color: $color-tint-700;
  }
}

.card--email {
  @extend .card--color-300;
  background-image: url('/img/contact/email.svg');
}

.card--phone {
  @extend .card--color-200;
  background-image: url('/img/contact/phone.svg');
}

.card--office {
  @extend .card--color-400;
  background-image: url('/img/contact/office.svg');
}

.card--twitter {
  @extend .card--color-500;
  background-image: url('/img/contact/twitter.svg');
}

.card--github {
  @extend .card--color-400;
  background-image: url('/img/contact/github.svg');
}

.card--facebook {
  @extend .card--color-100;
  background-image: url('/img/contact/facebook.svg');
}

.card--gitter {
  @extend .card--color-100;
  background-image: url('/img/contact/gitter.svg');
}

.card--newsletter {
  @extend .card--color-300;
  background-image: url('/img/contact/newsletter.svg');
}

.card--linkedin {
  @extend .card--color-400;
  background-image: url('/img/contact/linkedin.svg');
}

// the arrow on the callout links
.callout-link {
  margin-top: 5px;
  padding-left: 30px;
  position: relative;

  &:before {
    content: " ";
    background: url('/img/icon-arrow-white.svg') no-repeat left center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
