//*
//* Animated text for the hero
//*

$animated-text-delay: 2.5s;

@keyframes fade-text {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }

  8% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  31% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  39% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes type-text {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  33% {
    width: 100%;
  }

  34% {
    width: 0;
  }
}

.animated-text {
  height: 1em;
  position: relative;

  > span {
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    display: block;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;

    &:nth-child(2) {
      animation-delay: $animated-text-delay;
    }

    &:nth-child(3) {
      animation-delay: $animated-text-delay * 2;
    }

    &:nth-child(4) {
      animation-delay: $animated-text-delay * 3;
    }
  }

  .once {
    animation-iteration-count: 1;
  }
}

.animated-text--fade {
  > span {
    animation-name: fade-text;
    opacity: 0;
  }
}

.animated-text--typewriter {
  > span {
    animation-name: type-text;
    animation-timing-function: steps(60, end);
    overflow: hidden;
    width: 0;
  }
}

.animated-text--stop {
  > span {
    animation-name: none;

    &:first-child {
      opacity: 1;
      width: auto;
    }
  }
}


//* "Fancy" blockquote based on:
//* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
//*

.fancy-quote {
  display: inline;
  quotes: '\201C''\201D''\2018''\2019';

  &::before,
  &::after {
    color: $color-highlight-lighter;
    font-family: Georgia, serif;
    font-size: 1.618em;
    line-height: .1em;
    position: relative;
    top: -.1em;
    vertical-align: -.4em;

    .inverse & {
      color: $color-highlight;
    }
  }

  &::before {
    content: open-quote;
    left: -.1em;
  }

  &::after {
    content: close-quote;
    left: .1em;
    margin-right: -.4em;

    @media (max-width: $bp-s) {
      margin-right: 0;
    }
  }
}

.fancy-cite {
  &::before {
    content: '—';
    font-family: Georgia, serif;
  }
}

.fancy-blockquote {

  p:first-child {
    @extend .fancy-quote;
  }

  cite {
    @extend .fancy-cite;
  }
}


.hero {

}


.integration-logos {

  img {
    margin: 0 -6px;
    transform: scale(.9);
  }

  // @media (max-width: $bp-med) {
  //   display: block;
  //   max-width: 33em;
  //   text-align: center;
  //
  //   img {
  //     margin: 15px;
  //   }
  // }
  //
  // @media (max-width: $bp-small-2) {
  //   img {
  //     margin: 0;
  //     transform: scale(.7);
  //   }
  // }
}



//*
//* Javascript terminal
//*

.terminal {
  @extend .bg-terminal;

  //* TODO: Make terminal work on touch devices
  //* In the meantime, we hide it */
  .touch & {
    display: none;
  }
}
