.section-hero {
  
  .blurb {
    max-width: 355px;
    
    .button--large {
      margin-left: -5px;
      margin-right: 3px;
    }
  }

}

.landing {
  
  .section-hero {
    
    .blurb {
      max-width: 25em;
    }

    .small-2 {
      font-size: 16.6px;
    }
    
    @media (max-width: 1280px) {
      .media-img {
        width: 45%;
      }
    }
  }
}

$feature-icon: 3rem;
$feature-icon-small: 1.5rem;

.homepage-feature {
  padding-left: $feature-icon + 1rem;
  padding-right: 20px;
  text-align: left;
  position: relative;

  .feature-icon {
    height: $feature-icon;
    width: $feature-icon;
    position: absolute;
    top: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: $bp-med) {
    padding-left: $feature-icon-small + .5rem;
    padding-right: 20px;

    .feature-icon {
      // position: relative;
      // display: inline-block;
      height: $feature-icon-small;
      width: $feature-icon-small;
    }
  }
}

.homepage-integrations {
  img {
    margin: 0 15px 30px 15px;
  }
}
