$animated-text-delay: 2.5s;

@keyframes fade-text {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }

  8% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  31% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  39% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes type-text {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  33% {
    width: 100%;
  }

  34% {
    width: 0;
  }
}

.animated-text {
  height: 1em;
  position: relative;

  > span {
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    display: block;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;

    &:nth-child(2) {
      animation-delay: $animated-text-delay;
    }

    &:nth-child(3) {
      animation-delay: $animated-text-delay * 2;
    }

    &:nth-child(4) {
      animation-delay: $animated-text-delay * 3;
    }
  }

  .once {
    animation-iteration-count: 1;
  }
}

.animated-text--fade {
  > span {
    animation-name: fade-text;
    opacity: 0;
  }
}

.animated-text--typewriter {
  > span {
    animation-name: type-text;
    animation-timing-function: steps(60, end);
    overflow: hidden;
    width: 0;
  }
}

.animated-text--stop {
  > span {
    animation-name: none;

    &:first-child {
      opacity: 1;
      width: auto;
    }
  }
}

//* "Fancy" blockquote based on:
//* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
//*

.fancy-quote {

  p:first-child {
    display: inline;
    quotes: '\201C''\201D''\2018''\2019';

    &::before,
    &::after {
      color: $color-highlight-lighter;
      font-family: Georgia, serif;
      font-size: 1.618em;
      line-height: .1em;
      position: relative;
      top: -.1em;
      vertical-align: -.4em;
    }

    &::before {
      content: open-quote;
      left: -.1em;
    }

    &::after {
      content: close-quote;
      left: .1em;
      margin-right: -.4em;

      @media (max-width: $bp-small) {
        margin-right: 0;
      }
    }
  }

  cite::before {
    content: '—';
    font-family: Georgia, serif;
  }
}


.hero {
  display: table;
  width: 100%;

  @media (max-width: $bp-med) {
    display: block;
  }
}

.hero-blurb,
.hero-blockquote {
  display: table-cell;
  margin: auto;
  width: 50%;

  @media (max-width: $bp-med) {
    display: block;
    margin: 50px auto;
    width: auto;
  }
}

.hero-blurb {

  @media (max-width: $bp-med) {
    text-align: center;

    .cta {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.hero-blockquote {
  @extend .fancy-quote;
  box-sizing: content-box;
  max-width: 30em;
  padding-left: 40px;
  text-align: right;

  p:first-child {
    @extend .gamma;
  }

  cite {
    @extend .x-small;
    @include font-weight('normal');
  }

  @media (max-width: $bp-med) {
    padding: 0;
    text-align: center;
  }
}


.integration-logos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: none;

  img {
    transform: scale(.9);
  }

  @media (max-width: $bp-med) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 33em;

    img {
      margin: 10px;
    }
  }

  @media (max-width: $bp-small-2) {
    img {
      margin: 5px;
      transform: scale(.8);
    }
  }
}


$feature-spacing: $base-spacing;
$feature-icon: $base-spacing;
$feature-icon-margin: $media-spacing;

.homepage-features {
  margin: $base-spacing (($feature-icon + $feature-icon-margin) * -1);

  @media (max-width: $bp-med-large) {
    margin: $base-spacing (-$base-spacing) $base-spacing 0;
  }

  svg {
    fill: $color-highlight;
    height: $feature-icon;
    left: 0;
    position: absolute;
    width: $feature-icon;
  }

  .blurb {
    padding-left: $feature-icon + $feature-icon-margin;
    padding-right: $feature-spacing;
    width: auto;
  }
}


//* TODO: Make terminal work on touch devices
//* In the meantime, we hide it */
.touch .js-terminal {
  display: none;
}
