.legalese {
  max-width: 690px + 2*30px;
  padding: 0 30px;
  margin: 110px auto;
  color: $color-muted;
  
  h1 {
    font-size: 21px;
    @include font-weight(medium);
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 25px;
    margin: 0 0 30px;
    padding-top: 90px;
    border-top: 2px solid $color-highlight;
  }
  h2 {
    font-size: 16px;
    @include font-weight(medium);
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 25px;
    margin: 20px 0;
  }
  p {
    max-width: none;
  }
  ul {
    list-style: disc;
    margin: 20px 0;
    > li {
      margin: 20px 0;
    }
  }
  ol {
    list-style: decimal;
    margin: 20px 0 20px -50px;
    > li {
      padding-left: 10px;
      margin: 20px 0;
    }
  }
  ol ol {
    list-style: decimal;
    margin-left: -17px;
  }
  ol ol ol {
    list-style: lower-roman;
  }
  
  > ol {
      counter-reset: h2-counter;
      list-style: none;
  }
  
  > ol h2:before {
      content: counter(h2-counter, decimal)".";
      counter-increment: h2-counter;
      font-weight: bold;
      display: inline-block;
      width: 30px;
      text-align: right;
      margin-right: 20px;
      margin-left: -50px;
  }
  
}