.text--legalese {
  h1 {

    font-size: 21px;

    &::before {
      border: 1px solid $color-highlight;
      content: '';
      display: block;
      margin: ($base-spacing * 5) 0 ($base-spacing * 5 - $media-spacing);
    }

    &::after {
      display: none;
    }
  }

  li {
    margin-bottom: $base-spacing;
    margin-top: $base-spacing;
  }

  h2 {
    @extend .text-h3;
  }

  > ol {
    counter-reset: h2-counter;
    list-style: none;

    h2::before {
      content: counter(h2-counter, decimal)'.';
      counter-increment: h2-counter;
      display: inline-block;
      margin-left: -$column-gap;
      margin-right: $base-spacing;
      text-align: right;
      width: $column-gap - $base-spacing;
    }
  }
}
