.text--legalese {

  padding-left: 80px;

  li {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h2 {
    @extend .text-h3;
    @include font-weight(medium);
  }

  > ol {
    counter-reset: h2-counter;
    list-style: none;

    h2::before {
      content: counter(h2-counter, decimal)'.';
      counter-increment: h2-counter;
      display: inline-block;
      margin-left: -50px;
      margin-right: 20px;
      text-align: right;
      width: 30px;
    }
  }
}
