$blurb-spacing: $media-spacing;
$blurb-title-spacing: 6px;
$blurb-hd-spacing: $blurb-spacing - $blurb-title-spacing;
$blurb-icon-size: $base-font-size * 2;


//* Blurb Thumbnails */

.thumbnail {
  height: 80px;
  max-width: 33%;
  overflow: hidden;
  width: 80px;

  img {
    height: 100%;
    max-width: none;
    width: auto;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.thumbnail--large {
  height: 120px;
  width: 120px;

  &.media-img {
    margin-right: $column-gap / 2;

    @media (max-width: $bp-xs) {
      display: none;
    }
  }
}


//* Blurb component */

.blurb {
  @extend .center;
  max-width: 40em;
  position: relative;

  cite {
    margin-top: -5px;
  }
}

.blurb-title {
  @extend .epsilon;
  @extend .semibold;
  margin: 0;
  padding-bottom: .6em;
  vertical-align: baseline;

  a & {
    @extend .quiet;
  }

  a:hover & {
    color: $color-highlight;
  }

  + p {
    margin-top: .5em;
  }
}

.blurb-meta {
  @extend .x-small;
  vertical-align: baseline;

  .link {
    display: block;
  }
}


.blurb-text {
  p {
    margin: 0;
  }
}

.blurb-hd {
  border-bottom: 2px solid $color-highlight;
  margin-bottom: $blurb-hd-spacing;

  .media-img {
    margin: $blurb-title-spacing $blurb-spacing $blurb-spacing 0;
  }

  .blurb-title,
  .blurb-meta {
    margin: 0;
    padding-bottom: $blurb-title-spacing;
  }
}

.blurb-bd {

  p {
    margin-top: .5em;
  }

  .media,
  &.media {
    margin: ($column-gap / 2) 0;

    p {
      margin: 0;
    }
  }

  .media-img {
    margin-right: ($column-gap / 2);
  }
}

.blurb-ft {
  @extend .small;
}


//#
//# # BLURB VARIANTS
//#


//* Blurb with offset icon to the left */
.blurb--offset {
  box-sizing: content-box;
  padding-left: $blurb-icon-size + $blurb-spacing;
}

.blurb-icon {
  height: $blurb-icon-size;
  left: 0;
  position: absolute;
  top: $blurb-title-spacing;
  width: $blurb-icon-size;
}


//* Blurb with title and body inlined */
.blurb--inlined {

  padding-bottom: $base-spacing;

  p,
  .blurb-title,
  .blurb-bd {
    display: inline;
  }

  .blurb-title {
    font-size: 1em;
  }

  .blurb-ft {
    padding: $blurb-title-spacing 0;

    a {
      @extend .link;
    }
  }
}


//* Blurb in a layout */

.grid .blurb {
  max-width: $blurb-width;
}

.half .blurb {
  max-width: none;
}

.third {

  &:nth-child(3n+1) .blurb {
    margin-left: 0;
  }

  &:nth-child(3n) .blurb {
    margin-right: 0;
  }

  @media (max-width: $bp-m) {
    &:nth-child(n) .blurb {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
