// scss-lint:disable PlaceholderInExtend

.blurb {
  max-width: 30em;

  cite {
    @extend .xx-small;
    @extend .bold;
    @extend .loud;
    display: block;
    margin-top: -5px;
  }
}

.blurb-hd {
  @extend .bb;

  .media-img {
    margin-top: 10px;
  }

  .media--bleed {
    .media-img {
      margin-top: 0;
    }
  }
}

.blurb-title {
  @extend .epsilon;
  @extend .semibold;
  margin: 5px 0;

  + p {
    margin-top: 0;
  }

  .inverse a:hover &.loud {
    color: $color-highlight;
  }

  .inverse a:hover &.highlight {
    color: $color-lightest;
  }
}

.blurb-meta {
  @extend .x-small;
  margin: 10px 0;
  max-width: none;

  .link {
    display: block;
    margin-right: 1px;
  }

  &.right {
    position: relative;
    top: 12px;
  }
}

.blurb-bd {

  p:first-child {
    margin-top: 15px;
  }

  .media {
    margin: 10px 0;
  }

  .media-img {
    margin: 20px 30px 0 0;
  }

  .cta {
    margin-top: 25px;
  }
}

.blurb-text {
  a {
    @extend .link;
  }

  p {
    margin-top: 0;
    margin-left: 0;
  }
}

.l-aside,
.l-third {

  .blurb {
    width: 245px;
  }

  .blurb--wide {
    width: 278px;
  }
}

.l-third .blurb {
  @extend .center;
}

.l-third:nth-child(3n+1) .blurb {
  margin-left: 0;
}

.l-third:nth-child(3n) .blurb {
  margin-right: 0;
}

.l-aside {
  .blurb {
    margin: 50px 0;
  }

  .blurb-title {
    opacity: .9;
  }
}
