$blurb-spacing: $media-spacing;

//* Blurb component */

.blurb {
  max-width: 30em;
  position: relative;

  cite {
    @extend .xx-small;
    @extend .bold;
    @extend .loud;
    display: block;
    margin-top: -5px;
  }

  &.break-inside-avoid {
    padding-bottom: 20px;
  }
}

.blurb-title {
  @extend .epsilon;
  @extend .semibold;
  @extend .quiet;
  margin: 5px 0;

  + p {
    margin-top: 0;
  }


  a:hover & {
    color: $color-highlight;
  }

  .l-arrange > & {
    @extend .l-arrange-fill;
    padding: 5px 0;
    vertical-align: baseline;
  }
}

.blurb-meta {
  @extend .x-small;
  margin: 10px 0;
  max-width: none;

  .link {
    display: block;
    margin-right: 1px;
  }

  .l-arrange > & {
    @extend .l-arrange-fit;
    vertical-align: baseline;
  }
}

.blurb-hd {
  border-bottom: 2px solid $color-highlight;
  margin-bottom: 10px;

  .media-img {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .media--bleed {
    .media-img {
      margin-top: 0;
    }
  }
}


.blurb-bd {

  &::after { // clearfix
    clear: both;
    content: ' ';
    display: table;
  }

  p:first-child {
    margin-top: 10px;
  }

  img.left {
    margin: 10px 20px 20px 0;
    max-width: 38.2%;

    + p {
      margin-top: 10px;
    }
  }

  .media {
    margin: 15px 0 5px;
  }

  .media-img {
    margin: 10px 30px 0 0;
  }

  .cta {
    margin-top: 25px;
  }
}

.blurb-text {
  p {
    margin: 0;
  }
}

.blurb-footer {
  @extend .small;
  line-height: 25px;

  a {
    @extend .link;
  }
}


//* Blurb in a layout */

.l-container {
  .blurb {
    margin: 0 auto $blurb-spacing;
    width: $blurb-width;
  }
}

.l-third {

  &:nth-child(3n+1) .blurb {
    margin-left: 0;
  }

  &:nth-child(3n) .blurb {
    margin-right: 0;
  }

  @media (max-width: $bp-med) {
    .blurb {
      margin-left: $blurb-spacing;
      margin-right: $blurb-spacing;
      width: auto;
    }

    &:nth-child(3n+1) .blurb {
      left: -$blurb-spacing;
      margin-left: $blurb-spacing;
    }

    &:nth-child(3n) .blurb {
      margin-right: $blurb-spacing;
      right: -$blurb-spacing;
    }
  }
}

.l-half-med {
  @media (max-width: $bp-med) {
    .blurb {
      margin: 0 $blurb-spacing $blurb-spacing;
      width: auto;
    }

    &:nth-child(odd) .blurb {
      left: -$blurb-spacing;
      right: 0;
    }

    &:nth-child(even) .blurb {
      left: 0;
      right: -$blurb-spacing;
    }
  }
}

.l-container {

  @media (max-width: $bp-small) {
    .blurb:nth-child(n),
    &:nth-child(n) .blurb {
      float: none;
      left: 0;
      margin: 0 auto $blurb-spacing;
      right: 0;
    }
  }
}
