/* Call outs
------------------------------*/
/* To center the text vertically in the callout:
 * http://css-tricks.com/centering-in-the-unknown/
 */
.callout {
  align-items: center;
  background: $color-highlight;
  border-radius: 100%;
  color: $color-lightest;
  display: flex;
  height: 127px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 127px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.callout-text {
  padding: 1% 10% 0;
  width: 100%;
}

.callout--large {
  height: 276px;
  width: 276px;
}

.callout--small {
  height: 96px;
  width: 96px;
}

.callout--outline::after {
  border: 1px solid white;
  border-radius: 100%;
  content: ' ';
  display: block;
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}

.callout--stitch::after {
  @extend .callout--outline;
  border-style: dashed;
  opacity: .5;
}

.callout--banner {
  border-radius: 0;
  text-align: center;

  &.callout--stitch::after {
    border-radius: 0;
    border-width: 1px 0;
    left: 0;
    width: 100%;
  }

  .callout-text {
    padding: 1% 10%;
  }
}
