//* Call outs
//------------------------------*/

$callout-size: 8em;

.callout {
  align-items: center;
  background: $color-highlight;
  border-radius: 100%;
  box-sizing: content-box;
  color: $color-lightest;
  display: flex;
  flex-shrink: 0;
  height: $callout-size;
  justify-content: center;
  position: relative;
  text-align: center;
  width: $callout-size;

  svg {
    height: 100%;
    width: 100%;
  }

  &.abs {
    position: absolute;
  }
}

.callout-text {
  padding: 1% 10% 0;
  width: 100%;
}

.callout--large {
  height: $callout-size * 2;
  width: $callout-size * 2;
}

.callout--small {
  height: $callout-size * .75;
  width: $callout-size * .75;
}

.callout--outline::after {
  border: 1px solid $color-lightest;
  border-radius: 100%;
  content: ' ';
  display: block;
  height: 90%;
  left: 5%;
  margin-left: -1px;
  margin-top: -1px;
  position: absolute;
  top: 5%;
  width: 90%;
}

.callout--stitch::after {
  @extend .callout--outline;
  border-style: dashed;
  opacity: .5;
}

.callout--banner {
  border-radius: 0;
  text-align: center;

  &.callout--stitch::after {
    border-radius: 0;
    border-width: 1px 0;
    left: 0;
    width: 100%;
  }

  .callout-text {
    padding: 1% 10%;
  }
}
