.dropdown-container {
  position: relative;
  min-width: 15em;
}
.dropdown {
  background: url(/img/icon-select-drop.png) no-repeat 95% 0.825em;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  height: 2em;
  margin: -3px 0 0 0;
  border-radius: 3px;

  &:hover {
    background-color: $color-light;
    height: auto;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

    .inverse & {
      background-color: $color-darkest;
    }
  }

  .right &, &.right {
    right: 0;
  }

  .left &, &.left {
    left: 0;
  }

  a {
    display: block;
    white-space: nowrap;
    padding: 3px 20px;
    color: $color-muted;
  }

  .selected a, a.selected,
  .no-touch & a:hover {
    color: $color-highlight;
  }
}
