//* Forms
//------------------------------*/
.form--fancy {
  @extend .inset-7;
  background: $color-light;
  border-radius: 10px 55px 55px 10px; // 55 => form height
  margin: 40px auto;
  overflow: hidden;
  padding: 6px 180px 6px 6px; // 180 => button-width + right padding
  position: relative;

  .form-group {
    float: left;
    margin: 0;
    padding-right: 6px;
    width: 50%;
  }

  input,
  button {
    border: 0;
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }

  input {
    background-color: $color-lighter;
    border-radius: 4px;
    width: 100%;
  }

  button {
    background: $color-highlight;
    border-radius: 0 42px 42px 0;
    color: $color-lightest;
    font-size: 13.62px;
    line-height: 37px; //* magic number to get the button text to align with the input placeholder */
    position: absolute;
    right: 6px;
    width: 174px;
  }
}

.inverse .form--fancy {
  background: transparentize($color-darkest, .95);

  input {
    background: transparentize($color-dark, .3);
  }

  ::placeholder {
    color: $color-muted;
  }
}

//* To style placeholders
//* http://css-tricks.com/snippets/css/style-placeholder-text/
//*/
::placeholder {
  color: rgba(126, 131, 131, .5);
  font-size: 13.62px;
}

@media (max-width: $bp-m) {
  .form--fancy {
    border-radius: 10px;
    padding: 6px;

    .form-group {
      float: none;
      padding: 3px;
      width: 100%;
    }

    .form-button {
      border-radius: 0 0 5px 5px;
      font-size: 16px;
      margin-top: 3px;
      position: static;
      width: 100%;
    }
  }

  ::placeholder {
    font-size: 16px;
  }
}
