$incident-spacing: 23px;
$incident-border: 2px solid $color-highlight-lighter;

.incident {
  
  margin-bottom: $incident-spacing;

  .incident-description:last-child {
    border-bottom: $incident-border;
    padding-bottom: $incident-spacing - $base-spacing; 
  }

  .details-less {
    border-bottom: $incident-border; 
    padding-bottom: $incident-spacing;
  }
  
  .details-more {
    border-bottom: 1px dashed $color-highlight;
    padding-bottom: $incident-spacing;
  }
}

.no-incidents + .incidents:before {
  content: '';
  display: block;
  border-top: $incident-border;
  margin-top: $incident-spacing;
}