//* Links
//* ------------------------------*/
a,
a * {
  text-decoration: none;
  transition: color 300ms ease;
}

//*
//* Links with a small arrow button to the right
//*/

.link {
  background: url('/img/icon-arrow.svg') no-repeat right center;
  padding-right: 22px;
}


//*
//* Links with a small plus button to the left
//*/

.link-more {
  background: url('/img/icon-plus.svg') no-repeat 2px 45%;
  display: inline-block;
  padding-left: 30px;
}


//*
//* Links that look like buttons
//*
//* TODO: Make the default button simpler and create a variation for the
//* "swipe style" button
//*/

.button {
  border-radius: 60px 4px 4px 60px;
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .24);
  color: $color-lightest;
  display: block;
  font-size: 21px;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  margin-left: -5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -10px;
  transition: box-shadow .2s ease-in;

  &:hover {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .24);
  }
}

.button-icon {
  float: left;
  height: 50px;
  left: 0;
  margin: 5px;
  position: relative;
  transition: left .2s ease-in;
  width: 50px;

  .js-clicked & {
    left: 20em;
  }
}

.button-label {
  color: $color-muted;
  display: block;
  overflow: hidden;
  padding: 0 20px;
}


//* Button color variations */

.inverse {
  .button {
    color: $color-darkest;
  }

  .button-label {
    color: $color-lightest;
  }

  .button--muted {
    color: $color-dark;

    .button-label {
      color: inherit;
    }
  }
}

[class*='bg'] {
  .button--muted {
    color: inherit;
  }
}


//* Button size variations */
.button--large {
  border-radius: 80px 4px 4px 80px;
  font-size: 27px;
  height: 80px;
  line-height: 80px;
  margin-left: 0;

  .button-icon {
    height: 68px;
    margin: 6px;
    width: 68px;
  }

  .button-label {
    padding-left: 0;
    padding-right: 30px;
  }
}

.button--small {
  border-radius: 40px 2px 2px 40px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;

  .button-icon {
    height: 30px;
    width: 30px;
  }
}


//* Button layout variations */
.button--inline {
  display: inline-block;
  min-width: 120px;
  vertical-align: middle;
  width: auto;
}

.button--center {
  margin-left: auto;
  margin-right: auto;
}


//* Button appearance variations */

@mixin pill-button-size($button-height, $button-margin) {
  border-radius: $button-height;
  height: $button-height;
  line-height: $button-height;

  .button-label {
    border-radius: $button-height;
    height: $button-height - ($button-margin * 2);
    line-height: $button-height - ($button-margin * 2);
    margin: $button-margin;
  }
}

.button--pill {
  @include pill-button-size(62px, 5px);

  .button-label {
    @include font-weight(medium);
    background-color: $color-highlight;
    color: $color-lightest;
    display: block;
    text-indent: 0;
  }

  &.button--small {
    @include pill-button-size(42px, 5px);

    .button-label {
      font-weight: inherit;
    }
  }
}


//*
//* Simple buttons
//*
//* Example: <a href="#" class="simple-button">Hello</a>
//*/

.simple-button {
  background-color: $color-highlight;
  border-radius: 4rem;
  color: $color-lightest;
  display: inline-block;
  line-height: 1.5rem;
  padding: .20rem 1rem;

  &.simple-button--large {
    @include font-weight(bold);
    padding: .5rem 1.2rem;
  }
}


//*
//* Icon links (eg. social links)
//*
//* Hover effect: http://tympanus.net/Development/IconHoverEffects/#set-8
//*/
.icon-link--round {
  display: inline-block;
  margin-right: 25px;
  position: relative;
  transition: transform ease-out .2s;

  &::after {
    border-radius: 100%;
    content: '';
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }

  @each $name, $color in $colors-social {
    &.icon-link--#{$name} svg {
      fill: darken(grayscale($color), 5%);
    }
  }

  .no-touch &:hover {
    transform: scale(.95);

    &::after {
      animation: sonarEffect 1.3s ease-out 75ms;
    }
  }
}

$color-sonar: $color-darker;

@keyframes sonarEffect {
  0% {
    opacity: .3;
  }

  40% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px $color-sonar, 0 0 0 10px rgba(255, 255, 255, .5);
    opacity: .5;
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px $color-sonar, 0 0 0 10px rgba(255, 255, 255, .5);
    opacity: 0;
    transform: scale(1.5);
  }
}


//*
//* Button with image of video
//*/
.button-video {
  background: url('/img/video.png') no-repeat center center;
  background-size: cover;
  display: inline-block;
  position: relative;

  .callout {
    @extend .callout--small;
    @extend .callout--stitch;
    left: -35px;
    margin-left: -20px;
    margin-top: -10px; //* makes it easier to just 0 out the margins when going responsive than to change top and left
    position: absolute;
    top: -25px;
    transition: opacity .2s;
  }

  .play-button {
    background: linear-gradient(to right, #f1f1f1, #ececec);
    border-radius: 100%;
    height: 102px;
    left: 50%;
    margin-left: -54px;
    margin-top: -56px;
    position: absolute;
    top: 50%;
    transition: box-shadow .2s;
    width: 102px;

    &::after {
      border-color: transparent transparent transparent #4BC0B5;
      border-style: solid;
      border-width: 30px 0 34px 61px;
      content: '';
      height: 0;
      left: 29px;
      position: absolute;
      top: 20px;
      width: 0;
    }
  }

  &:hover .play-button {
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .2);
  }

  &.playing {
    .callout {
      opacity: 0;
    }

    .play-button {
      display: none;
    }
  }
}

.button-video--compact {
  .callout {
    margin: 0;
  }
}

//*
//* Call to action
//*/
.cta {
  max-width: 270px;
}
