$nav-width: 270px;

$nav-bg-color:             rgb(64, 75, 76);
$nav-primary-link-color:   rgb(255, 255, 255);
$nav-secondary-link-color: rgb(126, 131, 131);
$nav-nested-link-color:    rgb(191, 207, 205);
$nav-icon-color:           rgb(101, 118, 118);
$nav-icon-bg-colors: (
  twitter:    rgb(79, 92, 93),
  facebook:   rgb(62, 74, 74),
  github:     rgb(57, 67, 67),
  linkedin:   rgb(52, 62, 63),
  gitter: rgb(42, 50, 51)
);

html {
  background: $nav-bg-color; //* so it looks like off-canvas navigation bar stretches all the way to the bottom
}

//*
//* Based on Foundation Off-Canvas
//*
//* http://foundation.zurb.com/docs/components/offcanvas.html
//*/
.off-canvas-menu {
  background: $nav-bg-color;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: -$nav-width; //* off-canvas to the right
  top: 0;
  transition: transform 500ms ease 0s;
  width: $nav-width;
  z-index: 1001;
}

.off-canvas-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.off-canvas-inner-wrap {
  position: relative;
  transition: transform 500ms ease;
  width: 100%;
}

.open-menu .off-canvas-inner-wrap {
  transform: translate3d(-$nav-width, 0, 0);
}

.exit-off-canvas {
  color: $nav-secondary-link-color;
  position: absolute;
  right: 15px;
  top: 5px;
}


//* Fallback in case javascript is not enabled
//* (won't get smooth sliding effect but
//* at least it will be usable)
//*/
.off-canvas-menu:target {
  right: 0;
  z-index: 100;

  + .page {
    left: -$nav-width;
    position: relative;
  }
}

.nav {
  margin: 0 0 0 30px;
  text-transform: uppercase;

  a {
    color: inherit;
    display: block;
    position: relative;
  }

  .current {
    color: $color-highlight;
  }

  .active {
    color: $color-highlight;
  }

  .nav {
    background: $nav-bg-color;
    line-height: 2;
    margin: 0 0 0 -10000px;
    padding: 15px;
    padding-left: 10030px;
    position: relative;
    text-transform: none;
  }
}


.site-nav {
  padding: 40px 0;

  .current::before {
    background: url('/img/icon-arrow.svg') no-repeat center center;
    background-size: cover;
    content: ' ';
    display: inline-block;
    height: 15px;
    margin: -2px 15px 0 -30px;
    vertical-align: middle;
    width: 15px;
  }

  .l-aside & {
    margin-left: -3px;
  }
}

.nav--primary {
  font-size: 16px;
  line-height: 32px;

  .inverse & {
    color: $nav-primary-link-color;
  }

  .no-touch & a:hover {
    color: $color-highlight;
  }

  .nav {
    color: $nav-nested-link-color;
  }
}

.nav--secondary {
  font-size: 14px;
  line-height: 30px;

  .inverse & {
    color: $nav-secondary-link-color;
  }
}

.nav--nested {
  line-height: 40px;
}

.nav--flush-left {
  margin-left: 0;
}

.nav--inline {
  li {
    float: left;
    margin-right: 6px;
  }

  &.nav--wide {
    li {
      margin-right: 35px;
    }
  }
}

.nav--social {
  margin-top: 25px;

  .icon-link--square {
    color: $nav-icon-color;
    height: 25px;
    line-height: 25px;
    padding: 0 4px;
    width: 25px;
  }

  .icon-link--large {
    height: 55px;
    line-height: 55px;
    width: 55px;
  }

  @each $name, $color in ($nav-icon-bg-colors) {
    .icon-link--#{$name} {
      background: $color;
    }
  }

  .icon-link--inverse {
    color: $color-lightest;
    @each $name, $color in ($nav-icon-bg-colors) {
      &.icon-link--#{$name} {
        background: lighten($color, 50%);
      }
    }
  }
}

.nav--centered {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.inline {
  display: inline-block;
  margin: 0;

  > li {
    display: inline-block;
    vertical-align: middle;
  }

  > li:not(:first-child) {
    margin-left: 25px;
  }
}
