//*
//* == Navigation components, including the site header
//*
//* They have the form:
//*
//* <nav>
//*   <ul class="nav">
//*     <li class="active">
//*       <a>[...]</a>
//*     </li>
//*     <li>
//*       <a>[...]</a>
//*       <ul class="nav">
//*         [...]
//*       </ul>
//*     </li>
//*

$nav-width: 280px;

$nav-bg-color:             rgb(64, 75, 76);
$nav-secondary-link-color: rgb(126, 131, 131);
$nav-nested-link-color:    rgb(191, 207, 205);
$nav-icon-color:           rgb(101, 118, 118);

// scss-lint:disable ColorVariable
$nav-icon-bg-colors: (
  twitter:  rgb(79, 92, 93),
  facebook: rgb(62, 74, 74),
  github:   rgb(57, 67, 67),
  linkedin: rgb(52, 62, 63),
  gitter:   rgb(42, 50, 51)
);


html {
  background: $nav-bg-color; //* so it looks like off-canvas navigation bar stretches all the way to the bottom
}


//*
//* Navigation ul
//*

.nav {
  font-size: 0; // collapse space around items
  margin: 0;
  text-transform: uppercase;

  > li {
    font-size: $base-font-size;
    padding: .25em 0;
  }

  a {
    color: inherit;
    display: block;
    position: relative;
  }

  .no-touch & a:hover {
    color: $color-highlight;
  }

  .inverse & {
    @include font-weight(thin);
  }
}


//*
//* Active li
//*
.active {

  > a {
    @include font-weight(light);
    color: $color-highlight;
  }
}


//*
//* Navigation Variants
//*

//** Fixed navigation sidebar

.affix { //* Added by bootstrap affix.js */
  position: fixed;
}


//** Horizontal

.nav--inline {
  display: inline-block;

  > li {
    display: inline-block;
    margin-left: $base-spacing;
    vertical-align: middle;
  }
}


//** Primary navigation links

.nav--primary {
  > li {
    font-size: $base-font-size * 1.125;
  }
}

//** Secondary navigation links

.nav--secondary {
  > li {
    font-size: $base-font-size * .875;
  }

  .inverse & {
    color: $nav-secondary-link-color;
  }
}


// //** Social links in the sidebar
//
// .nav--social {
//   margin-top: $base-spacing * $baseline;
//
//   .icon-link--square {
//     color: $nav-icon-color;
//     height: $base-spacing * $baseline;
//     line-height: 1;
//     padding: 0 4px;
//     width: $base-spacing * $baseline;
//   }
//
//   .icon-link--large {
//     height: 55px;
//     line-height: 55px;
//     width: 55px;
//   }
//
//   @each $name, $color in ($nav-icon-bg-colors) {
//     .icon-link--#{$name} {
//       background: $color;
//     }
//   }
//
//   .icon-link--inverse {
//     color: $color-lightest;
//     @each $name, $color in ($nav-icon-bg-colors) {
//       &.icon-link--#{$name} {
//         background: lighten($color, 50%);
//       }
//     }
//   }
// }





//*
//* Navigation styles based on where the nav is placed on the page layout
//*

.site-header {

  .bb::after {
    bottom: 0;
    height: 3px;
    position: absolute;
  }

  .content {
    align-items: center;
    display: flex;
  }

  .brand {
    flex: 1;
    margin: 20px 0;
  }

  .brand-logo {
    height: 70px;
    width: 180px;
  }
}

.top-nav {
  margin-right: $column-gap - $header-padding; //* Align with right margin sidebar (see Blog) */
  margin-top: 2px; //* Align with netlify baseline */

  .button--pill {
    margin-right: -5px; //* Align right with the button label
  }

  @media(max-width: $bp-l) {
    margin-right: 0;
  }
}

.side-nav {
  min-width: $base-font-size * 15;

  .active > a::before {
    background: url('/img/icon-arrow.svg') no-repeat left top;
    background-size: $base-font-size * .875;
    content: ' ';
    display: inline-block;
    height: $base-font-size;
    margin: 0 ($base-font-size * .5) 0 ($base-font-size * -1.5);
    vertical-align: middle;
    width: $base-font-size;
  }

  .nav--inline {
    margin-left: 0;
  }
}

//** Nested navigation (like in the documentation section)

.nav--nested {
  @extend .nav--primary;

  > .active > a::before {
    display: none;
  }

  .nav {
    > li {
      font-size: $base-font-size;
    }
    //background: $nav-bg-color;
    margin-left: -10000px;
    margin-right: -($base-font-size * 1.5);
    //padding: 6px 0 10px;
    padding-left: 10000px + ($base-font-size * 1.5);
    position: relative;
    text-transform: none;
  }
}


//*
//* Off-Canvas navigation: Based on Foundation Off-Canvas
//*
//* http://foundation.zurb.com/docs/components/offcanvas.html
//*/

.off-canvas-menu {
  background: $nav-bg-color;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px;
  position: absolute;
  right: -$nav-width; //* off-canvas to the right
  top: 0;
  transition: transform 500ms ease 0s;
  width: $nav-width;
  z-index: 1001;

  .nav {
    margin-right: 0;
  }
}

.off-canvas-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.off-canvas-inner-wrap {
  position: relative;
  transition: transform 500ms ease;
  width: 100%;
}

.open-menu .off-canvas-inner-wrap {
  transform: translate3d(-$nav-width, 0, 0);
}

.exit-off-canvas {
  color: $nav-secondary-link-color;
  position: absolute;
  right: 15px;
  top: 5px;
}

//*
//* Fallback for off-canvas navigation in case javascript is not enabled
//* (won't get the smooth sliding effect but at least it will be usable)
//*/

.no-js .off-canvas-menu:target {
  right: 0;
  z-index: 100;

  + .page {
    left: -$nav-width;
    position: relative;
  }
}
