.plan--header {
  padding: 10px;
  width: 8em;
  vertical-align: top;
}
.plan--title {
  font-size: 16px;
  font-weight: 100;
}
.plan--price {
  padding: 3px 0 5px;
}
.plan--currency {
  font-size: 16px;
  font-weight: 100;
}
.plan--amount {
  font-size: 28px;
}
.plan--period {
  font-weight: normal;
}
.plan--note {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
}

.help-box {
  display: none;
  position: absolute;
  background: $color-lightest;
  border: 1px solid $color-highlight-lighter;
  padding: 5px 20px;
  text-align: left;
  z-index: 1000;
  width: 400px;
}
.help-box-overlay {
  display: none;
  background: rgba(0,0,0,0.8);
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
