.pricing-table {
  table-layout: fixed;
}

.plan-th {
  width: 190px;
}

.plan-price {
  display: table;
  width: 100%;
}

.plan-amount,
.plan-period {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}

.plan-amount {
  text-align: right;

  &::before {
    $font-size: 20px / 60px * 1em;
    content: '$';
    display: inline-block;
    font-size: $font-size;
    font-weight: normal;
    margin: 0 3px 0 -3px;
    position: relative;
    top: -1em - $font-size;
  }
}

.plan-amount--0 {
  width: 50%;
}

.plan-amount--7-5 .decimal-point {
  margin-left: -.19em;
}

.plan-period {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  padding: 0 3px;
  text-align: left;
}

.plan-feature {
  font-size: 13px;
  height: 54px;
  line-height: 1.45;
  padding-right: 35px;
  position: relative;
  text-align: left;
  width: 180px;
}

.plan-features-th {
  width: 180px;
}

.plan-feature-plan {
  display: none;
}

.icon-no {
  border: 1px solid $color-muted;
  border-radius: 100%;
  display: inline-block;
  height: 13px;
  vertical-align: middle;
  width: 13px;
}

.icon-yes {
  background-color: $color-highlight;
  border: 1px solid $color-highlight;
  border-radius: 100%;
  display: inline-block;
  height: 13px;
  vertical-align: middle;
  width: 13px;
}

.stacked-pricing-table {

  font-size: 1em;

  .plan-price {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .plan-amount,
  .plan-period {
    padding-left: 6px;
    width: 50%;
  }
}

@media (max-width: $bp-l) {
  //*
  //* Stack plan amount and period in pricing table
  //*/
  .pricing-table {

    .plan-price {
      padding-bottom: 12px;
      padding-top: 15px;
    }

    .plan-amount,
    .plan-period {
      display: block;
      text-align: center;
      width: 100%;
    }

    .plan-amount {
      margin-left: -3px;
    }

    .plan-period {
      padding-left: 3px;
    }
  }
}
