/*
 * Text blocks where some of the markdown generated tags have a special look'n feel
 */

.editorial-text {
  strong {
    color: $color-highlight;
  }
}

.post-bd {
  img {
    max-width: 100%;
  }
}

.docs-main, .post-bd {
  h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: $color-darkest;
    text-transform: uppercase;
    margin-top: 80px;
  }
  p {

    margin-left: 0;
  }
  pre {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    color: $color-highlight;
    font-style: italic;
    overflow: auto;
    max-width: 40em;
  }
  img {
    max-width: 40em;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
  }
}
