/*
 * Text blocks where some of the markdown generated tags have a special look'n feel
 */

.editorial-text {
  strong {
    color: $color-highlight;
  }
}

.pullquote {
  @extend .editorial-text;
}

.text {

  h2, h3, h4, h5, h6 {
    margin-top: 40px;
    color: $color-darkest;
  }

  
  h2 {
    @extend .large;
    @include font-weight(normal);
    text-transform: uppercase;
  }
  
  h3 { // same saize as blurb title
    @extend .epsilon;
    @include font-weight(normal);
  }

  h4 {
    @extend .medium;
    @include font-weight(normal);
    text-transform: uppercase;
  }
  
  h5 {
    @extend .medium;
    @include font-weight(medium);
  }
  
  h6 {
    @extend .small;
  }
  
  p, ul, ol {
    max-width: 40em;
    margin-left: 0;
  }

  ul {
    list-style: disc;
    margin-left: 1em;
  }
  
  ol {
    margin-left: -1em;
    ol {
      list-style: decimal;
      ol {
        list-style: lower-roman;
      }
    }
  }
  

  @media (min-width: $bp-small) {
    ul {
      margin-left: 0;
    }
    
    ol {
      margin-left: -50px;
      > li {
        padding-left: 10px;
      }
      ol {
        margin-left: -17px;
      }
    }
  }

  em {
    font-style: italic;
  }

  pre {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    color: $color-highlight;
    font-style: italic;
    overflow: auto;
    max-width: 40em;
  }
  
  img {
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    display: block;
    margin: 40px 0;
  }

  /* Fixes for funny markup in current posts */
  br + code {
    display: block;
    margin: 20px 0;
  }

  img + br, code + br {
    display: none;
  }
  
  h2, h3, h4, h5, h6 {
    strong {
      font-weight: inherit;
    }
  }
}

.docs-main  {
  margin-top: 10px;
  
  ul {
    list-style: none;
  }
}

