//*
//* # Text blocks where some of the markdown generated tags have a special look'n feel
//*
//* They are not in _typography.css because they combine both typography and color
//*
.editorial-text {
  strong {
    color: $color-highlight;
  }
}

.pullquote {
  @extend .editorial-text;
}

.sidenote {
  @extend .loud;
  @extend .small;
  @include font-weight(normal);
  font-style: normal;
}


//*
//* # Markdown generated tags
//*


//*
//* Headers
//*/

%text-headline {
  @extend .loud;
  @include font-weight(medium);
  letter-spacing: normal;
  line-height: 1.25;
  margin-bottom: 1em;
  margin-top: 2.5em;
  text-transform: uppercase;

  li & {
    margin-top: 1.5em;
  }
}

.text-h1,
.text h1 {
  @extend .delta;
  @extend .bb;
  @extend %text-headline;

  &::after {
    margin-top: ($base-spacing / 2);
  }
}

.text-h2,
.text h2 {
  @extend .epsilon;
  @extend %text-headline;
}

.text-h3,
.text h3 {
  @extend .medium;
  @extend %text-headline;
}

.text-h4,
.text h4 {
  @extend .small;
  @extend %text-headline;
}

.text-h5,
.text h5 {
  @extend .small;
  @extend .semibold;
  @extend .loud;
  margin: $base-spacing 0;
}

.text-h6,
.text h6 {
  @extend .x-small;
  @extend .semibold;
  @extend .loud;
  margin: $base-spacing 0;
}

.text-intro {
  @extend .intro;
  @extend .loud;
}


//*
//* Other HTML Elements
//*/

.text {

  //*
  //* Emphasis
  //*

  em,
  strong {
    color: $color-darker;
  }


  //*
  //* Lists
  //*/

  ul {
    list-style: disc;
    margin-left: 1em;

    @media (min-width: $bp-s) {
      margin-left: 0;
    }
  }

  ol {
    margin-left: -1em;

    ol {
      list-style: decimal;

      ol {
        list-style: lower-roman;
      }
    }

    @media (min-width: $bp-s) {
      margin-left: -$column-gap;

      > li {
        padding-left: 10px;
      }

      ol {
        margin-left: -1em;
      }
    }
  }


  //*
  //* Graphic elements
  //*

  object,
  iframe,
  img {
    @include shadow-4dp;
    background: $color-neutral;
  }

  img {
    display: block;
    margin: ($base-spacing + $media-spacing) 0;
  }

  iframe {
    margin: $media-spacing 0;
  }


  //*
  //* Code
  //*/

  code {
    color: $color-dark;
  }

  pre {
    @extend .inset-5;
    background: transparentize($color-lightest, .23);
    color: $color-highlight;
    margin: ($baseline * 1em) 0;
    max-width: 50em;
    overflow: auto;
    padding: $base-spacing;

    code {
      color: inherit;
    }

    @media (max-width: $bp-l) {
      max-width: 35em;
    }

    @media (max-width: $bp-m) {
      max-width: none;
    }
  }


  //*
  //* Blockquotes
  //* TODO: These are not very pretty. Would be nice to come up with something nicer.
  //*/

  blockquote {
    p {
      @extend .intro;
    }

    em {
      @extend .sidenote;
    }

    hr + & {
      text-align: center;
    }
  }


  //*
  //* Tables
  //*
  table {
    @extend .compact;
    margin-bottom: $baseline * 1em;
    margin-top: $baseline * 1em;
  }

  th {
    font-size: 1em;
  }

  td {
    @extend .small;
  }


  //*
  //* Horizontal rules
  //*/

  hr {
    @extend .bb;
    @extend .bb--muted;
    margin: ($baseline * 1em) auto;
  }

  //*
  //* !! Fixes for funny markup in current posts
  //*/

  // br + code {
  //   @extend pre;
  //   display: block;
  // }
  //
  // img + br,
  // code + br {
  //   display: none;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      color: inherit;
      font-weight: inherit;
    }
  }
}



//
// # Variations
//

.text--no-bullets {
  ul {
    list-style: none;

    @media (min-width: $bp-s) {
      margin-left: 0;
    }
  }
}

.text--link {
  a {
    @extend .link;
  }
}

.text--link-more {
  a {
    @extend .link-more;
  }
}

.text--inline {
  p {
    display: inline;
  }
}

.text--collapse {
  p {
    margin: 0;
  }
}
