/* Borders */
.bb:after {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: $color-highlight;
  margin-bottom: -2px;
  //** clearfix
  content: " ";
  display: table;
  clear: both;
}

.bb--medium:after {
  height: 3px;
  margin-top: -3px;
}
.bb--large:after {
  height: 4px;
  margin-top: -4px;
}

.bb--muted:after {
  background-color: $color-highlight-lighter;
}