//*
//* Border bottom
//*

@mixin bb {
  &::after {
    background-color: $color-highlight;
    clear: both;
    content: ' ';
    display: table;
    height: 2px;
    margin-bottom: -2px;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

.bb {
  @include bb;
}


//*
//* Border size variants
//*

@mixin bb--medium {
  &::after {
    height: 3px;
    margin-top: -3px;
  }
}

.bb--medium {
  @include bb--medium;
}

@mixin bb--large {
  &::after {
    height: 4px;
    margin-top: 0;
  }
}

.bb--large {
  @include bb--large;
}



//*
//* Border color variants
//*

@mixin bb--muted {
  &::after {
    background-color: $color-highlight-lighter;

    .inverse & {
      background-color: $color-highlight;
    }
  }
}

.bb--muted {
  @include bb--muted;
}



//*
//* Border style variants
//*

@mixin bb--dashed {
  &::after {
    background-color: transparent;
    border-bottom: 1px dashed $color-highlight;
    height: 1px;
  }
}

.bb--dashed {
  @include bb--dashed;
}


//*
//* Special cases
//*
.l-arrange,
.l-flex {

  &.bb {
    border-bottom: 2px solid $color-highlight;

    &::after {
      display: none;
    }
  }

  &.bb--large {
    border-bottom-width: 4px;
  }
}


//*
//* Horizontal rules
//*

hr {
  border-top: 2px solid $color-highlight-lighter;
  margin: 30px auto;

  &.m-0 {
    margin: 0 auto;
  }

  &.highlight {
    border-color: $color-highlight;
  }

  &.dashed {
    border-top: 1px dashed $color-highlight;
  }

  .clear {
    border-color: transparent;
  }
}
