//*
//* Border bottom
//*

@mixin bb {
  &::after {
    background-color: $color-highlight;
    clear: both;
    content: ' ';
    display: table;
    height: 2px;
    margin-bottom: -2px;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

.bb {
  @include bb;
}



//*
//* Border size variants
//*

@mixin bb--medium {
  &::after {
    height: 3px;
    margin-top: -3px;
  }
}

.bb--medium {
  @include bb--medium;
}

@mixin bb--large {
  &::after {
    height: 4px;
    margin-top: -4px;
  }
}

.bb--large {
  @include bb--large;
}



//*
//* Border color variants
//*

@mixin bb--muted {
  &::after {
    background-color: $color-highlight-lighter;
  }
}

.bb--muted {
  @include bb--muted;
}



//*
//* Border style variants
//*

@mixin bb--dashed {
  &::after {
    background-color: transparent;
    border-bottom: 1px dashed $color-highlight;
    height: 1px;
  }
}

.bb--dashed {
  @include bb--dashed;
}



//*
//* Horizontal rules
//*

hr {
  border-color: inherit;

  &.bb {
    border: 0;
    height: 0;
  }
}
