@function calc-em($px) {
  @return $px / 16px * 1em;
}

$bp-large:       calc-em(1280px);   //* Major breakpoint – Comp width
$bp-med-large:   calc-em(1176px);      //* Tweak point – Hero breaks
$bp-med-large-2:  calc-em(1010px);     //* Tweak point – Hero breaks (ipad landscape is in this range)
$bp-med:          calc-em(920px);   //* Major breakpoint – Layout changes (ipad portrait is in this range)
$bp-med-small:    calc-em(740px);      //* Tweak point – Things start looking too squished
$bp-small:        calc-em(680px);   //* Major breakpoint – Every thing gets linearized
$bp-small-2:      calc-em(460px);      //* Tweak point – Footer wraps
$bp-small-3:      calc-em(360px);      //* Tweak point – try to reduce things further (header, hero, large buttons)
