//== Colors
//

// This file contains utility classes so are allowed to use !important
// scss-lint:disable ImportantRule

//** Dark Grays
$color-muted: rgb(126, 131, 131);
$color-dark: rgb(89, 99, 98);
$color-darker: rgb(51, 61, 61);
$color-darkest: rgb(49, 61, 62);

//** Light Grays
$color-neutral: rgb(233, 233, 233);

//** Whites
$color-light: #f4f6f6;
$color-lighter: #f9fafa;
$color-lightest: #fff;

//** Robin Egg Blue Palette
$color-tint-100: rgb(199, 232, 227);
$color-tint-200: rgb(163, 225, 217);
$color-tint-300: rgb(105, 211, 201);
$color-tint-400: rgb(0, 199, 183);
$color-tint-500: rgb(19, 159, 148);
$color-tint-600: rgb(0, 98, 97);
$color-tint-700: darken($color-tint-600, 10%);

//** Highlight Color
$color-highlight: $color-tint-400;
$color-highlight-lighter: rgb(203, 224, 221);
$color-highlight-lightest: rgb(229, 238, 238);

//** Social Networks (http://brandcolors.net/)
$colors-social: (
  twitter:    #55acee,
  facebook:   #3b5998,
  github:     #4183c4,
  linkedin:   #0976b4,
  gitter:     #dd4b39
);


//## Default: dark text on light background

body {
  background-color: $color-lighter;
  color: $color-dark;
}

a {
  color: $color-highlight;
}

svg {
  fill: currentColor;
}

.quiet { //* default */
  color: $color-dark;
}

.muted { //* secondary text */
  color: $color-muted;
  fill: $color-muted;
}

.loud { //* emphasis */
  color: $color-darker;
}

.highlight { //* accent color */
  color: $color-highlight;
  fill: $color-highlight;
}

.color-bg { //* for icons like the arrow, where the color of the icon should match the background */
  color: $color-lighter;
  fill: $color-lighter;
}



//## Inverse: light text on dark background

.inverse {
  background-color: $color-darkest;
  color: $color-light;

  &.quiet,
  .quiet {
    color: $color-light;
  }

  &.muted,
  .muted {
    color: $color-muted;
  }

  &.loud,
  .loud {
    color: $color-lightest;
  }

  &.highlight,
  .highlight {
    color: $color-highlight;
  }

  .color-bg {
    color: $color-darkest;
    fill: $color-darkest;
  }
}


//## Backgrounds

//** Backgrounds for sections */
.bg-light {
  background: $color-light url('/img/bg-light-1.svg') no-repeat left bottom;
}

.bg-light-muted {
  background: $color-light url('/img/bg-light-2.svg') no-repeat 430px -190px;
}

.bg-light-muted-2 {
  background: $color-light url('/img/bg-light-3.svg') no-repeat -25px -90px;
}

.bg-light-muted-3 {
  background: $color-light url('/img/bg-light-3.svg') no-repeat top right;
}

.bg-dark {
  background: $color-darkest url('/img/bg-dark-1.svg') no-repeat;
}

.bg-dark-cover {
  background: $color-darkest url('/img/bg-dark-1.svg') no-repeat;
  background-size: cover;
}

.bg-dark-muted {
  background: $color-darkest url('/img/bg-dark-2.svg') no-repeat;
}

.bg-dark-muted-cover {
  background: $color-darkest url('/img/bg-dark-2.svg') no-repeat;
  background-size: cover;
}


//** Backgrounds for components */
.bg-white {
  background-color: $color-lightest;
}

.bg-neutral {
  background-color: $color-neutral;
}

.bg-highlight {
  background-color: $color-highlight;
}

.bg-tint0 {
  background-color: $color-highlight-lightest;
}

.bg-tint1 {
  background-color: $color-tint-100;
}

.bg-tint2 {
  background-color: $color-tint-200;
}

.bg-tint3 {
  background-color: $color-tint-300;
}

.bg-transparent {
  background-color: transparent;
}


//## Images

.grayscale {
  filter: grayscale(100%);
  transition: ease .3s;

  .no-touch a:hover & {
    filter: grayscale(0%);
  }
}

.colorize {
  filter: sepia() hue-rotate(130deg) saturate(70%) brightness(98%);
  opacity: .9;
  transition: ease .3s;

  .no-touch a:hover & {
    filter: sepia(0%);
    opacity: 1;
  }
}

.grid--img {

  .muted & {
    opacity: .87;
  }

  .grayscale & {
    opacity: 1;
  }
}


//## Shadows:
//   Box shadows are in lib/material-design/_mixins.scss
//   Below are the inset shadows
//
// scss-lint:disable ColorVariable

.inset-3 {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .24);
}

.inset-5 {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .3);
}

.inset-7 {
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .24);
}
