// ------------------------------------------
// 
// This file gets imported in lib/_main.scss
//
// ------------------------------------------


//== Colors
//
//## Grays, whites and highlight colors

  //** Grays
  $color-muted: rgb(126,131,131); 
  $color-dark: rgb(89,98,98);
  $color-darker: rgb(51,61,61);
  $color-darkest: rgb(49,61,62);

  //** Whites
  $color-light: #F4F6F6;
  $color-lighter: #F9FAFA;
  $color-lightest: #FFF;

  //** Blue-greens
  $color-highlight: rgb(0,199,183);
  $color-highlight-lighter: rgb(202,224,222);
  $color-highlight-lightest: rgb(230,239,238);


//== Layout variables and mix-ins
//
//## global widths, base spacing and breakpoints
  $page-width: 1280px;
  $content-width: 976px;
  $base-spacing: 20px;

  // Using media queries with like this:
  //
  // $on-palm: 600px;
  //
  // @include media-query($on-palm) {
  //     .wrapper {
  //         padding-right: $spacing-unit / 2;
  //         padding-left: $spacing-unit / 2;
  //     }
  // }
  //
  @mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }


//== Import libraries
//
//## Import components and utilities
@import "lib/oocss/clearfix";


/* Global 
------------------------------*/

html {
  background-color: $color-light;
  color: $color-dark;
  font: 300 normal 16px/1.5625 Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  min-width: $page-width;
  overflow-x: hidden;
  overflow-y: auto;
}

a { 
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  max-width: 100%;
}



/* Typography loosely based on classic typographic scale, 
 * tweaked to try to match font sizes in comp
 * 
 * http://spencermortensen.com/articles/typographic-scale/
------------------------------*/

h1, h2, h3, h4, h5, p, ul, ol, dl, blockquote {
  margin: $base-spacing 0;
}


/* Font sizes */
.tera {
  font-size: 125px; /* Not in scale */
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1;
  margin: 40px 0 45px;
}

.mega {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -0.02em;
  line-height: 1;
}

.kilo {
  font-size: 50px; //48px;
  font-weight: 100;
  letter-spacing: -0.02em;
  line-height: 1;
}

.alpha, h1 {
  font-size: 37px; //36px;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 45px;
  margin: 25px 0;
}

.beta, h2 {
  font-size: 33px; //32px
  font-weight: 100;
  letter-spacing: -0.01em;
  line-height: 40px;
  margin: 25px 0;
}

.gamma, h3 {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: -0.02em;
  line-height: 35px;
}

.delta, h4 {
  font-size: 25px; //24px;
  font-weight: 100;
  letter-spacing: normal;
  line-height: 30px;
}

.epsilon, h5 {
  font-size: 22px; //21px;
  font-weight: 100;
  line-height: 30px;
}

.zeta, h6 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.01em;
  line-height: 25px;
}

.medium {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: normal;
}
.small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.small-2 {
  font-size: 15px; /* Not in scale. one-off size to get small text in hero to justify */
  letter-spacing: normal;
  line-height: 20px;
}

.x-small {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.xx-small {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

/* Weights */
strong, 
b,
.semibold {
  font-weight: 400;
  letter-spacing: normal;
}

.bold {
  font-weight: 500;
  letter-spacing: 0.01em;
}

/* Line heights */
.loose {
  line-height: 1.8;
}

/* No italics */
em, cite {
  font-style: normal;
}


/* Layout 
------------------------------*/

.content {
  @extend .clearfix;
  position: relative;
  max-width: $content-width + 4*$base-spacing;
  padding: 0 2*$base-spacing;
  margin: 0 auto;
}
.content--wide {
  max-width: $page-width;
  padding: 0 2.5*$base-spacing 0 4*$base-spacing;
}
.content--narrow {
  max-width: $content-width;
}


/* Utility classes for layout flow */
.cf {
  @extend .clearfix;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
  display: inline-block;
}
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left {
  position: relative;
  left: -10px;
}



/* Layouts */

/* 3-columns */
.l-thirds {
  @extend .clearfix;
}
.l-third {
  float: left;
  width: 33.3333333%;
}


/* Fullscreen
 *
 * http://css-tricks.com/centering-in-the-unknown/ 
 */
.l-fs {
  position: relative;
  width: 100%;
  height: 735px; // screen height in the comp. Should be 100% when website is responsive
  text-align: center;
  
  &:before { /* to center elements vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  
  > .l-fs-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: left;
  }
  
 > .l-fs-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
  }
  
 > .l-fs-middle {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
  }
}



/* Borders */
.bb {
  position: relative;
}
.bb:after {
  width: 100%;
  height: 2px;
  background-color: $color-highlight;
  //** make sure we don't remove the clearfix in case there is one
  content: " ";
  display: table;
  clear: both;
}

.bb--medium:after,
.bb--large:after {
  position: absolute;
  bottom: 0;
}
.bb--medium:after {
  height: 3px;
}
.bb--large:after {
  height: 4px;
}

.bb--muted:after {
  background-color: $color-highlight-lighter;
}



/* Global components */
.media {
  @include clearfix-me(micro);
}
.media-img {
  float: left;
  margin-right: 15px;
}
.media-bd {
  @include clearfix-me(facebook);
}

.media--bleed {
  margin-left: -1px;
  .media-img {
    margin-left: -6px;
    margin-right: 20px;
  }
}


/* Tweaks */
.brand {
  margin-left: -3px;
}
.brand-claim {
  position: relative;
  top: 4px; /* to align with logo text */
}
.top-nav {
  margin-right: -3px;
}




/* Colors and imagery
------------------------------*/

 /* Colors */

a {
  color: $color-highlight;
}

svg {
  fill: currentColor;
}

.highlight {
  color: $color-highlight;
  fill: $color-highlight;
}
.muted {
  color: $color-muted;
  fill: $color-muted;
}
.loud {
  color: $color-darker;
  fill: $color-darker;
}
.overloud {
  color: $color-darkest;
  fill: $color-darkest;  
}

.inverse {
  background-color: $color-darkest;
  color: $color-lightest; /* consider if by default inverse text should be gray */
  font-weight: 100;

  .loud {
    color: $color-lightest;
  }
  .muted {
    font-weight: 300; /* light text in dark background gets too light */
  }
  .semibold {
    font-weight: 400;
  }
  .bold {
    font-weight: 500;
  }
}

.icon {
  fill: $color-lightest;
}
.icon--inverse {
  fill: $color-darkest;
}
.icon--inverse--muted {
  fill: $color-dark;
}



/* Buttons 
------------------------------*/

/* Default button */
.button {
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.24);
  height: 60px;
  line-height: 60px;
  border-radius: 60px 4px 4px 60px;
  text-align: center;
  text-indent: -10px;
  font-size: 21px;
  font-weight: 400;
  margin-left: -5px;
  color: $color-lightest;
}
.button-icon {
  float: left;
  margin: 5px;
}
.button-label {
  display: block;
  overflow: hidden;
  padding: 1px 20px 0 20px;
  color: $color-muted;
}


/* Button colors on inverse background */
.inverse {
  .button {
    color: $color-darkest;
  }
  .button-label {
    color: $color-lightest;
  }
  .button--muted, 
  .button--muted .button-label {
    color: $color-dark;
  }
}


/* Button size variations */
.button--large {
  height: 80px;
  line-height: 80px;
  border-radius: 80px 4px 4px 80px;
  font-size: 27px;
  margin-left: 0;
  .button-icon {
    margin: 6px;
  }
  .button-label {
    padding-left: 0;
    padding-right: 30px;
  }
}

.button--small {
  height: 40px;
  line-height: 40px;
  border-radius: 40px 2px 2px 40px;
  font-size: 15px;
}


/* Button layout variations */
.button--inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  min-width: 120px;
  top: 1px;
}


/* Badges
------------------------------*/
/* To center the text vertically in the badge: 
 * http://css-tricks.com/centering-in-the-unknown/
 */
.badge {
  background: $color-highlight;
  color: $color-lightest;
  border-radius: 100%;
  position: relative;
}
.badge:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */ 
}
.badge-text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 1% 10% 0;
}

.badge--small {
  width: 127px;
  height: 127px;
}

.badge--large {
  width: 276px;
  height: 276px;
  font-weight: 100;
}

.badge--stitch:after {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border-radius: 100%;
  border: 1px dashed white;
  opacity: 0.5;
}




/* Forms
------------------------------*/
.form--fancy {
  position: relative;
  overflow: hidden;
  padding: 6px 180px 6px 6px; // 180 => button-width + right padding
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px 55px 55px 10px; // 55 => form height
  background: $color-light;

  .form-group {
    float: left;
    margin: 0;
    width: 50%;
    padding-right: 6px;
  }
  
  input, 
  button {
    display: block;
    border: none;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
  
  input {
    width: 100%;
    border-radius: 4px;
    background-color: $color-lighter;
  }
  
  button {
    width: 174px;
    position: absolute;
    right: 6px;
    border-radius: 0 42px 42px 0px;
    background: $color-highlight;
    color: $color-lightest;
    font-size: 13.62px;
    line-height: 37px; /* magic number to get the button text to align with the input placeholder */
  }
}

/* To style placeholders
 * http://css-tricks.com/snippets/css/style-placeholder-text/
 */
::-webkit-input-placeholder {
  color: rgba(126,131,131, 0.5);
  font-size: 13.62px;
}
::-moz-placeholder {
  color: rgba(126,131,131, 0.5);
  font-size: 13.62px;
}
:-ms-input-placeholder {
  color: rgba(126,131,131, 0.5);
  font-size: 13.62px;
}



/* Tables
------------------------------*/
table {
  border-collapse: separate; 
  border-spacing: 6px;
  margin-left: -6px;
}

.table {
  margin: 30px 0px;
}

th, .th, 
td, .td {
  margin: 6px 3px;
  padding: 10px;
}

th, .th {
  background-color: $color-highlight-lighter;
  color: $color-darker;
  font-size: 20px;
  font-weight: 400;
}

td, .td {
  background-color: $color-highlight-lightest;
}

tbody, .tbody {
  margin: 0;
}

thead th, .th--highlight {
  background-color: $color-highlight;
  color: $color-lightest;
  padding-bottom: 5px;
}





/*------------------------------
 * 
 * Specific page components
 *
 * Could go on a separate stylesheet
 *
 *------------------------------*/

/* Home page
------------------------------*/

/* Backgrounds */
.bg-white {
  background-color: $color-lightest;
}
.bg-light-1 {
  background: $color-light url(/img/bg-light-1.svg) no-repeat -345px -250px;
}
.bg-light-2 {
  background: $color-light url(/img/bg-light-2.svg) no-repeat 430px -190px;
}
.bg-light-3 {
  background: $color-light url(/img/bg-light-3.svg) no-repeat -25px -90px;
}
.bg-dark-1 {
  background: $color-darkest url(/img/bg-dark-1.svg) no-repeat;
  background-size: cover;
}
.bg-dark-2 {
  background: $color-darkest url(/img/bg-dark-2.svg) no-repeat;
  background-size: cover;
}


/* 
 * Hero 
 */
.hero {
  margin-left: 80px;
  position: relative;
}
.hero-video {
  margin-top: 55px;
  margin-right: 20px;
}
.hero-blurb {
  // *
  // * blurb's content width is 355px
  // * We wouldn't need these calculations if we had a content-box layout
  // * but we don't want to mess up the call to action button
  // * by setting border-sizing: content-box
  // *
  $hero-blurb-width: 355px;
  $hero-blurb-padding-left: 0px;
  $hero-blurb-padding-right: $hero-blurb-padding-left + 10px;
  
  width: $hero-blurb-width + $hero-blurb-padding-left + $hero-blurb-padding-right;
  padding: 0 $hero-blurb-padding-right 0 $hero-blurb-padding-left;
  margin: 0 auto;
}
.hero-badge {
  position: absolute;
  top: 20px;
  left: -55px;
}


/* 
 * Products  
 */
.product-callout {
  margin-left: -30px;
  margin-top: 70px;
}



/* Social icons */
.social-icon {
  display: inline-block;
  margin-right: 25px;
  
  &:nth-child(3n+1) svg {
    fill: rgb(125,125,125);
  }
  &:nth-child(3n+2) svg {
    fill: rgb(90,90,90);
  }
  &:nth-child(3n+0) svg {
    fill: rgb(100,100,100);
  }
}







// **************************
// *
// * FOR DEVELOPMENT ONLY
// *
// **************************

/* Widths, heights and margins. Some basic ones should
 * stay under the utility classes section but most of
 * these need to go when components are normalized
 */

/* Widths */
.w-740 {
  max-width: 740px;
}
.w-350 {
  max-width: 350px;
}
.w-245 {
  max-width: 245px;
}
.w-240 {
  max-width: 240px;
}
.w-215 {
  max-width: 215px;
}
.w-0 {
  width: 0;
}
.w-half {
  width: 50%;
}


/* Heights */
.h-75 {
  min-height: 75px;
}


/* Margins */
.mt-120 {
  margin-top: 120px;
}
.mt-115 {
  margin-top: 115px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-0 {
  margin-top: 0;
}
.mt-n3 {
  margin-top: -3px;
}
.mt-n5 {
  margin-top: -5px;
}
.mt-n40 {
  margin-top: -40px;
}
.mt-n60 {
  margin-top: -60px;
}

.mb-100 {
  margin-bottom: 100px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-0 {
  margin-bottom: 0;
}

.ml-40 {
  margin-left: 40px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-n2 {
  margin-left: -2px;
}
.ml-n3 {
  margin-left: -3px;
}
.ml-n4 {
  margin-left: -4px;
}
.ml-n5 {
  margin-left: -5px;
}
.ml-n7 {
  margin-left: -7px;
}
.ml-n10 {
  margin-left: -10px;
}
.ml-n40 {
  margin-left: -40px;
}
.ml-n50 {
  margin-left: -50px;
}
.ml-n50 {
  margin-left: -55px;
}
.ml-n80 {
  margin-left: -80px;
}

.mr-120 {
  margin-right: 120px;
}
.mr-110 {
  margin-right: 110px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-n5 {
  margin-right: -5px;
}
.mr-n35 {
  margin-right: -35px;
}
.mr-n80 {
  margin-right: -80px;
}

body {
  min-width: 1280px;
  margin: 0 auto;
}


