// **************************
// *
// * FOR DEVELOPMENT ONLY
// *
// **************************


body {
  //width: 1280px;
  margin: 0 auto;
}

body::before {
  background: yellow;
  content: 'comp size';
  display: inline-block;
  font: bold normal 12px/1 monospace;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 20px;
  z-index: 1;
}

@media (max-width: calc-em($page-width - 1px)) {
  body::before {
    content: '< comp';
  }
}

@media (max-width: $bp-l) {
  body::before {
    content: "bp-l #{$bp-l}";
  }
}

@media (max-width: $bp-m) {
  body::before {
    content: "bp-m #{$bp-m}";
  }
}

@media (max-width: $bp-s) {
  body::before {
    content: "bp-s #{$bp-s}";
  }
}

@media (max-width: $bp-xs) {
  body::before {
    content: "bp-xs #{$bp-xs}";
  }
}
