$page-width: 1280px;
$content-width: 976px;
$base-spacing: 20px;


/* 
 * Global layouts and 
 * utilities to control flow
 *
------------------------------*/

/* 
 * HTML Elements
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: $page-width;
}

ul {
  list-style: none;
  padding: 0;
}


/* 
 * Content containers 
 */
.content {
  @extend %cf;
  position: relative;
  max-width: $content-width + 4*$base-spacing;
  padding: 0 2*$base-spacing;
  margin: 0 auto;
}
.content--wide {
  max-width: $page-width;
  padding: 0 2.5*$base-spacing 0 4*$base-spacing;
}
.content--narrow {
  max-width: $content-width;
}


/* 
 * Utility classes for layout flow 
 */
 
.abs {
  position: absolute;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}

/* 
* Mixin for centering blocks vertically 
* http://css-tricks.com/centering-in-the-unknown/
*/
%middle-container { //* this should be applied to the parent of the element we want to center vertically
 &:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em; /* Adjusts for spacing */
 }
}
%middle-element { //* this should be applied to the element we want to center vertically
 display: inline-block;
 vertical-align: middle;
}


/* 
 * Media component
 */
.media {
  @include clearfix-me(micro);
}
.media-img {
  float: left;
  margin-right: 15px;
}
.media-img-ext {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.media-bd {
  @include clearfix-me(facebook);
}

.media--bleed {
  margin-left: -1px;
  .media-img {
    margin-left: -6px;
    margin-right: 20px;
  }
}

.media--wide {
  margin: 60px 80px 30px 80px;
  .media-img {
    margin-top: 20px;
    margin-right: 80px;
  }
}



/* 
 * Layouts
 */

.l-container {
  @extend %cf;
}

/* Layouts without gutters */
.l-half {
  float: left;
  width: 50%;
}
.l-third {
  float: left;
  width: 33.3333333%;
}


/* 2-column layout with gutter defining columns in the mark-up */
.l-2-col {
  @extend %cf;
  .l-col {
    width: 50%;
    padding: 0 30px;
    float: left;
  }
  .l-col:first-child {
    padding-left: 0;
  }
  .l-col:last-child {
    padding-right: 0;
  }
}

/* 2-column layout with gutter using CSS multiple columns */
.l-2-col-auto {
  column-count: 2;
  column-gap: 50px;
  > p:first-child {
    margin-top: 0;
  }
}

/* Layout with main and sidebar */
.l-wrap {
  overflow: hidden;
  position: relative;
}
.l-wrap:before,
.l-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}
.l-wrap:before {
  left: 0;
}
.l-wrap:after {
  right: 0;
}
.l-wrap-inner {
  max-width: $page-width;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.l-main {
  @extend %cf;
  padding-left: 80px;
  padding-right: 60px;
  margin-right: 395px;
}
.l-aside {
  @extend %cf;
  width: 395px;
  padding-left: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

/* 
 * Widths, heights and margins.
 *
 * ## TODO: Most of these need to be removed
 * ## when components are normalized
 */

/* Widths */
.w-0 {
  width: 0;
}

.w-355 {
  width: 355px; // large blurb width (hero)
}
.w-245 {
  width: 245px;
}
.w-240 {
  width: 240px;
}
.w-215 {
  width: 215px;
}



/* Margins */

@for $i from 0 through 25 { // top & bottom margins
  .mt-#{$i*5} { 
    margin-top: $i * 5px;
  }
  .mb-#{$i*5} { 
    margin-bottom: $i * 5px;
  }
  .ml-#{$i*5} { 
    margin-left: $i * 5px;
  }
  .mr-#{$i*5} {
    margin-right: $i * 5px;
  }
}

@for $i from 1 through 7 { // margins for bleeds and adjustments
  .mt-#{$i} { 
    margin-top: $i * 1px;
  }
  .mb-#{$i} { 
    margin-bottom: $i * 1px;
  }
  .ml-#{$i} { 
    margin-left: $i * 1px;
  }
  .mr-#{$i} { 
    margin-right: $i * 1px;
  }
  
  .ml-n#{$i} {
    margin-left: $i * -1px;
  }
  .mr-n#{$i} {
    margin-right: $i * -1px;
  }
}

@for $i from 1 through 5 { // Margins for pull-outs
  .ml-n#{$i*10} {
    margin-left: $i * -10px;
  }
}

// TODO: Need to fix svgs for continuous deployment and hosting so they don't have
// so much space around them. Until then, add a negative margin top
// for the text under it
.mt-n10 {
  margin-top: -10px;
}

