//*
//* Global layouts and
//* utilities to control flow
//*
//------------------------------*/

//*
//* HTML Elements
//*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}


//*
//* Content containers
//*/
.content {
  @extend %cf;
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 ($header-padding + 85px); //* Left align with "netlify" and right align with login button in header */
  position: relative;
}

.content--wide {
  max-width: $page-width;
  padding: 0 $header-padding;
}

.content--narrow {
  max-width: $content-width;
  padding: 0 $header-padding;
}

@media(max-width: $bp-l) {
  .content {
    padding: 0 $column-gap;
  }

  .content--narrow {
    padding: 0 $header-padding;
  }
}


//*
//* OOCSS Media object
//*/

.media {
  @include clearfix-me(micro);
  display: block;
}

.media-img {
  float: left;
  margin-right: $media-spacing;
}

.media-img-ext {
  float: right;
  margin-left: $media-spacing;
  margin-right: 0;
}

.media-bd {
  @include clearfix-me(facebook);
}


//*
//* Based on Walmarts styleguide
//* http://walmartlabs.github.io/web-style-guide/
//*/

.arrange {
  display: table;
  table-layout: auto;
  width: 100%;
}

.arrange-fill,
.arrange-fit {
  display: table-cell;
  vertical-align: top;
}

.arrange-fill {
  width: 100%;
}

.grid {
  display: block;
  font-size: 0; //* to collapse space between inline blocks */
  margin: 0;
  text-align: center;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
}


//* Spacing in grid */

$spacing-v: $base-spacing / 2;
$spacing-h: $column-gap / 2;


@mixin grid--gutters {
  margin: 0 (-$spacing-h);

  > .col,
  > img {
    padding: 0 $spacing-h;
  }
}

@mixin grid--spacing {
  margin: 0 (-$spacing-h) (-$spacing-v);

  > .col,
  > img {
    padding: $spacing-v $spacing-h;
  }
}

.grid--gutters {
  @include grid--gutters;
}

.grid--spacing {
  @include grid--spacing;
}


//* Image grids */

.grid--img {
  @include grid--spacing;
  margin: (-$spacing-v / 2) (-$spacing-h) 0;

  > img {
    box-sizing: content-box;
  }
}


//*
//* 2-column layout with gutter using CSS columns
//*/

.css-columns {
  column-count: 2;
  column-gap: $column-gap;
  text-align: left;

  > p {
    margin-top: 0;
  }

  @media (max-width: $bp-l) {
    column-gap: $media-spacing * 2;
  }

  @media (max-width: $bp-m) {
    column-count: 1;
  }
}

.break-inside-avoid {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
}


//*
//* Layout with fluid main and fixed-width sidebar
//* http://alistapart.com/article/holygrail
//*
//* Note: using display flex or table without floating the main and aside
// will cause an ugly page reflow -- main content will appear full-width for
//* a second and then shrink to leave room for the sidebar
//*

$sidebar-padding: $column-gap;
$sidebar-width: $blurb-width + $sidebar-padding * 2;

.wrap {
  overflow: hidden;
  position: relative;
}

.wrap-inner {
  @extend %cf;
  @extend .content--wide;
  display: flex; //* This is to get the main and aside to have the same height
  margin: 0 auto;

  @media (max-width: $bp-l) {
    padding-left: $column-gap;
  }
}

.wrap-inner--main-left {
  padding-right: $sidebar-width;
}

.sidebar,
.main {
  position: relative;
}

.sidebar {
  width: $sidebar-width;

  &::before,
  &::after { //* sidebar background stretches beyond the bounds of the page
    background: inherit;
    content: '';
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 10000px;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.main {
  padding: 0 $column-gap  $column-gap;
  width: 100%;
}

.main--left {
  padding-left: 0;
}

.sidebar--left {
  &::before {
    display: block;
  }
}

.sidebar--right {
  margin-right: -$sidebar-width;
  padding: $sidebar-padding;

  &::after {
    display: block;
  }
}

.sidebar--wide {
  width: 400px;
}



//*
//* Flexbox
//*/

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--space-around {
  justify-content: space-around;
}




//=============================================================================
//
//  UTILITY CLASSES
//
// For experimenting, until a pattern can be observed and extracted
// into a reusable component.
//
//=============================================================================


//*
//* Margins.
//*
//* ## TODO: Most of these should be removed when components are normalized
//*/

.m-0 {
  margin: 0;
}

@for $i from 0 through 30 { // top & bottom margins
  .mt-#{$i * 5} {
    margin-top: $i * 5px;
  }

  .mb-#{$i * 5} {
    margin-bottom: $i * 5px;
  }

  .ml-#{$i * 5} {
    margin-left: $i * 5px;
  }

  .mr-#{$i * 5} {
    margin-right: $i * 5px;
  }
}

@for $i from 1 through 7 { // margins for bleeds and adjustments
  .mt-#{$i} {
    margin-top: $i * 1px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }

  .ml-#{$i} {
    margin-left: $i * 1px;
  }

  .mr-#{$i} {
    margin-right: $i * 1px;
  }

  .mt-n#{$i} {
    margin-top: $i * -1px;
  }

  .mb-n#{$i} {
    margin-bottom: $i * -1px;
  }

  .ml-n#{$i} {
    margin-left: $i * -1px;
  }

  .mr-n#{$i} {
    margin-right: $i * -1px;
  }
}


@for $i from 1 through 10 { // Margins for pull-outs and bigger adjustments
  .ml-n#{$i * 10} {
    margin-left: $i * -10px;
  }

  .mr-n#{$i * 10} {
    margin-right: $i * -10px;
  }

  .mt-n#{$i * 10} {
    margin-top: $i * -10px;
  }

  .mb-n#{$i * 10} {
    margin-bottom: $i * -10px;
  }

}

@media(max-width: $bp-m) {
  .mt-70,
  .mt-80,
  .mt-90,
  .mt-100,
  .mt-110,
  .mt-115,
  .mt-120 {
    margin-top: 60px;
  }

  .mb-70,
  .mb-80,
  .mb-90,
  .mb-100,
  .mb-110,
  .mb-115,
  .mb-120 {
    margin-bottom: 60px;
  }
}


//*
//* Positioning
//*/

.abs {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.fixed {
  position: fixed;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.r-180 {
  transform: rotate(180deg);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}



//*
//* Widths
//* Desktop first
// scss-lint:disable ImportantRule

.size-1-2 {
  width: 50%;

  @media (max-width: $bp-m) {
    width: 100%;
  }
}

.size-1-3 {
  width: 33.3333333%;

  @media (max-width: $bp-m) {
    width: 100%;
  }
}

.size-1-2-m {
  @media (max-width: $bp-m) {
    width: 50%;
  }

  @media (max-width: $bp-s) {
    width: auto;
  }
}

//*
//* Visibility
//* Desktop first
// scss-lint:disable ImportantRule

.show-m {
  display: none !important;

  @media (max-width: $bp-m) {
    display: inherit !important;
  }
}

.show-s {
  display: none !important;

  @media (max-width: $bp-s) {
    display: inherit !important;
  }
}

.hide-m {
  @media (max-width: $bp-m) {
    display: none !important;
  }
}

.hide-s {
  @media (max-width: $bp-s) {
    display: none !important;
  }
}

.show {
  display: inherit !important;
}

.hide {
  display: none !important;
}
