$page-width: 1280px;
$content-width: 976px;

$logo-width: 180px;

/*
 * Global layouts and
 * utilities to control flow
 *
------------------------------*/

/*
 * HTML Elements
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: $page-width;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}


/*
 * Icons
 */
svg.append {
  position: relative;
  top: -1px;
  margin-left: 0.385em;
}

svg.prepend {
  position: relative;
  top: -1px;
  margin-right: 0.75em;
}


/*
 * Content containers
 */
.content {
  @extend %cf;
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 165px;
  position: relative;
}

.content--wide {
  padding: 0 40px 0 80px;
}

.content--narrow {
  max-width: $content-width + 40px;
  padding: 0 40px 0 80px;
}

/*
 * Media component
 */
.media {
  @include clearfix-me(micro);
}

a.media {
  display: block;
}

.media-img {
  float: left;
  margin-right: 15px;
}

.media-img-ext {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

.media-bd {
  @include clearfix-me(facebook);
}

.media--bleed {
  margin-left: -1px;
  .media-img {
    margin-left: -6px;
    margin-right: 20px;
  }
}

.media--wide {
  margin: 60px 80px 30px 80px;
  .media-img {
    margin-top: 20px;
    margin-right: 80px;
  }
}



/*
 * Layouts
 */

.l-container {
  @extend %cf;
}

/* Layouts without gutters */
.l-half {
  float: left;
  width: 50%;

  &:nth-child(2n+1) {
    clear: left;
  }
}

.l-third {
  float: left;
  width: 33.3333333%;

  &:nth-child(3n+1) {
    clear: left;
  }
}

.l-fourth {
  float: left;
  width: 25%;

  &:nth-child(4n+1) {
    clear: left;
  }
}

/*
/* Based on Walmarts styleguide
/* http://walmartlabs.github.io/web-style-guide/
/*/

.l-arrange {
  display: table;
  table-layout: auto;
  width: 100%;
}

.l-arrange-fill,
.l-arrange-fit {
  display: table-cell;
  vertical-align: top;
}

.l-arrange-fill {
  width: 100%;
}


/* 2-column layout with gutter defining columns in the mark-up */
.l-2-col {
  @extend %cf;
  .l-col {
    width: 50%;
    padding: 0 30px;
    float: left;
  }
  .l-col:first-child {
    padding-left: 0;
  }
  .l-col:last-child {
    padding-right: 0;
  }
}

/* 2-column layout with gutter using CSS multiple columns */
.l-2-col-auto {
  column-count: 2;
  column-gap: 50px;

  > p:first-child {
    margin-top: 0;
  }
}

.break-inside-avoid {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
}

//*
//* Layout with fluid main and fixed-width sidebar
//*

.l-wrap {
  overflow: hidden;
  position: relative;
}

.l-wrap-inner {
  @extend .content;
  @extend .content--wide;
  display: table;
  width: 100%;
}

.l-aside,
.l-main {
  display: table-cell;
  vertical-align: top;
}

.l-main {
  padding: 0 80px 50px 50px;
  width: 100%;
}

.l-main--right {
  max-width: 52em;
}

.l-main--left {
  padding-left: 0;
}

.l-aside {
  position: relative;
}

.l-aside--left {
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 10000px;
  }
}

.l-aside--right {
  padding-left: 50px;

  &::after {
    content: '';
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 10000px;
  }
}



//* Flexbox
//*/

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--space-around {
  justify-content: space-around;
}

@media (min-width: $bp-med) {
  .md-flex {
    display: flex;
  }
  .md-flex--row-reverse {
    flex-direction: row-reverse;
  }
  .md-flex--space-between {
    justify-content: space-between;
  }
  .md-flex--space-around {
    justify-content: space-around;
  }
  .md-flex-basis--m {
    flex-basis: 30em;
  }
  .md-flex-basis--s {
    flex-basis: 15em;
  }
}


//*
//* Widths, heights and margins.
//*
//* ## TODO: Most of these need to be removed
//* ## when components are normalized
//*/

//* Widths */

.w-0 {
  width: 0;
}

.w-355 {
  width: 355px; // large blurb width (hero)
}

.w-245 {
  width: 245px;
}

.w-240 {
  width: 240px;
}

.w-215 {
  width: 215px;
}



//* Margins */
.m-0 {
  margin: 0;
}

@for $i from 0 through 25 { // top & bottom margins
  .mt-#{$i * 5} {
    margin-top: $i * 5px;
  }

  .mb-#{$i * 5} {
    margin-bottom: $i * 5px;
  }

  .ml-#{$i * 5} {
    margin-left: $i * 5px;
  }

  .mr-#{$i * 5} {
    margin-right: $i * 5px;
  }
}

@for $i from 1 through 7 { // margins for bleeds and adjustments
  .mt-#{$i} {
    margin-top: $i * 1px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }

  .ml-#{$i} {
    margin-left: $i * 1px;
  }

  .mr-#{$i} {
    margin-right: $i * 1px;
  }

  .mt-n#{$i} {
    margin-top: $i * -1px;
  }

  .mb-n#{$i} {
    margin-bottom: $i * -1px;
  }

  .ml-n#{$i} {
    margin-left: $i * -1px;
  }

  .mr-n#{$i} {
    margin-right: $i * -1px;
  }
}


@for $i from 1 through 5 { // Margins for pull-outs
  .ml-n#{$i * 10} {
    margin-left: $i * -10px;
  }
}



/*
 * Utility classes for layout flow
 */

.abs {
  position: absolute;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.fixed {
  position: fixed;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.l-third.center {
  margin-left: 50%;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}
.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.r-180 {
  transform: rotate(180deg);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
