.show-for-medium,
.show-for-small,
.hide-for-large {
  display: none;
}


@include breakpoint($bp-large) { //* Screen is smaller than comp – start making things responsive
  body {
    min-width: 0; // We're going responsive, baby
  }

  .show-for-large {
    display: none;
  }

  .hide-for-large {
    display: inherit;
  }

  //*
  //* Media hero becomes fluid
  //*/
  .media--wide {
    margin-right: 40px;

    .media-img {
      margin-right: 60px;
      width: 52%;
    }

    //* Show the background of the container instead of the image so
    //* it scales well instead of getting squished, since the height
    //* needs to remain constant
    //*/
    .button-video {
      width: 100%;

      img {
        visibility: hidden;
      }
    }
  }

  .l-aside--right {
    padding-left: 30px;
  }

  .l-main--right {
    padding-right: 20px;
  }

  .l-main--left {
    padding-right: 50px;
  }

  .post-title {
    font-size: 50px; //* Kilo */
    line-height: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .blog-aside-title {
    font-size: 46px;
    line-height: 65px;
    margin-top: 155px;
  }
}

@include breakpoint($bp-med-large) { //* Tweak point to leave more room for hero and main

  //*
  //* Reduce paddings and margins to leave more space for content
  //*

  .content {
    padding: 0 50px;
  }

  //* Leave more room for hero */

  .media--wide {
    margin-left: 5px;
    margin-right: 5px;
  }


  //* Callouts shouldn't bleed */

  .media--wide .callout {
    margin: 0;
  }

  .callout--large {
    margin-left: 0;
  }
}

@include breakpoint($bp-med-large-2) { //* Tweak point to fix broken hero and pricing table

  //*
  //* Reduce margins between video and blurb. Hide callout
  //*/

  .media--wide {
    margin-left: 0;

    .media-img {
      margin-right: 5%;
      width: 50%;
    }

    .callout {
      visibility: hidden;
    }
  }


  //*
  //* Stack plan amount and period in pricing table
  //*/

  .pricing-table {

    .plan-price {
      padding-bottom: 12px;
      padding-top: 15px;
    }

    .plan-amount,
    .plan-period {
      display: block;
      text-align: center;
      width: 100%;
    }

    .plan-amount {
      margin-left: -3px;
    }

    .plan-period {
      padding-left: 3px;
    }
  }
}


@include breakpoint($bp-med) { //* Major breakpoint

  .content {
    padding: 0 50px;
  }

  //* Hide optional elements */
  .optional,
  .hide-for-medium {
    display: none;
  }

  //* Show alternate elements for medium size */
  .show-for-medium {
    display: inherit;
  }

  .text-center-med {
    text-align: center;
  }


  //* Stack main and aside */
  .l-wrap-inner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .l-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 80px 60px;
    width: 100%; //* This will make sure the pre tags adapt to the maximum width
  }

  .l-aside {
    display: block;
    order: 2;
    padding: 10px 40px;

    .nav .nav {
      display: none;
    }

    .blurb {
      float: left;
      margin: 0 0 10px;
      padding: 0 30px;
      width: 50%;
    }

    .blurb:nth-child(odd) {
      clear: left;
    }
  }

  .blog-aside-title {
    margin: 60px 0;
    text-align: center;
  }

  .blog-aside-footer {
    margin: 30px 0 50px;
    text-align: center;
  }




  //*
  //* BLURBS in columns get fluid width and some padding instead for separation
  //*/

  .l-third {

    .blurb {
      padding: 0 15px;
      position: relative;
      width: auto;
    }

    &:first-child .blurb {
      left: -15px;
    }

    &:last-child .blurb {
      right: -15px;
    }
  }


  .l-half-med {
    width: 50%;

    .blurb {
      padding-right: 25px;
    }

    &:last-child .blurb {
      right: -25px;
    }
  }

  .l-full-med,
  .l-full-med.center {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    width: 100%;
  }


  //*
  //* HERO goes in 1 column. Video appears at the botton
  //*/

  .media--wide {
    margin-right: 0;

    .media-img {
      display: none;
    }
  }

  //*
  //* Video buttons appear full width
  //*/

  .button-video {
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 100%;
    }

    .callout {
      display: none;
    }

    &.show-for-medium + .pullquote {  //* add some air to pullquote after video */
      margin-bottom: 50px;
    }
  }

  .bg-light { //* Better pattern for the hero */
    background-position: center top; //* this shows a sphere behind the "...deploys..." – kindda fitting */
  }


  //*
  //* TABLES: reduce font size, paddings and margins so lines don't wrap
  //*/

  .table {
    font-size: 14px;
  }

  .th {
    font-size: 18px;
  }

  .th,
  .td {
    margin: 4px 2px;
    padding: 10px;
  }

  .th--highlight {
    padding-bottom: 12px;
    padding-top: 15px;
  }
}



//* Hero looks really bare between small and medium. Increase the font size. */
@media (min-width: $bp-small + .0625em) and (max-width: $bp-med) {

  .media--wide {
    .blurb {
      max-width: 30em;

      p {
        margin: 30px 0;
      }

      .alpha {
        font-size: 50px;
        line-height: 55px;
      }

      .small-2 {
        font-size: 16px;
        margin: 30px 0;
        text-align: center;
      }

      .button {
        font-size: 32px;
        height: 100px;
        line-height: 100px;
      }

      .button-icon {
        margin: 16px 0 0 16px;
        transform: scale(1.2);
      }
    }
  }
}

@include breakpoint($bp-med-small) { //* Tweak point to leave more room for content
  //* Reduce content padding to leave more room for content */
  .content {
    padding: 0 20px;
  }

  //* Reduce bleed so it doesn't touch edge of screen */
  .l-container {
    margin-left: 0;
  }

  .l-half-med:last-child .blurb {
    right: -15px;
  }

  .media--bleed {
    .media-img {
      margin-left: -4px;
    }
  }
}


@include breakpoint($bp-small) { //* Major breakpoint. Stack all the things (almost)
  .show-for-small {
    display: inherit;
  }

  .hide-for-small {
    display: none;
  }

  //*
  //* Reduce content width to readable line length
  //*/

  .content {
    max-width: 35em;
    padding: 0 25px;
  }

  .content--wide {
    max-width: none;
  }

  .l-wrap-inner {
    padding: 0;
  }

  .l-main {
    padding: 0 25px 40px;
  }

  .l-aside {
    padding: 0 25px;
  }

  //*
  //* Stack address in footer
  //*/
  .site-footer {
    .vcard {
      margin: 10px;

      br {
        display: block;
      }

      .address::before,
      .address::after {
        display: none;
      }
    }
  }

  //*
  //* Reduce header
  //*/
  .site-header {

    .brand {
      margin: 0;
    }

    .brand-logo {
      left: -30px;
      position: relative;
      top: 3px;
      transform: scale(.7);
    }

    .top-nav {
      margin: 15px 0;
    }
  }


  //*
  //* Stack layouts
  //*/
  .l-container,
  .l-container .l-third,
  .l-container .l-fourth,
  .l-container .l-half,
  .l-2-col .l-col,
  .l-3-col .l-col {
    float: none;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;

    .blurb {
      margin: 20px auto 40px;
      position: static;
    }
  }

  .l-2-col-auto {
    column-gap: 0;
    columns: 1;

    .blurb {
      margin: 0 auto;
    }
  }

  //*
  //* Stack inline blocks
  //*/

  .inline-block:not(.optional) {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }


  //*
  //* Fix links
  //*/

  .button-label {
    padding-left: 0;
  }

  .button--small {
    border-radius: 40px;
    min-width: 0;

    .button-label {
      display: none;
    }
  }

  .button--inline {
    margin-right: 20px;
  }

  .button-video {
    margin-left: 0;
    margin-right: 0;
  }

  .social-icon--round {
    margin: 0 10px;
  }

  //*
  //* Stack Forms
  //*/

  .form--fancy  {
    border-radius: 10px;
    margin: 40px 0 20px;
    padding: 6px;

    .form-group {
      float: none;
      padding: 3px;
      width: 100%;
    }

    .form-button {
      border-radius: 0 0 5px 5px;
      font-size: 16px;
      margin-top: 3px;
      position: static;
      width: 100%;
    }
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
  }

  ::-moz-placeholder {
    font-size: 16px;
  }

  :-ms-input-placeholder {
    font-size: 16px;
  }

  //*
  //* Adjust table margins to align with left and right margins
  //*/

  .table {
    margin-left: -4px;
    margin-right: -4px;
  }

  //*
  //* Reduce spacing between sections
  //*/

  .cf::after {
    display: block; // collapse margin bottom
  }

  .site-footer .content::after { // don't collapse margin bottom in site footer
    display: table;
  }

  .mt-80,
  .mt-90,
  .mt-100,
  .mt-110,
  .mt-115,
  .mt-120 {
    margin-top: 70px; // this is a hack – need to normalize these margins
  }

  .mb-80,
  .mb-90,
  .mb-100,
  .mb-110,
  .mb-115,
  .mb-120 {
    margin-bottom: 70px; // this is a hack – need to normalize these margins
  }

  //*
  //* Reduce font sizes
  //*/
  .huge {
    font-size: 115px;
    line-height: 1;
  }

  .tera {
    font-size: 55px;
    line-height: 1;
  }

  .mega {
    font-size: 50px; //48px;
    line-height: 65px;
  }

  .kilo {
    font-size: 37px; //36px;
    line-height: 45px;
  }

  .alpha,
  h1 {
    font-size: 33px; //32px
    line-height: 40px;
  }

  .beta,
  h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .gamma,
  h3 {
    font-size: 25px; //24px;
    line-height: 30px;
  }

  .delta,
  h4,
  .epsilon,
  h5 {
    font-size: 22px;
    line-height: 30px;
  }

  .zeta,
  h6 {
    font-size: 18px;
    line-height: 25px;
  }

  .small {
    font-size: 15px;
  }

  .small-2 {
    font-size: 14px;
  }

  .table {
    font-size: 16px;
  }

  .th {
    font-size: 20px;
  }

  //*
  //* Adjust blurb in hero to compensate for smaller font sizes
  //*/
  .media--wide .blurb {
    max-width: 330px;
    width: auto;
  }

  //*
  //* Bold paragraphs look too bold
  //*/
  p.bold {
    @include font-weight(medium);
  }

  //* Extra small text the blurb body gets too
  //* hard to read and looks uncompensated with
  //* normal text (see About page, Mat & Chris descriptions)
  //* Make it look like standard text
  //*/

  .blurb-bd .x-small {
    font-size: 16px;
    line-height: 25px;
  }

  //*
  //* Blurbs aside get stacked
  //*/
  .l-aside .blurb:nth-child(n) {
    float: none;
    max-width: none;
    padding: 0;
    width: auto;
  }

  //*
  //* Reduce post title font size
  //*/
  .post-title {
    font-size: 37px;
    line-height: 50px;
    margin: 70px 0 20px;
  }

  .post-meta {
    font-size: 14px;
  }

  .blog-aside-title {
    font-size: 33px;
    line-height: 35px;
  }

  //*
  //* Legalese. Get rid of bullets, numbered lists and indentation
  //*/
  .legalese {
    margin: 60px 0 0;
    padding: 0;

    h1 {
      border: 0;
      padding-top: 0;
    }

    ol h2::before {
      display: none;
    }

    ul,
    ol,
    ol ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
      }
    }

    hr {
      display: none;
    }
  }

  .inline-block .icon-link--round {
    margin-right: 10px;
  }

  .nav--inline.nav--wide {
    li:last-child {
      margin-right: 0;
    }

    .icon-link--large {
      height: 40px;
      line-height: 40px;
      width: 40px;

      svg {
        height: 35px;
        width: 35px;
      }
    }
  }

  .mobile-stack-images img {
    display: block;
    margin: 30px auto;
  }
}

@include breakpoint($bp-small-2) {
  //*
  //* Fix footer aligning address under logo
  //*/
  .site-footer {

    .left,
    .right {
      float: none;
    }

    .brand-logo {
      margin-left: -10px;
    }

    .vcard {
      margin: -35px 0 0 95px;

      .org {
        display: none;
      }
    }
  }
}

@include breakpoint($bp-small-3) {
  //*
  //* More space for content
  //*/
  .content {
    padding: 0 15px;
  }

  .l-third,
  .l-half {
    .blurb {
      padding: 0;
    }
  }


  //*
  //* Links can be closer together
  //*/
  .social-icon--round {
    margin: 0 5px;
  }

  //*
  //* Reduce big hero text and button
  //*/
  .media--wide {
    margin-top: 50px;

    .blurb {
      max-width: 270px;
    }

    .huge {
      font-size: 98px;
      line-height: 100px;
      margin: 0 0 20px;
    }

    .alpha {
      font-size: 28px;
      line-height: 35px;
      margin: 5px 0;
    }

    .small-2 {
      font-size: 14px;
      margin-top: -5px;
      text-align: center;
    }
  }

  //*
  //* Make large buttons smaller
  //*/
  .button--large {
    font-size: 21px;
    height: 60px;
    line-height: 60px;

    .button-icon {
      margin: -4px;
      transform: scale(.7);
    }
  }

  .post-title {
    line-height: 45px;
    margin-bottom: 30px;
  }
}
