.show-for-medium,
.show-for-small {
  display: none;
}

@media (max-width: $bp-large) { //* Screen is smaller than comp – start adjusting
  body {
    min-width: 0;
  }

  .l-aside--right {
    padding-left: 30px;
  }

  .l-main--right {
    padding-right: 20px;
  }

  .l-main--left {
    padding-right: 40px;
  }

  .l-2-col-auto {
    column-gap: 40px;
  }

  .mt-70,
  .mt-80,
  .mt-90,
  .mt-100,
  .mt-110,
  .mt-115,
  .mt-120 {
    margin-top: 60px; // Need to normalize these margins
  }

  .mb-90,
  .mb-100,
  .mb-110,
  .mb-115,
  .mb-120 {
    margin-bottom: 80px; // Need to normalize these margins
  }

  .mb-50 {
    margin-bottom: 40px;
  }

  .mt-50 {
    margin-top: 40px;
  }
}

@media (max-width: $bp-med-large) { //* Tweak point to leave more room for content

  .content {
    padding: 0 50px;
  }


  //* Callouts don't have room to bleed */
  .callout--large {
    margin-left: 0;
  }
}

@media (max-width: $bp-med-large-2) { //* Tweak point to fix pricing table

  //*
  //* Stack plan amount and period in pricing table
  //*/
  .pricing-table {

    .plan-price {
      padding-bottom: 12px;
      padding-top: 15px;
    }

    .plan-amount,
    .plan-period {
      display: block;
      text-align: center;
      width: 100%;
    }

    .plan-amount {
      margin-left: -3px;
    }

    .plan-period {
      padding-left: 3px;
    }
  }
}


@media (max-width: $bp-med) { //* Major breakpoint

  //*
  //* Stack main and aside
  //*/
  .l-wrap-inner {
    display: flex; //* So we can move navigation sidebar to the bottom
    flex-direction: column;
    padding: 0;
  }

  .l-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 80px 60px;
    width: 100%; //* This will make sure pre tags adapt to main width
  }

  .l-aside {
    display: block;
    order: 2; //* Move navigation to the bottom */
    padding: 10px 40px;

    //* Hide nested navs in Documentation */
    .nav .nav {
      display: none;
    }

    //* Blurbs go in 2 columns */
    .blurb {
      float: left;
      margin: 0 0 10px;
      padding: 0 30px;
      width: 50%;

      &:nth-child(odd) {
        clear: left;
      }
    }
  }


  //*
  //* Adjust spacing and alignment of aside title and footer
  //*/
  .blog-aside-title {
    padding: 0;
    text-align: center;
  }

  .blog-aside-footer {
    margin: 30px 0 50px;
    text-align: center;
  }


  //*
  //* BLURBS: fluid width and some padding instead for separation
  //*/
  .l-third {

    .blurb {
      padding: 0 15px;
      position: relative;
      width: auto;
    }

    &:first-child .blurb {
      left: -15px;
    }

    &:last-child .blurb {
      right: -15px;
    }
  }

  .l-half-med {
    width: 50%;

    .blurb {
      padding-right: 25px;
    }

    &:nth-child(odd) {
      clear: left;
    }

    &:nth-child(even) {
      clear: right;
      right: -25px;
    }
  }

  .l-full-med,
  .l-full-med.center {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    width: 100%;
  }


  //*
  //* Video buttons appear full width
  //*/
  .button-video {
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 100%;
    }

    .callout {
      display: none;
    }
  }


  //*
  //* TABLES: reduce font size, paddings and margins so lines don't wrap
  //*/
  .table {
    font-size: 14px;
  }

  .th {
    font-size: 18px;
  }

  .th,
  .td {
    margin: 4px 2px;
    padding: 10px;
  }

  .th--highlight {
    padding-bottom: 12px;
    padding-top: 15px;
  }

  //*
  //* Utils
  //*/

  .optional,
  .hide-for-medium {
    display: none;
  }

  .show-for-medium {
    display: inherit;
  }
}


@media (max-width: $bp-med-small) { //* Tweak point to leave more room for content

  .content {
    padding: 0 20px;
  }

  //* Reduce bleed so it doesn't touch edge of screen */
  .l-container {
    margin-left: 0;
  }

  .l-half-med:last-child .blurb {
    right: -15px;
  }

  .media--bleed {
    .media-img {
      margin-left: -4px;
    }
  }
}


@media (max-width: $bp-small) { //* Major breakpoint. Stack all the things (almost)

  //*
  //* Show/hide alternatives for small size
  //*/
  .hide-for-small {
    display: none;
  }

  .show-for-small {
    display: inherit;
  }


  //*
  //* Reduce content width to readable line length
  //*/
  .content {
    max-width: 35em;
    padding: 0 25px;
  }

  .content--wide {
    max-width: none;
  }

  .l-wrap-inner {
    padding: 0;
  }

  .l-main {
    padding: 0 25px 40px;
  }

  .l-aside {
    padding: 0 25px;
  }


  //*
  //* Stack address in footer
  //*/
  .site-footer {
    .vcard {
      margin: 10px;

      br {
        display: block;
      }

      .address::before,
      .address::after {
        display: none;
      }
    }
  }


  //*
  //* Reduce logo
  //*/

  .brand-logo {
    transform: scale(.7);
  }

  .site-header {

    .brand {
      margin: 0 0 0 -30px;
    }
  }


  //*
  //* Stack layouts
  //*/
  .l-container,
  .l-container .l-third,
  .l-container .l-fourth,
  .l-container .l-half,
  .l-2-col .l-col,
  .l-3-col .l-col {
    float: none;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;

    .blurb {
      margin: 0 auto 25px;
      position: static;
    }
  }

  .l-2-col-auto {
    column-gap: 0;
    columns: 1;

    .blurb {
      margin: 0 auto;
    }
  }


  //*
  //* Stack inline blocks
  //*/
  .inline-block:not(.optional) {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }


  //*
  //* Fix links
  //*/

  .button--small {
    border-radius: 40px;
    min-width: 0;

    .button-label {
      display: none;
    }
  }

  .button--inline {
    margin-right: 20px;
  }

  .button-video {
    margin-left: 0;
    margin-right: 0;
  }

  .social-icon--round {
    margin: 0 10px;
  }


  //*
  //* Stack Forms
  //*/
  .form--fancy {
    border-radius: 10px;
    margin: 40px 0 20px;
    padding: 6px;

    .form-group {
      float: none;
      padding: 3px;
      width: 100%;
    }

    .form-button {
      border-radius: 0 0 5px 5px;
      font-size: 16px;
      margin-top: 3px;
      position: static;
      width: 100%;
    }
  }

  ::placeholder {
    font-size: 16px;
  }


  //*
  //* Adjust table margins to align with left and right margins
  //*/
  .table {
    margin-left: -4px;
    margin-right: -4px;
  }


  //*
  //* Reduce spacing between sections
  //*/
  .cf::after {
    display: block; // collapse margin bottom
  }

  .site-footer .content::after { // don't collapse margin bottom in site footer
    display: table;
  }

  .mt-60,
  .mt-50,
  .mt-40 {
    margin-top: 30px;
  }


  //*
  //* Reduce font sizes
  //*/

  .table {
    font-size: 16px;
  }

  .th {
    font-size: 20px;
  }


  //* Extra small text in blurb body gets too
  //* hard to read and looks uncompensated with
  //* normal text (see About page, Mat & Chris descriptions)
  //* Make it look like standard text
  //*/
  .blurb-bd .x-small {
    font-size: 16px;
    line-height: 25px;
  }


  //*
  //* Blurbs in aside get stacked
  //*/
  .l-aside .blurb:nth-child(n) {
    float: none;
    max-width: none;
    padding: 0;
    width: auto;
  }


  //*
  //* Blog
  //*/

  .post-hd,
  .post-img,
  .post-bd {
    margin: 30px auto;
  }

  .post-title {
    line-height: 50px;
  }

  .post-meta {
    font-size: 16px;
  }

  .blog-aside-title {
    font-size: 33px;
    line-height: 35px;
  }


  //*
  //* Legalese. Get rid of bullets, numbered lists and indentation
  //*/
  .legalese {
    margin: 60px 0 0;
    padding: 0;

    h1 {
      border: 0;
      padding-top: 0;
    }

    ol h2::before {
      display: none;
    }

    ul,
    ol,
    ol ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
      }
    }

    hr {
      display: none;
    }
  }


  //*
  //* Reduce spacing around inlined lists of icons
  //*
  .inline-block .icon-link--round {
    margin-right: 15px;
  }

  .nav--inline.nav--wide {
    li:last-child {
      margin-right: 0;
    }

    .icon-link--large {
      height: 40px;
      line-height: 40px;
      width: 40px;

      svg {
        height: 35px;
        width: 35px;
      }
    }
  }

  //*
  //* Stack lists of images
  //*/
  .mobile-stack-images img {
    display: block;
    margin: 30px auto;
  }
}


@media (max-width: $bp-small-2) { //* Tweak point to fix footer */

  //*
  //* Align address under logo
  //*/
  .site-footer {

    .left,
    .right {
      float: none;
    }

    .brand-logo {
      margin-left: -10px;
    }

    .vcard {
      margin: -35px 0 0 95px;

      .org {
        display: none;
      }
    }
  }
}

@media (max-width: $bp-small-3) { //* Tweak point tighten things some more

  //*
  //* More room for content
  //*/
  .content,
  .l-main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .l-wrap-inner {
    padding: 0;
  }

  .l-third,
  .l-half {
    .blurb {
      padding: 0;
    }
  }

  .l-aside .side-nav {
    padding: 20px 0;
  }

  //*
  //* Social icons can be closer together
  //*/
  .social-icon--round {
    margin: 0 5px;
  }


  //*
  //* Make large buttons smaller
  //*/
  .button--large {
    font-size: 21px;
    height: 60px;
    line-height: 60px;

    .button-icon {
      margin: -4px;
      transform: scale(.7);
    }
  }

  //*
  //* Post title can be tighter
  //*/
  .post-title {
    line-height: 45px;
    margin-bottom: 30px;
  }
}
