//*
//* The typography is based on the pentatonic scale -- the formula to calculate the
//* classic typographic scale. See:
//*
//* http://spencermortensen.com/articles/typographic-scale/
//*

$font-weights: ( //* keep getting them wrong, so mapping them to their names to see if it helps
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);

@mixin font-weight($name) {
  font-weight: if(map-has-key($font-weights, $name), map-get($font-weights, $name), $name);
}

:root {
  @include fluid-typography($bp-s, $bp-m, 1em, 1.125em);
  @media (min-width: $bp-m + .01em) {
    font-size: 1em;
  }

  @include fluid-typography(80em, 90em, 1em, 1.125em);
}

body {
  font: 300 normal 16px/1.5 Roboto, sans-serif;
}


@mixin type-display {
  @include font-weight(thin);
  letter-spacing: -.02em;
  line-height: 1.25;
  margin-bottom: 25px;
}

@mixin type-text {
  @include font-weight(light);
  letter-spacing: normal;
  line-height: 1.5;
}

// Sizes -- this could be extracted to a sass map
@mixin tera {
  font-size: 63px;
  margin-top: 80px;
}

@mixin giga {
  font-size: 55px;
  margin-top: 80px;
}

@mixin mega {
  font-size: 48px;
  margin-top: 60px;
}

@mixin kilo {
  font-size: 42px;
  margin-top: 60px;
}

@mixin alpha {
  font-size: 36px;
  margin-top: 40px;
}

@mixin beta {
  font-size: 32px;
  margin-top: 40px;
}

@mixin gamma {
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 40px;
}

@mixin delta {
  font-size: 24px;
  margin-bottom: 35px;
  margin-top: 35px;
}

@mixin epsilon {
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@mixin zeta {
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 25px;
}


//* Page headings:

.tera {
  @include type-display;
  @include tera;

  @media (max-width: $bp-m) {
    @include tera;
    margin-top: 60px;
  }
}

.giga {
  @include type-display;
  @include giga;

  @media (max-width: $bp-m) {
    @include mega;
    margin-top: 60px;
  }
}

.mega {
  @include type-display;
  @include mega;

  @media (max-width: $bp-m) {
    @include kilo;
  }
}


//* Section heading */

.kilo {
  @include type-display;
  @include kilo;

  @media (max-width: $bp-m) {
    font-size: 42px; // (3 -- Going all the way to alpha is too big a difference)
    line-height: 50px;
  }
}

//* Subsection heading */

.alpha {
  @include type-display;
  @include alpha;
}

.beta {
  @include type-display;
  @include beta;
}


//* gamma is used rarely, basically only next to the social icons since it fits their height */
.gamma {
  @include type-display;
  @include gamma;
}


//* Banners, intros and/or marketing text */

.delta {
  @include type-text;
  @include font-weight(thin);
  @include delta;
}

.epsilon {
  @include type-text;
  @include font-weight(thin);
  @include epsilon;
}

.zeta {
  @include type-text;
  @include zeta;
}

.intro {
  @include epsilon;
  @include font-weight(medium);
  margin-bottom: 50px;
}


//* Tabular data: we use 'rounded' values for large text in tables
// so the font size and line heights match the 5 px grid.
//* because the font size and line-height will better fit the 5px grid
//*

.x-large {
  @include type-display;
  @include font-weight(bold);
  font-size: 60px; // giga rounded
  line-height: 1.1;
}

.large {
  @include type-text;
  @include font-weight(bold);
  font-size: 20px; // epsilon rounded
}


//* Long text */

.medium { // Default size
  @include type-text;
  font-size: 16px;
}


//* Small blurbs */

.small {
  @include type-text;
  font-size: 14px;
}

// This size is used for blurbs with longuish text, where .small
// would make the text overflow the container (see Chris & Matt blurbs on About page)
// 12px is a bit too small to read on screen, so we use 13px instead.
.x-small {
  @include type-text;
  font-size: 13px;
}

.xx-small {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.333;
}


//* Weights

.thin {
  @include font-weight(thin);
}

.normal {
  @include font-weight(light);
}

.book {
  @include font-weight(normal);
}

.semibold {
  @include font-weight(medium);
}

.bold {
  @include font-weight(bold);
}


//*
//* Default styles
//*/

h1 {
  @extend .alpha;
}

h2 {
  @extend .beta;
}

h3 {
  @extend .gamma;
}

h4 {
  @extend .delta;
}

h5 {
  @extend .epsilon;
}

h6 {
  @extend .zeta;
}

p,
ul,
ol,
dl,
blockquote {
  margin: calc-em($base-spacing) auto;
}

p {
  orphans: 2;
  widows: 2;
}

cite,
small {
  @extend .small;
}

cite {
  display: block;
  line-height: $media-spacing;
  margin: $media-spacing 0;
}

//* Skip italics and use bold for emphasis instead
//* http://practicaltypography.com/bold-or-italic.html
//*/

strong,
b,
em,
i,
cite {
  @extend .semibold;
  font-style: normal;
}
