<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {% if page.meta_title %}
    {{page.meta_title}}
    {% else %}
    Netlify: {% if page.title %}{{ page.title }}{% else %}The premium hosting service for modern static websites{% endif %}
    {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'>
    <link rel="stylesheet" href="/css/site.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="Subscribe to netlify's blog via RSS">
</head>
<body>

  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% include svg-defs.html %}

  <div class="off-canvas-wrap">
   <div class="off-canvas-inner-wrap">
      {% include site-nav.html %}
      <div id="page" class="page {{page.class}}">
        {% include site-header.html %}

        {{ content }}

        {% include site-footer.html %}
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="/js/vendor/jquery.touchSwipe.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
