---
layout: default
---
<div class="wrap">
  <div class="wrap-inner">
    <div class="sidebar sidebar--left sidebar--wide inverse docs-sidebar" role="complementary">
      <nav class="side-nav" role="navigation">
        <ul class="nav nav--primary nav--nested">
          <li{% if page.url == "/docs.html" %} class="active"{% endif %}>
            <a href="/docs.html">Welcome</a>
          </li>
          {% assign items = site.docs | sort: 'position' %}
          {% for doc_page in items %}
          {% unless doc_page.hidden %}
          <li{% if page.url == doc_page.url %} class="active"{% endif %}>
            <a href="{{doc_page.url}}">{{doc_page.title}}</a>
          </li>
          {% endunless %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="main main--right docs-main" role="main">
      <div class="text mb-60">
        <h1>{{page.title}}</h1>
        {{content}}
      </div>
    </div>
  </div>
</div>
