---
layout: default
---
<div class="l-wrap bg-light-muted-2">
  <div class="l-wrap-inner">
    <div class="l-aside l-aside--left inverse docs-aside" role="complementary">
      <nav class="site-nav inverse" role="navigation">
        <ul class="nav nav--primary nav--nested nav--flush-left">
          {% assign items = site.docs | sort: 'position' %}
          {% for doc_page in items %}
          <li>
            <a href="{{doc_page.url}}"{% if page.url == doc_page.url %} class="active"{% endif %}>{{doc_page.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="l-main l-main--right docs-main" role="main">
      {{content}}
    </div>
  </div>
</div>