---
layout: default
---
<div class="l-wrap">
  <div class="l-wrap-inner l-wrap-inner--main-right">
    <div class="l-aside l-aside--left inverse docs-aside" role="complementary">
      <nav class="site-nav inverse" role="navigation">
        <ul class="nav nav--primary nav--nested">
          <li>
            <a href="/docs.html"{% if page.url == "/docs.html" %} class="active current"{% endif %}>Welcome</a>
          </li>
          {% assign items = site.docs | sort: 'position' %}
          {% for doc_page in items %}
          {% unless doc_page.hidden %}
          <li>
            <a href="{{doc_page.url}}"{% if page.url == doc_page.url %} class="active current"{% endif %}>{{doc_page.title}}</a>
          </li>
          {% endunless %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="docs-main l-main l-main--right mt-10 text" role="main">
      {{content}}
    </div>
  </div>
</div>
