---
layout: default
---
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet' type='text/css'>

<!-- Above the fold -->
<div class="bg-light">

  <!-- Hero -->
  <section class="hero content">
    <div class="hero-blurb blurb">
      <h1>
        <span class="one-thing">One platform</span>
        <span class="one-thing two">One click SSL</span>
        <span class="one-thing three">One command deploy</span>
      </h1>
      <p>
        Deploy <strong>modern static websites</strong> with our automated
        platform and add best practices like SSL, CDN distribution, caching,
        and continuous deployment with a single-click.
      </p>
      <p>
        <a href="https://app.netlify.com" class="button button--pill cta">
          <strong class="button-label epsilon">Get started</strong>
        </a>
      </p>
    </div>

    <blockquote class="hero-blockquote">
      <p>{{page.celebrity_quote}}</p>
      <cite><strong>{{page.celebrity_name}}</strong>, {{page.celebrity_title}}</cite>
    </blockquote>
  </section>

  <!-- Integrations -->
  <section class="bg-white text-center bb bb--large editorial-text">
    <div class="content">
      <div class="integration-logos">
      {% for logo in site.data.homepage_integration_logos %}
        <img src="/img/logos/{{logo.filename}}" width="{{logo.width}}" height="{{logo.height}}" alt="{{logo.alt}}">
      {% endfor %}
      </div>
      <p class="delta muted mb-0">Our agnostic platform means your favorite tools are already supported</p>
      <p class="small semibold loud mt-10 mb-40">And thousands more! (Really, just about anything)</p>
    </div>
  </section>
</div>

<!-- Terminal -->
<section class="bg-terminal inverse bb bb--large">
  <div class="content">
    <div class="l-container mt-0 mb-0 highlight js-terminal">
    </div>
  </div>
</section>

{{ content }}

<!-- Features -->
<section class="bg-dark-muted-cover inverse bb bb--large">
  <div class="content">
    <h1 class="kilo mb-50 text-center"><a href="/features.html">Features</a></h1>

    <div class="l-container">
    {% for feature in site.data.homepage_features %}

      <div class="l-third l-half-med">
        <section class="homepage-feature mb-40">
          <h3 class="blurb-title">
            <span class="feature-icon">
              <svg width="60" height="60">
                <use xlink:href="#{{feature.icon_id}}" />
              </svg>
            </span>
            {{feature.title}}
          </h3>
          <div class="blurb-bd">
            {{feature.description | markdownify}}
          </div>
        </section>
      </div>

    {% endfor %}
    </div>

    <p class="cta mb-80">
      <a href="/features.html" class="delta">
        <strong>See more features<svg width="20" height="20" class="append darkest"><use xlink:href="#icon-arrow" /></svg></strong>
      </a>
    </p>
  </div>
</section>
<!-- end Features -->

<!-- Pull Quote -->
<section class="bg-white muted text-center">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <p class="pullquote delta thin p--wide mt-40 mb-40">
      <strong>{{site.data.stats.developers}}</strong> Developers •
      <strong>{{site.data.stats.websites}}</strong> Web Sites •
      <strong>{{site.data.stats.deploys}}</strong> Deploys
    </p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

<!-- Newsletter, Testimonials and Client Logos -->
<section class="bg-light-muted muted text-center bb bb--large">
  <div class="content content--narrow">

    <!-- Newsletter -->
    <section class="bb bb--muted mt-90">
      {% include newsletter.html %}
    </section>

    {% include testimonials.html %}
  </div><!-- end content -->
</section>

<!-- Blog and Social Links -->
<section class="bg-dark-muted-cover inverse bb bb--large">
  <div class="content">

    <section class="mt-90 mb-30">
      <header class="text-center mb-50">
        <h1 class="kilo mb-35"><a href="/blog.html">Visit our blog</a></h1>
        <p class="zeta muted p--wide">See the blog for tons of articles, tips, tricks and opinions on all that is related to static web-tech.</p>
      </header>
      <div class="l-container">
        {% for post in site.posts | limit:3 %}
        <div class="l-third">
          {% include post-blurb.html %}
        </div>
        {% endfor %}
      </div>
    </section>

    {% include socialize.html %}

  </div><!-- end content-->
</section>
{% if site.terminal == 'production' %}
<script>window.TUTORIAL_LOG_ENDPOINT = 'https://term.ops.netlify.com';</script>
{% endif %}

{% if site.terminal == 'local' %}
<script async src="http://localhost:8080/app.bundle.js"></script>
{% else %}
<script async src="https://terminal-tutorial-experiments.netlify.com/app.bundle.js"></script>
{% endif %}
