---
layout: default
---

<!-- Hero -->
<section class="bg-light section-hero">
  <div class="content content--wide">
    <div class="media media--wide">

      <!-- Video -->
      <div class="media-img">
        <a href="#" class="button-video" data-video-id="G7pCcE3vm5k">
          <img src="/img/video.png">
          <div class="play-button"></div>
          <div class="callout">
            <p class="callout-text">
              {{ page.callout }}
            </p>
          </div>
        </a>
      </div> <!-- end media-img -->

      <!-- Blurb -->
      <div class="media-bd">
        <div class="blurb center">
          <h1 class="alpha highlight mt-0">
            <span class="block">
              <img src="/img/netlify-text.svg" />
            </span>
            {% if page.deck %}
              {{ page.deck }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
          <p>
            <a href="https://app.netlify.com" class="button button--large js-swipe">
              <svg class="button-icon" width="68" height="68">
                <use xlink:href="#icon-arrow" />
              </svg>
              <span class="button-label">START HERE</span>
            </a>
          </p>
          <p class="small-2 overloud text-center">Basic packages <strong class="highlight">free forever</strong> – no credit card required</p>
        </div>
      </div> <!-- end media-bd -->
    </div><!-- end media -->
  </div><!-- end content -->
</section>
<!-- end Hero -->

<!-- Pull Quote -->
<section class="bg-white muted text-center bb bb--large">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <a href="#" class="button-video mt-60 mb-50 center show-med" data-video-id="G7pCcE3vm5k">
      <img src="/img/video.png">
      <div class="callout">
        <p class="callout-text">
          {{ page.callout }}
        </p>
      </div>
    </a>
    <p class="pullquote delta thin p--wide mt-40 mb-40">
      {{ page.pullquote }}
    </p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

{{ content }}

<!-- Products -->
<section class="bg-terminal inverse bb bb--large">
  <div class="content">
    <div class="l-container mt-0 mb-0 js-terminal highlight">
      <pre class="terminal highlight"><code class="js-terminal-output"><div class="terminal-ascii-art">




                               ::   :::    :::::
                        :::    ::         :::
                        :::    ::         :::
:: ::::::    ,::::::  ::::::,  ::   ::: ,::::::  :::    :::
:::   :::   :::   :::   :::    ::   :::   :::    :::    :::
::     ::: :::     ::   :::    ::   :::   :::     ::,  :::
::     ::: ::::::::::   :::    ::   :::   :::     ,::  ::,
::     ::: ::,          :::    ::   :::   :::      :::,::
::     ::: ,::          :::    ::   :::   :::       ::::
::     :::  :::::::::   :::::  ::   :::   :::       ::::
,,     ,,,     :::,       ::,  ,,   ,,,   ,,,        ::
                                                    :::
                                                 ,::::
                                                  ,,

</div>Welcome to netlify CLI

Deploy production sites or apps, straight from the command
line

Type help to get started

$ </code><span class="terminal-caret">|</span></pre>
    </div><!-- end l-container -->
  </div><!-- end content -->
</section>

<!-- Pull Quote -->
<section class="bg-white muted text-center">
  <div class="content">
    <!-- Section with video button for smaller devices -->
    <p class="pullquote delta thin p--wide mt-40 mb-40">
      <strong>18,000+</strong> Developers •
      <strong>45,000+</strong> Web Sites •
      <strong>200,000+</strong> Deploys
    </p>
  </div><!-- end content -->
</section>
<!-- end Pull Quote-->

<!-- Newsletter, Testimonials and Client Logos -->
<section class="bg-light-muted muted text-center bb bb--large">
  <div class="content content--narrow">

    <!-- Newsletter -->
    <section class="bb bb--muted mt-90">
      {% include newsletter.html %}
    </section>

    {% include testimonials.html %}
  </div><!-- end content -->
</section>

<!-- Blog and Social Links -->
<section class="bg-dark-muted-cover inverse bb bb--large">
  <div class="content">

    <!-- Blog -->
    <section>
      <header class="text-center mt-90 mb-50">
        <h1 class="kilo mb-35"><a href="/blog">Visit our blog</a></h1>
        <p class="zeta muted p--wide">See the blog for tons of articles, tips, tricks and opinions on all that is related to static web-tech.</p>
      </header>
      <div class="l-container">
        {% for post in site.posts | limit:3 %}
        <div class="l-third">
          {% include post-blurb.html %}
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Social links -->
    <section class="text-center mt-30 mb-80">
      <h1 class="gamma inline-block v-middle mr-40"><a href="/social">Socialize @</a></h1>

      <p class="inline-block v-middle">
        {% for link in site.social-links %}
        <a href="{{link[1]}}" class="icon-link--round icon-link--{{link[0]}}">
          <svg width="36" height="36" class="icon-{{link[0]}}--round">
            <use xlink:href="#icon-{{link[0]}}-round">
          </svg>
        </a>
        {% endfor %}
      </p>
    </section>

  </div><!-- end content-->
</section>

<script async src="http://localhost:8080/app.bundle.js"></script>
