---
layout: default
---

{{ content }}

<!-- Features -->
<section class="section inverse bg-dark-muted-cover">

  <div class="content">

    <h1 class="giga semibold">
      <span class="icon icon--l prepend offset">
        <svg><use xlink:href="#icon-features"></use></svg>
      </span>
      Features
    </header>

    <hr class="highlight">

    <ul class="grid grid--spacing">
    {% for feature in site.data.homepage_features %}
      <li class="col size-1-3">
        <section class="blurb blurb--offset">
          <svg class="blurb-icon"><use xlink:href="#{{feature.icon_id}}" /></svg>
          <h3 class="blurb-title zeta highlight">
            {{ feature.title }}
          </h3>
          <div class="blurb-text small">
            {{feature.description | markdownify}}
          </div>
        </section>
      </li>
    {% endfor %}
    </ul>

    <footer>
      <a class="epsilon link-more" href="/features.html">
        <strong>See More Features</strong>
      </a>
    </footer>
  </div>
</section>

<!-- Pull Quote -->
<section class="bg-white muted text-center">
  <div class="content content--wide">
    <p class="delta pullquote">
      <nobr><strong>{{site.data.stats.developers}}</strong> Developers</nobr> •
      <nobr><strong>{{site.data.stats.websites}}</strong> Web Sites</nobr> •
      <nobr><strong>{{site.data.stats.deploys}}</strong> Deploys</nobr>
    </p>
  </div>
</section>

<!-- Newsletter, Testimonials and Client Logos -->
<section class="section bg-light-muted muted">
  <div class="content content--narrow">

    <!-- Newsletter -->
    {% include newsletter.html %}

    <hr>

    <!-- Testimonials -->
    <section>
      <h1 class="alpha">What our clients say</h1>
      <ul class="grid grid--spacing">
        {% for testimonial in site.data.testimonials.quotes %}
        <li class="col size-1-3 size-1-2-m {% if forloop.last == true %}hide-m{% endif %}">
          <section class="blurb text-center">
            <header class="blurb-hd">
              <img src="{{testimonial.photo}}" alt="Photo of {{testimonial.cite}}" height="90">
            </header>
            <div class="blurb-bd">
              <blockquote>
                <p>“{{testimonial.quote}}”</p>
                <cite><a class="xx-small bold loud" href="{{testimonial.link}}" target="_blank">{{testimonial.cite}}</a></cite>
              </blockquote>
            </div>
          </section>
        </li>
        {% endfor %}
      </ul>
    </section>

    <hr>

    <!-- Client logos -->
    <section>
      <h1 class="alpha">A selection of our clients</h1>
      <div class="grid grid--img">
        {% image_tag src="/img/logos/sequoia.png" width="100" %}
        {% image_tag src="/img/logos/we-work.png" width="119" %}
        {% image_tag src="/img/logos/instrument.png" width="70" %}
        {% image_tag src="/img/logos/carrott.png" width="110" %}
        {% image_tag src="/img/logos/scripted.png" width="100" %}
        {% image_tag src="/img/logos/malala-fund.png" width="50" %}
        <br class="hide-m">
        {% image_tag src="/img/logos/vice.png" width="82" %}
        {% image_tag src="/img/logos/app-io.png" width="119" %}
        {% image_tag src="/img/logos/nbc.png" width="66" %}
        {% image_tag src="/img/logos/openstack.png" width="120" %}
        {% image_tag src="/img/logos/baccardi.png" width="120" %}
      </div>
    </section>

  </div>
</section>


<!-- Blog and Social Links -->
<section class="section inverse muted bg-dark-muted-cover">
  <div class="content content--narrow">

    <section>
      <header>
        <h1 class="kilo"><a href="/blog.html">Visit our blog</a></h1>
        <p class="zeta">See the blog for tons of articles, tips, tricks and opinions on all that is related to static web-tech.</p>
      </header>

      <ul class="grid grid--spacing">
        {% for post in site.posts | limit:3 %}
        <li class="col size-1-3 size-1-2-m {% if forloop.last == true %}hide-m{% endif %}">
          {% include post-blurb.html %}
        </li>
        {% endfor %}
      </ul>

      <div class="show-m">
        <ul class="grid grid--spacing">
          {% for post in site.posts | limit:2 | offset: 2 %}
          <li class="col size-1-2-m">
            {% include post-blurb.html %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section>
      <h1 class="gamma inline-block">
        <a href="/contact.html">Socialize @</a>
      </h1>

      <p class="gamma inline-block">
        {% for link in site.social-links %}
        <a href="{{link[1]}}" class="append icon icon--round icon--{{link[0]}}">
          <svg><use xlink:href="#icon-{{link[0]}}-round"></svg>
        </a>
      {% endfor %}
      </p>
    </section>

  </div>
</section>

{% if site.terminal == 'production' %}
<script>window.TUTORIAL_LOG_ENDPOINT = 'https://term.ops.netlify.com';</script>
{% endif %}

{% if site.terminal == 'local' %}
<script async src="http://localhost:8080/app.bundle.js"></script>
{% else %}
<script async src="https://terminal-tutorial-experiments.netlify.com/app.bundle.js"></script>
{% endif %}
