---
layout: default
---
<div class="l-wrap bg-light-muted-2">
  <div class="l-wrap-inner">
    
    <div class="l-main" role="main">
      <article class="post">
        <header class="post-hd">
          <h1 class="post-title">
            {{page.title}}
          </h1>
          <p class="post-meta">By {{page.author}}, {{page.date | date: "%B %-d %Y" }}</p>
        </header>
        <div class="post-img">
          <img src="{{page.image}}">
        </div>
        <div class="post-bd">
          {{content}}
        </div>
      </article>
      
      <div class="banner" role="complementary">
        <p>Made for web developers <strong class="highlight">Netlify</strong> is the default entry point to the world of static</p>
      </div>
    </div>
    
    <div class="l-aside inverse blog-aside" role="complementary">
      <h1 class="blog-aside-title">More Articles</h1>
      {% for i in (1..4) %}
        <article class="blurb">
          <header class="blurb-hd">
            <div class="media">
              <div class="media-img optional">
                <img src="http://placehold.it/80x80" srcset="http://placehold.it/80x80 1x, http://placehold.it/160x160 2x, http://placehold.it/240x240" alt="Mathias Biilmann" width="80" height="80">
              </div>
              <div class="media-bd">
                <h1 class="blurb-title">5 reasons to go static</h1>
                <p class="blurb-meta"><a href="#" class="link">by Mathias Biilmann</a></p>
              </div>
            </div>
          </header>
          <div class="blurb-bd">
            <p class="small muted">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>