---
layout: default
---
<div class="l-wrap bg-light-muted-2 l-mobile-menu">
  <div class="l-wrap-inner">
    <div class="l-aside l-aside--left inverse docs-aside" role="complementary">
      <nav class="site-nav inverse" role="navigation">
        <ul class="nav nav--primary nav--nested nav--flush-left">
          <li>
            <a href="/tos.html"{% if page.url == "/tos.html" %} class="current"{% endif %}>Terms of Service</a>
          </li>
          <li>
            <a href="/privacy.html"{% if page.url == "/privacy.html" %} class="current"{% endif %}>Privacy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="l-main l-main--right" role="main">
      <div class="content">
        <div class="legalese text">
          <hr class="bb">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</div>
