---
layout: default
---
<div class="l-wrap bg-light-muted-2">
  <div class="l-wrap-inner">
    <div class="l-aside l-aside--left inverse" role="complementary">
      <nav class="side-nav" role="navigation">
        <ul class="nav nav--primary">
          <li{% if page.url == "/tos.html" %} class="active"{% endif %}>
            <a href="/tos.html">Terms of Service</a>
          </li>
          <li{% if page.url == "/privacy.html" %} class="active"{% endif %}>
            <a href="/privacy.html">Privacy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="l-main l-main--right" role="main">
      <div class="content content--wide text text--legalese mb-60">
        {{content}}
      </div>
    </div>
  </div>
</div>
